﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" ng-if="coursePrograms.length > 0">
                            <li ng-class="{'active': isSelected(courseProgram)}" ng-repeat="courseProgram in coursePrograms">
                                <a class="clickable" ng-click="select(courseProgram)">
                                    {{{true: 'New Course Program', false: courseProgram.Name}[!courseProgram.Id]}}
                                    <i class="fa fa-times link clickable" ng-click="deleteCourseProgram(courseProgram)" title="Delete Course Program"></i>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="customer.courseprograms.create" ng-disabled="isCreating()" title="Add New Course Program"><i class="fa fa-plus"></i> Add New</a>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div ui-view class="top-space"></div>
                <div ng-if="coursePrograms.length === 0">
                    <h2>No Course Programs</h2>
                    <p>
                        The customer doesn't have any course programs.
                    </p>
                    <a title="Create New Course Program" ui-sref="customer.courseprograms.create" class="clickable btn btn-sm btn-default">Create New Course Program</a>
                </div>
            </div>
        </div>
    </div>
</div>