﻿<div class="row">
    <div class="col-md-4 col-border-right">

        <div class="row top-space">
            <div class="col-md-12">
                <educational-partner ng-show="!isBusy" label="Educational partner:" selection-changed="save()" selected-educational-partner="selectedEducationalPartner"></educational-partner>
                <select ng-show="isBusy" class="form-control" disabled>
                    <option>Saving...</option>
                </select>
            </div>
        </div>
        <div class="row top-space">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Model:</label>
                    </div>
                    <div class="col-md-10">
                        <div class="pull-right">
                            <i class="fa fa-pencil"></i> <a ui-sref="customer.courseprograms.item.edit">Edit Model</a>        
                        </div>
                    </div>
                </div>
                
                <ul class="cp-steps top-space">
                    <li class="cp-step-view" ng-repeat="step in courseProgram.Steps">
                        <div class="cp-name-box">
                            <span ng-show="step.Name">{{step.Name}}</span>
                            <span ng-show="!step.Name">(No Name)</span>
                        </div>
                        <ul class="cp-exams">
                            <li class="cp-exam-view selectable" ng-repeat="exam in step.Exams" ng-click="select(exam, 'exam')" ng-class="{'selected': isSelected(exam, 'exam')}">
                                <div class="cp-name-box">
                                    <span>{{exam.Name}}</span>
                                    <span ng-show="!exam.Name">(No Name)</span>
                                </div>
                            </li>
                        </ul>
                        <ul class="cp-modules">
                            <li class="cp-module-view selectable" ng-repeat="module in step.Modules" ng-click="select(module, 'module')" ng-class="{'selected': isSelected(module, 'module')}">
                                <div class="cp-name-box">
                                    <span>{{module.Name}}</span>
                                    <span ng-show="!module.Name">(No Name)</span>
                                </div>
                                <div class="cp-description">
                                    {{module.Description}}
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>            
            </div>
        </div>
        
    </div>
    <div class="col-md-8 col-border-left">
        <div ui-view></div>
    </div>
</div>