﻿<ng-form name="courseProgramForm">
    <h2 ng-show="isEditMode">Edit Course Program</h2>
    <h2 ng-show="!isEditMode">Create Course Program</h2>

    <p>
        Adjust course program module to fit your customer's program.
        In addition to remove and add new boxes, you can drag and drop them into right places.
    </p>
    <p>
        To create more than one program for a customer, click the "Add new" button.
    </p>
    
    <div class="form-horizontal">
        <div class="form-group" ng-class="{'has-error': courseProgramForm.name.$error.required}">
            <label class="col-md-2 control-label">Course Program Name:</label>
            <div class="col-md-10">
                <input type="text" style="width: 100%" class="form-control" name="name" ng-model="courseProgram.Name" required>    
            </div>
        </div>
    </div>
    

    <div class="cp-box cp-drop-zone">
        <a class="clickable" ng-click="addStep()"><i class="fa fa-plus"></i> Add Step</a>
    </div>

    <ul ui-sortable="sortableStepsOptions" ng-model="courseProgram.Steps" class="cp-steps">
        <li class="cp-step" ng-repeat="step in courseProgram.Steps">
            <div class="cp-name-box">
                <label>Step Name:</label>
                <input type="text" ng-model="step.Name" class="form-control" placeholder="Step Name" />
            </div>
            <div class="cp-box cp-drop-zone" style="margin-top: 14px;">
                <a class="clickable" ng-click="addExam(step)"><i class="fa fa-plus"></i> Add Exam</a>
            </div>
            <ul ui-sortable="sortableExamsOptions" ng-model="step.Exams" class="cp-exams" style="min-height: 5px;">
                <li class="cp-exam" ng-repeat="exam in step.Exams">
                    <div class="cp-name-box">
                        <label>Name:</label>
                        <input type="text" ng-model="exam.Name" class="form-control" placeholder="Exam Name" />
                    </div>
                    <div class="cp-remove">
                        <a class="clickable" ng-click="removeExam(step, exam)"><i class="fa fa-minus"></i> Remove Exam</a>
                    </div>
                </li>
            </ul>
            <ul ui-sortable="sortableModulesOptions" ng-model="step.Modules" class="cp-modules-dropzone" ng-class="(step.Modules.length > 0) ? 'cp-modules' : 'cp-modules-empty'" style="min-height: 5px">
                <li class="cp-module" ng-repeat="module in step.Modules">
                    <div class="cp-name-box">
                        <label>Name:</label>
                        <input type="text" ng-model="module.Name" class="form-control" placeholder="Module Name" />
                    </div>
                    <div class="cp-description">
                        <label>Description:</label>
                        <textarea ng-model="module.Description"></textarea>
                    </div>

                    <div class="cp-remove">
                        <a class="clickable" ng-click="removeModule(step, module)"><i class="fa fa-minus"></i> Remove Module</a>
                    </div>
                </li>
            </ul>

            <div class="cp-module cp-drop-zone">
                <a class="clickable" ng-click="addModule(step)"><i class="fa fa-plus"></i> Add Module</a>
            </div>

            <div class="cp-remove">
                <a class="clickable" ng-click="removeStep(step)"><i class="fa fa-minus"></i> Remove Step</a>
            </div>
        </li>
    </ul>
    
    <div>
        <hr />
        <div class="pull-right">
            <a ng-click="cancel()" class="btn btn-sm btn-default">Cancel</a>
            <a ng-if="isEditMode" ng-disabled="!courseProgramForm.$valid" ng-click="save()" class="btn btn-sm btn-primary" busy-button is-busy="isBusy" busy-text="Saving...">Save</a>
            <a ng-if="!isEditMode" ng-disabled="!courseProgramForm.$valid" ng-click="save()" class="btn btn-sm btn-primary" busy-button is-busy="isBusy" busy-text="Creating Course Program...">Create Course Program</a>
        </div>
    </div>
</ng-form>