﻿<h2>{{courseProgramItem.Name}}</h2>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs top-space" ng-if="customerArticles.length > 0">
            <li ng-class="{'active': isCustomerArticleSelected(customerArticle)}" ng-repeat="customerArticle in customerArticles">
                <a class="clickable" ng-click="selectCustomerArticle(customerArticle)">
                    {{{true: 'New Course Program', false: customerArticle.ArticlePath}[!customerArticle.Id]}}
                    <i class="fa fa-times link clickable" ng-click="deleteCustomerArticle(customerArticle)" title="Delete Customer Article"></i>
                </a>
            </li>
            <li>
                <a class="clickable" title="Add New Customer Article" ng-click="createNewCustomerArticle()"><i class="fa fa-plus"></i> Add New</a>
            </li>
        </ul>
        <div ng-if="customerArticles.length === 0">
            <p>
                There are no customer articles
            </p>
            <a class="btn btn-sm btn-default" ng-click="createNewCustomerArticle()"><i class="fa fa-plus"></i> Create New Customer Article</a>
        </div>
    </div>
</div>

<div ui-view></div>