﻿<div class="row top-space">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ng-click="create()" busy-button is-busy="isBusyCreating" busy-text="<i class=' fa fa-spinner fa-spin'></i> Create new activity">
                <i class="fa fa-plus"></i> Create new activity
            </a>
        </div>        
    </div>
</div>
<table ng-if="activities.Items.length > 0" class="table table-condensed table-condensed top-space" style="background-color: #FFF">
    <thead>
        <tr>
            <th>
                <sortable-header title="Title" order-by="name" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
            </th>
            <th>
                <sortable-header title="Start" order-by="activitystart" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
            </th>
            <th>
                <sortable-header title="End" order-by="activityend" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
            </th>
            <th>Timezone</th>
            <th ng-if="!isMockexam">
                <sortable-header title="Course link" order-by="rcocourseversion" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
            </th>
            <th ng-if="isMockexam">
                <sortable-header title="Exam link" order-by="rcoexamname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="activity in activities.Items">
            <td><a ui-sref="customer.activities.overview.activities.item.view({activityId: activity.ActivityId})">{{activity.Name}}</a></td>
            <td>{{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}}</td>
            <td>{{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}}</td>
            <td>{{activity.MomentTimezoneName | momentTimezoneDisplay}}</td>
            <td>
                <a ng-if="!isMockexam && activity.RcoCourseId" ng-click="openRcoCourseInfoModal(activity.RcoCourseId)" class="clickable">{{activity.RcoCourseVersion}}</a>
                <a ng-if="isMockexam && activity.RcoExamContainerId" ng-click="openRcoExamInfoModal(activity.RcoExamContainerId)" class="clickable">{{activity.RcoExamContainerName}}</a>
            </td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-sm btn-default btn-sm btn-table" ui-sref="customer.activities.overview.activities.item.edit({activityId: activity.ActivityId})" title="Edit activity" busy-button is-busy="activity.isBusy" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-sm btn-default btn-sm btn-table" ng-click="copy(activity)" title="Copy activity" busy-button is-busy="activity.isBusyCopying" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-files-o"></i></a>
                    <a class="btn btn-sm btn-default btn-sm btn-table" ng-click="delete(activity)" title="Delete activity" busy-button is-busy="activity.isBusyDeleting" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-trash-o"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<a ng-if="activities.Items.length < activities.TotalCount" 
   class="btn btn-default btn-sm" 
   ui-sref="customer.courseprograms.item.view.cpitem.customerarticle.activities({limit: -1})">Load all activities({{activities.TotalCount}})</a>