﻿<div class="row">
    <div class="col-md-7">
        <div class="row">
            <label class="control-label col-md-4 top-space" style="vertical-align: text-bottom">Title:</label>
            <div class="col-md-8 top-space">{{customerArticleArticle.Title}}</div>
        </div>
        <div class="row">
            <label ng-if="!customerArticle.FixedPriceNotBillable" class="control-label col-md-4">Fixed Price:</label>
            <div ng-if="!customerArticle.FixedPriceNotBillable" class="col-md-8">{{customerArticle.FixedPrice | currency:currencyCode+' '}}</div>
        </div>

        <div class="row">
            <label ng-if="!customerArticle.UnitPriceNotBillable" class="control-label col-md-4">Price Per Participant:</label>
            <div ng-if="!customerArticle.UnitPriceNotBillable" class="col-md-8">{{customerArticle.UnitPrice | currency:currencyCode+' '}}</div>
        </div>
        <div class="row">
            <label class="control-label col-md-4">Educational Partner:</label>
            <educational-partner class="col-md-8" readonly="true" selected-educational-partner="selectedEducationalPartner"></educational-partner>
            <br/>
        </div>
    </div>
    <div class="col-md-5">
        <div class="top-space pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-pencil"></i>
                    Edit 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="customer.articles.item.edit({customerArticleId: customerArticle.Id})">Customer Article</a>
                    </li>
                    <li>
                        <a ng-click="showCustomInfoModal()">Custom fields</a>
                    </li>
                    <li ng-if="customerArticle.ArticleTypeId === 3 || customerArticle.ArticleTypeId === 6">
                        <a ng-click="showEnrollmentConditionsModal()">Enrollment conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div>
    <div class="top-space"></div>
    <product-article-metadata-view article="customerArticleArticle"></product-article-metadata-view>
</div>

<div ui-view></div>

