﻿<div class="row comment-area">
    <div ng-if="header" class="col-md-12">
        <h4>{{header}}</h4>
    </div>
    <div class="col-md-12">
        <div ng-if="isInitialized">

            <div ng-repeat="comment in comments" class="row comment-box panel panel-default">
                <div class="panel-heading">
                    <span ng-if="comment.Entity == 'participant'" ng-init="activity = getActivity(comment)">
                        <strong>Activity:</strong>
                        <a ui-sref="customer.activities.overview.activities.item.view({customerId: activity.CustomerId, activityId: activity.ActivityId, selectedTab: null})">
                            {{activity.Name}}
                        </a>
                    </span>
                    <div ng-if="comment.Entity == 'user'">
                        <strong>User: </strong>
                        <!--<a ng-click="cancel()" ui-sref="user.overview.details({userId: participations[0].UserId, section: null})">-->
                        {{participations[0].FirstName}} {{participations[0].LastName}}
                        <!--</a>-->
                    </div>
                    <div ng-if="comment.Entity == 'enrollment'" ng-init="activityset = getActivitySet(comment)">
                        <strong>Activityset: </strong>
                        {{activityset.Name}}
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <p ng-bind-html="comment.CommentText"></p>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <hr style="margin-bottom: 8px; margin-top: 8px;"/>
                        <em>{{comment.LastModified | localDate}} - {{comment.User.FirstName}} {{comment.User.LastName}}</em>
                        <div class="pull-right">
                            <i class="comment-actions fa fa-trash-o" ng-click="deleteComment(comment)" title="Delete comment"></i>
                        </div>
                    </div>
                </div>
            </div>

                    <textarea class="form-control vertical-scrollbar top-space" rows="5" placeholder="Comment here..." ng-model="newComment.CommentText"></textarea>

                    <div>
                        <span title="Saving..." ng-show="isBusySaving"><span class="fa fa-spinner fa-spin"></span> Saving comment</span>
                        <a class="btn btn-sm btn-default clickable pull-right" ng-disabled="!newComment.CommentText || isBusySaving" ng-click="addComment()">Add Comment</a>
                        <a class="btn btn-sm btn-default clickable pull-right" ng-if="showCloseButton || isBusySaving" ng-click="close()">Close</a>
                    </div>

                </div>
                <div ng-if="!isInitialized">
                    <div class="row">
                        <div class="col-md-12">
                            <i class="fa fa-spinner fa-spin" title="Loading..."></i> Loading comments
                        </div>
                    </div>
                </div>
            </div>
        </div>