<div class="row col-md-12" ng-controller="CustomerCreateInfoCtrl">
    <fieldset>
        <legend>Customer Info</legend>
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">

                <ng-form name="basicInfoForm">

                    <div class="form-group">
                        <label class="control-label col-md-4">Customer Name</label>

                        <!--If not default provider, and new corporate customer is about to be created-->
                        <div class="col-md-8" ng-show="showSearchExternalCustomerComponent" ng-class="{'has-error': basicInfoForm.name.$error.required}">
                            <div ng-show="searchExternalCustomerBusy" class="customer-search-spinner">
                                <span class="fa fa-spinner fa-spin"></span>
                            </div>
                            <input ui-event="{blur: 'setValidSelectedExternalCustomer()' }" class="form-control" type="text" name="name"
                                   placeholder="{{searchCustomerPlaceholder}}"
                                   ng-model="selectedExternalCustomer"
                                   typeahead="externalCustomer as externalCustomer.Name + ' (' + externalCustomer.Id + ')' for externalCustomer in searchExternalCustomer($viewValue)"
                                   typeahead-wait-ms="400"
                                   typeahead-on-select="onExternalCustomerSelected(selectedExternalCustomer)" ng-required="showSearchExternalCustomerComponent"/>
                        </div>

                        <!--If default provider, or a new arbitrary customer is about to be created-->
                        <div class="col-md-8" ng-show="!showSearchExternalCustomerComponent" ng-class="{'has-error': basicInfoForm.customername.$error.required}">
                            <input type="text" class="form-control" name="customername" placeholder="Name of customer" ng-model="customer.Name" ng-disabled="!canEditCustomerName" ng-required="!showSearchExternalCustomerComponent"/>
                        </div>

                    </div>
                    <div class="row" ng-show="existingCustomerId">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="alert alert-danger">
                                <a class="close" ng-click="existingCustomerId = false" aria-hidden="true">&times;</a>
                                <p>
                                    <i class="fa fa-exclamation-triangle"></i> Customer already exist
                                </p>
                                <p>
                                    <a class="alert-link" ui-sref="customer.overview.details({customerId: existingCustomerId})">Open customer</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Parent Organization</label>
                        <div class="col-md-8">
                            <customer-search selected-customer-id="customer.ParentId"></customer-search>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Organization Number</label>
                        <div class="col-md-8">
                            <input name="organizationNumber" type="text" class="form-control" ng-disabled="!canEditCustomerName || (!distributor.HasDefaultInvoiceProvider && !!customer.ExternalCustomerId)" ng-model="customer.CompanyRegistrationNumber" ng-blur="onCompanyRegistrationNumberEntered(customer.CompanyRegistrationNumber)" ng-change="existingCustomerIdByCompanyRegistrationNumber = null;" placeholder="Company Registration Number"/>
                        </div>
                    </div>

                    <div class="row" ng-show="existingCustomerIdByCompanyRegistrationNumber">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="alert alert-danger">
                                <a class="close" ng-click="existingCustomerIdByCompanyRegistrationNumber = false" aria-hidden="true">&times;</a>
                                <p>
                                    <i class="fa fa-exclamation-triangle"></i> Customer already exist
                                </p>
                                <p>
                                    <a class="alert-link" ui-sref="customer.overview.details({customerId: existingCustomerIdByCompanyRegistrationNumber})">Open customer</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Language</label>
                        <div class="col-md-8" ng-class="{'has-error': basicInfoForm.language.$error.required}">
                            <select name="language" class="form-control" required
                                    ng-model="customer.LanguageId"
                                    ng-selected="customer.LanguageId"
                                    ng-options="language.Id as language.Name for language in languages"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Customer Portal (URL)</label>
                        <div class="col-md-8">
                            <input name="portalUrl" type="text" class="form-control" ng-model="customer.ParticipantInfoDefinition.CustomerPortalUrl" placeholder="http://urltocustomerportal"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Customer Portal Name</label>
                        <div class="col-md-8">
                            <input name="portalUrl" type="text" class="form-control" ng-model="customer.ParticipantInfoDefinition.CustomerPortalFriendlyName" placeholder="Friendly Name" />
                        </div>
                    </div>

                </ng-form>
            </div>

            <!-- Right -->
            <div class="col-md-6">
                <ng-form name="invoiceAddressForm" ng-disabled="useMailAddressAsInvoiceAddess">

                    <h4>Invoice Address</h4>

                    <div class="form-group">
                        <label class="control-label col-md-4">Address 1</label>
                        <div class="col-md-8" ng-class="{'has-error': invoiceAddressForm.invoiceaddress1.$error.required}">
                            <input type="text" class="form-control" ng-required="!distributor.HasDefaultInvoiceProvider && canEditInvoiceAddress" name="invoiceaddress1" ng-model="invoiceAddress.AddressStreet1" ng-change="copyToMailAddress()" ng-disabled="!canEditInvoiceAddress" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Address 2</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="invoiceAddress.AddressStreet2" ng-change="copyToMailAddress()" ng-disabled="!canEditInvoiceAddress" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Zip / City</label>
                        <div class="col-md-3" ng-class="{'has-error': invoiceAddressForm.invoicezip.$error.required}">
                            <input type="text" class="form-control" name="invoicezip" ng-required="!distributor.HasDefaultInvoiceProvider && canEditInvoiceAddress" ng-model="invoiceAddress.ZipCode" ng-change="copyToMailAddress()" ng-disabled="!canEditInvoiceAddress" />
                        </div>
                        <div class="col-md-5" ng-class="{'has-error': invoiceAddressForm.invoicecity.$error.required}">
                            <input type="text" class="form-control" name="invoicecity" ng-model="invoiceAddress.City" ng-required="!distributor.HasDefaultInvoiceProvider && canEditInvoiceAddress" ng-change="copyToMailAddress()" ng-disabled="!canEditInvoiceAddress" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Country</label>
                        <div class="col-md-8" ng-class="{'has-error': invoiceAddressForm.invoicecountry.$error.required}">
                            <input type="text" class="form-control" name="invoicecountry" ng-required="!distributor.HasDefaultInvoiceProvider && canEditInvoiceAddress" ng-model="invoiceAddress.Country" ng-change="copyToMailAddress()" ng-disabled="!canEditInvoiceAddress" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="useInvoiceAddressAsMailAddess" ng-change="copyToMailAddress()"> Use invoice address as mail address
                                </label>
                            </div>
                        </div>
                    </div>

                </ng-form>

                <ng-form name="mailAddressForm">
                    <h4>Mail Address</h4>

                    <div class="form-group">
                        <label class="control-label col-md-4">Address 1</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="mailAddress.AddressStreet1" ng-disabled="useInvoiceAddressAsMailAddess" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Address 2</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="mailAddress.AddressStreet2" ng-disabled="useInvoiceAddressAsMailAddess" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Zip / City</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" ng-model="mailAddress.ZipCode" ng-disabled="useInvoiceAddressAsMailAddess" />
                        </div>
                        <div class="col-md-5">
                            <input type="text" class="form-control" ng-model="mailAddress.City" ng-disabled="useInvoiceAddressAsMailAddess" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Country</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="mailAddress.Country" ng-disabled="useInvoiceAddressAsMailAddess" />
                        </div>
                    </div>
                </ng-form>
            </div>    
        </div>
        
    </fieldset>
         
</div>