<h1 ng-show="!isEditMode">
    Create new
    <span ng-show="{{customer.IsArbitrary}}">arbitrary</span>
    <span ng-show="!{{customer.IsArbitrary}}">corporate</span>
    customer
</h1>
<div class="row">
    <div class="col-md-12">
        <ng-form class="form-horizontal" name="customerform">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row" ng-if="isEditMode">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a class="btn btn-sm btn-default btn-sm" ng-disabled="true"><i class="fa fa-pencil"></i> Edit</a>
                            </div>
                        </div>
                    </div>
                    <div class="row top-space">
                        <div class="col-md-2 col-border-right">
                            <ul class="nav nav-pills nav-stacked">
                                <li ng-repeat="template in templates" ng-class="{active: isActiveTemplate(template)}" ng-show="isEditMode || $first">
                                    <a class="clickable" ng-click="setActiveTemplate(template)">{{template.name}} <span ng-show="isCommentsLoaded && template.name === 'Comments'">({{commentCount}})</span> <span ng-show="!isCommentsLoaded && template.name === 'Comments'" class="fa fa-spinner fa-spin"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-10 col-border-left">
                            <div ng-repeat="template in templates" ng-include="template.url" ng-show="isActiveTemplate(template)"></div>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-12">
                            <div class="pull-right" ng-show="isEditMode">
                                <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
                                <a class="btn btn-sm btn-primary" ng-disabled="!customer.Id" ng-click="deleteAndClose()" busy-button is-busy="isBusy" busy-text="Deleting...">Delete</a>
                                <a class="btn btn-sm btn-primary" ng-click="saveAndClose()" ng-disabled="!customerform.$valid" busy-button is-busy="isBusy" busy-text="Saving...">Save</a>
                            </div>
                            <div class="pull-right" ng-show="!isEditMode">
                                <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
                                <a class="btn btn-sm btn-primary" ng-click="createCustomer()" ng-disabled="!customerform.$valid" busy-button is-busy="isBusy" busy-text="Creating Customer...">Create Customer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </ng-form>        
    </div>
    
</div>

