<div class="row col-md-12" ng-controller="CustomerInvoicingCtrl">
    <fieldset>
        <legend>Invoice Conditions</legend>
        <ng-form name="invoiceForm">
            
            <div class="row">
                <!-- Left -->
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="isGroupByParticipant"
                                   ng-change="groupByParticipantChanged()" /> Invoice by participant
                        </label>
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Show on invoice lines</th>
                                <th>Group invoices by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customLeadingText in customer.CustomLeadingTexts">
                                <td>{{customLeadingText.Text}}</td>
                                <td>
                                    <input type="checkbox" class="checkbox" ng-model="customLeadingText.IsVisibleInvoiceLine" ng-disabled="!customLeadingText.IsVisible" />
                                </td>
                                <td>
                                    <input type="checkbox" class="checkbox" ng-model="customLeadingText.IsGroupByOnInvoice" ng-change="invoiceGroupingChanged(customLeadingText)" ng-disabled="!customer.CustomerInvoicing.BundledBilling || !customLeadingText.IsVisible" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Right -->
                <div class="col-md-6">
                    <fieldset>
                        <legend>Invoice Header</legend>
                    </fieldset>
                    <div class="form-group">
                        <label class="control-label col-md-4">Your Order</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="customer.CustomerInvoicing.OrderRefLeadingTextId" ng-change="orderRefChanged()" ng-selected="customer.CustomerInvoicing.OrderRefLeadingTextId"
                                    ng-options="orderRef.Value as orderRef.Display for orderRef in invoiceRefs"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input class="form-control" type="text" ng-disabled="customer.CustomerInvoicing.OrderRefLeadingTextId !== 'CustomText'" ng-model="customer.CustomerInvoicing.OrderRefCustomText" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Your Ref</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="customer.CustomerInvoicing.YourRefLeadingTextId" ng-change="yourRefChanged()" ng-selected="customer.CustomerInvoicing.YourRefLeadingTextId"
                                    ng-options="yourRef.Value as yourRef.Display for yourRef in invoiceRefs"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input class="form-control" type="text" ng-disabled="customer.CustomerInvoicing.YourRefLeadingTextId !== 'CustomText'" ng-model="customer.CustomerInvoicing.YourRefCustomText" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Our Ref</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="customer.CustomerInvoicing.OurRef" />
                        </div>
                    </div>
                </div>
            </div>
        </ng-form>

    </fieldset>

</div>