<div class="row col-md-12">
	<ng-form name="automailsForm">
	    <fieldset>
	        <legend>Automails</legend>
	        <div class="row col-md-12">
	            <h4>Automails to User</h4>
	            <div class="checkbox">
	                <label>
	                    <input type="checkbox" checked disabled />Password reset
	                </label>
	            </div>
	            <div class="checkbox">
	                <label>
	                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsWelcomeNotification" />User registration
	                </label>
	            </div>
	            <div>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="customer.AutomailDefinition.IsEnrollmentNotification" />Enrollment confirmation / Completed notification
					</label>
                    <label class="radio-inline" ng-if="customer.AutomailDefinition.IsEnrollmentNotification">
                        <input type="radio" ng-value="false" ng-model="customer.AutomailDefinition.IsExcludeProgressSchedule" />
                        Include progress schedule, e-learning
                    </label>
                    <label class="radio-inline" ng-if="customer.AutomailDefinition.IsEnrollmentNotification">
                        <input type="radio" ng-value="true" ng-model="customer.AutomailDefinition.IsExcludeProgressSchedule" />
                        Exclude progress schedule, e-learning
                    </label>
	            </div>
	            <div class="checkbox">
	                <label>
	                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsProgressNotificationElearning" />E-learning progress
	                </label>
	            </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="customer.AutomailDefinition.IsExamSubmissionNotification" />Exam submission
                    </label>
                </div>

	            <div class="checkbox">
	                <label>
	                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsReminder" />Reminder
	                </label>
	            </div>
	            <h4>Automails to Customer</h4>
	            <label class="control-label">Confirmation of all enrollments will be sent to the following e-mail address:</label>
	            <div ng-class="{'has-error': automailsForm.email.$error.email}">
	                <input type="email" name="email" class="form-control" ng-model="customer.ParticipantInfoDefinition.EmailConfirmationAddress" placeholder="E-mail address" />
	            </div>
                
                <h4>Additional info text</h4>
                <text-angular ng-model="customer.AutomailDefinition.AutomailText"></text-angular>
	        </div>
		</fieldset>
	</ng-form>
</div>