<div class="row col-md-12" ng-controller="CustomerCreateAdvancedSettingsCtrl">
    <ng-form name="userTermsForm">

        <fieldset>
            <legend>Advanced Settings</legend>
            <div class="row">
                <!-- Right -->
				<div class="col-md-6">
					<h4>Learning Portal</h4>

					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.ParticipantInfoDefinition.IsAllowUsersToSelfEnrollToCourses" /> Allow users to self-enroll to courses
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.ParticipantInfoDefinition.IsAllowUsersToSelfEnrollToExams" /> Allow users to self-enroll to exams
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.ParticipantInfoDefinition.IsShowPricesToUserOnPortal" /> Show prices to user
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.IsMetierPlusCustomer" /> Metier+ Customer
								</label>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-5">Competition Mode</label>
						<div class="col-md-6">
							<label class="radio-inline">
								<input type="radio" value="0" ng-model="customer.ParticipantInfoDefinition.CompetitionMode" />
								Full
							</label>
							<label class="radio-inline">
								<input type="radio" value="1" ng-model="customer.ParticipantInfoDefinition.CompetitionMode" />
								Classmates
							</label>
							<label class="radio-inline">
								<input type="radio" value="2" ng-model="customer.ParticipantInfoDefinition.CompetitionMode" />
								None
							</label>
						</div>
					</div>

					<h4>Additional Fields</h4>
					<div class="form-group">
						<div class="col-md-12">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>Visible</th>
										<th>Mandatory</th>
										<th width="100%">Leading text</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="leadingText in predefinedLeadingTexts">
										<td>
											<input type="checkbox" class="checkbox" ng-model="leadingText.customLeadingText.IsVisible" ng-change="updateCustomLeadingText(leadingText.customLeadingText)" ng-disabled="leadingText.IsVisibleFixed" />
										</td>
										<td>
											<input type="checkbox" class="checkbox" ng-model="leadingText.customLeadingText.IsMandatory" ng-disabled="leadingText.IsMandatoryFixed" ng-change="leadingText.customLeadingText.IsVisible = leadingText.customLeadingText.IsMandatory || leadingText.customLeadingText.IsVisible" />
										</td>
										<td>
											<div ng-show="leadingText.isEditing">
												<input type="text" class="form-control"
													   ng-model="leadingText.customLeadingText.Text"
													   ui-keydown="{'enter': 'stopLeadingTextEdits(leadingText)'}"
													   ui-event="{blur: 'stopLeadingTextEdits(leadingText)' }"
													   focus-me="leadingText.isEditing" select-on-focus />
											</div>
											<div ng-show="!leadingText.isEditing">
												<div>
													<span title="Click to edit"
														  ui-event="{mouseenter: 'suggestLeadingTextEditMode(leadingText)',
													mouseleave: 'discardLeadingTextEditModeSuggestion(leadingText)'}"
														  ng-class="{clickable: leadingText.isSuggestionVisible}"
														  ng-click="startLeadingTextEditMode(leadingText)">

														{{leadingText.customLeadingText.Text}}<span ng-show="isTextEdited(leadingText)"><i> ({{leadingText.Text}})</i></span> <i ng-show="leadingText.isSuggestionVisible" class="fa fa-pencil"></i>
													</span>
													<span ng-show="!leadingText.isEditing && isTextEdited(leadingText)">
														<a class="clickable" ng-click="revertToOrignialText(leadingText)">Change back</a>
													</span>
												</div>
											</div>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<h4>Diploma Settings</h4>
					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.DiplomaShowElearningLessons" /> Show Elearning Lessons
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.DiplomaShowCustomerLogo" /> Show Customer Logo
								</label>
							</div>

							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="customer.DiplomaShowCustomSignature" /> Show Custom Signature
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label col-md-4">Custom Signature</label>
								<div class="col-md-8">
									<input name="customSignature" type="text" class="form-control ng-pristine ng-valid" ng-model="customer.DiplomaCustomSignatureText" placeholder="Custom Signature">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-4">Custom Signature Title</label>
								<div class="col-md-8">
									<input name="customSignature" type="text" class="form-control ng-pristine ng-valid" ng-model="customer.DiplomaCustomSignatureTitle" placeholder="Custom Signature Title">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-4">Signature Image</label>
								<div class="col-md-8">

									<attachment-upload file-uploaded="onDiplomaSignatureUploaded(attachment)" edit-title="false" edit-description="false"></attachment-upload>
									<div ng-if="customer.DiplomaSignatureAttachment">
										<label class="control-label">Uploaded File:</label>
										<div>
											<span><i class="fa fa-file"></i></span>
											<a ng-if="customer.DiplomaSignatureAttachment" ng-href="{{customer.DiplomaSignatureAttachment | attachmentPath}}" title="{{customer.DiplomaSignatureAttachment.Title}}" target="_blank">{{customer.DiplomaSignatureAttachment.Title}}</a>
											<a ng-if="customer.DiplomaSignatureAttachment" ng-click="deleteDiplomaSignature(customer.DiplomaSignatureAttachment)" title="Delete diploma signature document" class="pull-right clickable"><i class="fa fa-times"></i> </a>
											<div title="{{customer.DiplomaSignatureAttachment.Description}}">{{customer.DiplomaSignatureAttachment.Description}}</div>
										</div>
									</div>
								</div>
							</div>


							<div class="form-group">
								<label class="control-label col-md-4">Logo Image</label>
								<div class="col-md-8">

									<attachment-upload file-uploaded="onDiplomaLogoUploaded(attachment)" edit-title="false" edit-description="false"></attachment-upload>
									<div ng-if="customer.DiplomaLogoAttachment">
										<label class="control-label">Uploaded File:</label>
										<div>
											<span><i class="fa fa-file"></i></span>
											<a ng-if="customer.DiplomaLogoAttachment" ng-href="{{customer.DiplomaLogoAttachment | attachmentPath}}" title="{{customer.DiplomaLogoAttachment.Title}}" target="_blank">{{customer.DiplomaLogoAttachment.Title}}</a>
											<a ng-if="customer.DiplomaLogoAttachment" ng-click="deleteDiplomaLogo(customer.DiplomaLogoAttachment)" title="Delete exam document" class="pull-right clickable"><i class="fa fa-times"></i> </a>
											<div title="{{customer.DiplomaLogoAttachment.Description}}">{{customer.DiplomaLogoAttachment.Description}}</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>

					<h4>Terms and Conditions Text</h4>
					<div class="form-group">
						<div class="col-md-12">
							<text-angular ng-model="customer.ParticipantInfoDefinition.TermsAndConditionsText"></text-angular>
						</div>
					</div>

				</div>
            </div>
        </fieldset>
    </ng-form>
</div>