﻿<div class="row col-md-12" ng-controller="CustomerContactPersonsCtrl">
    <fieldset>
        <legend>Contact Persons</legend>
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">
                <ng-form name="contactPersonsForm">
                    <h4>Customer Contact Persons</h4>

                    <div ng-repeat="contactPerson in customer.CustomerContactPersons" class="well well-sm" ng-show="!contactPerson.IsDeleted">
                        <ng-form name="contactPersonForm">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="button" class="close" ng-click="removeCustomerContactPerson(contactPerson)">&times;</button>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">Name</label>
                                <div class="col-md-8">
                                    <input type="text" name="name" class="form-control" ng-model="contactPerson.Name" />
                                </div>

                                <label class="control-label col-md-4">Title</label>
                                <div class="col-md-8">
                                    <input type="text" name="title" class="form-control" ng-model="contactPerson.Title" />
                                </div>

                                <label class="control-label col-md-4">E-mail</label>
                                <div class="col-md-8" ng-class="{'has-error': contactPersonForm.email.$error.email}">
                                    <input type="email" name="email" class="form-control" ng-model="contactPerson.Email" />
                                </div>

                                <label class="control-label col-md-4">Phone</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="contactPerson.TelephoneNumber" />
                                </div>

                                <label class="control-label col-md-4">Responsible For</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" ng-model="contactPerson.ResponsibleFor" />
                                </div>
                            </div>
                        </ng-form>
                    </div>
                    <a class="btn btn-sm btn-default" ng-click="addCustomerContactPerson()"><i class="fa fa-plus"></i> Add more contact persons</a>
                </ng-form>
            </div>
            <!--Right-->
            <div class="col-md-6">
                <ng-form class="form-horizontal" name="metierContactPersonsForm">
                    <h4>Metier Contact Persons</h4>
                    <div class="form-group">
                        <label class="control-label col-md-4">Account Manager</label>
                        <div class="col-md-8">
                            <user-search ng-model="accountManager" on-blur="setValidUser(accountManager, 0)" on-user-selected="onUserSelected(accountManager, 0)"></user-search>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Program Coordinator</label>
                        <div class="col-md-8">
                            <user-search ng-model="programCoordinator" on-blur="setValidUser(programCoordinator, 1)" on-user-selected="onUserSelected(programCoordinator, 1)"></user-search>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Exam Coordinator</label>
                        <div class="col-md-8">
                            <user-search ng-model="examCoordinator" on-blur="setValidUser(examCoordinator, 2)" on-user-selected="onUserSelected(examCoordinator, 2)"></user-search>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Subject Matter Expert</label>
                        <div class="col-md-8">
                            <user-search ng-model="subjectMatterExpert" on-blur="setValidUser(subjectMatterExpert, 3)" on-user-selected="onUserSelected(subjectMatterExpert, 3)"></user-search>
                        </div>
                    </div>
                </ng-form>
            </div>        
        </div>
    </fieldset>
</div>