﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Merge Users</h4>
</div>
<div class="modal-body row">
    <div class="col-md-12">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <user-search ng-model="selectedUser" distributor-id="getDistributorId()" on-user-selected="onUserSelected(selectedUser)"></user-search>
        </div>
        <br/>
        <br/>
        <br/>
        <div class="col-md-6 col-border-right">
            <div class="row">
                <div class="col-md-3"><label>Firstname: </label>
                </div>
                <div class="col-md-9">{{user.FirstName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Lastname: </label>
                </div>
                <div class="col-md-9">{{user.LastName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Username: </label>
                </div>
                <div class="col-md-9">{{user.MembershipUserId}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Company: </label>
                </div>
                <div class="col-md-9">{{user.Customer.Name}}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3"><label>Firstname: </label>
                </div>
                <div class="col-md-9">{{selectedUser.FirstName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Lastname: </label>
                </div>
                <div class="col-md-9">{{selectedUser.LastName}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Username: </label>
                </div>
                <div class="col-md-9">{{selectedUser.MembershipUserId}}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><label>Company: </label>
                </div>
                <div class="col-md-9">{{selectedUser.CustomerName}}</div>
            </div>
            <!-- Add some vertical space -->
            <div class="row">&nbsp;
            </div>
            <div class="row">
                &nbsp;
            </div>
        </div>
        <div class="col-md-12">
            <div class="btn-group col-md-12" role="group" aria-label="...">
                <button class="btn col-md-6" ng-class="{'btn-primary': radioModel=='Left', 'btn-default': radioModel!='Left'}" ng-model="radioModel" ng-click="setMergeDirection('Left')" btn-radio="'Left'">Keep this user</button>
                <button class="btn col-md-6" ng-class="{'btn-primary': radioModel=='Right', 'btn-default': radioModel!='Right'}" ng-model="radioModel" ng-click="setMergeDirection('Right')" btn-radio="'Right'">Keep this user</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-left">
        <span ng-show="isMerging">Merging users...</span>
    </div>
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="isMerging">Close</a>
        <a class="btn btn-sm btn-primary" ng-click="merge()" ng-disabled="!selectedUser">Merge Users</a>
    </div>
</div>