﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Edit Users</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="file" accept=".xlsx" xlsx-file-select="locals.selectedFile" class="pull-left" />
                <span class="pull-left" style="margin-top: 3px;" ng-show="locals.selectedFile" ng-click="locals.selectedFile = null">
                    <a class="clickable" title="Clear selected file" ng-click="locals.selectedFile = null"><i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a class="btn btn-default btn-sm" ng-href="{{'templates/users-bulk-edit-template.xlsx' | assetRef}}"><i class="fa fa-file-text-o"></i> Download template</a>
                </div>
            </div>
        </div>

        <table class="table table-condensed" ng-if="locals.users.length > 0">
            <thead>
                <tr>
                    <th><input type="checkbox" title="Select All" ng-disabled="locals.canSelectAll" ng-model="locals.isAllUsersSelected" ng-change="toggleSelectAllUsers()" /></th>
                    <th>E-mail</th>
                    <th>External User ID</th>
                    <th ng-repeat="leadingText in locals.leadingTexts">{{leadingText.Text}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in locals.users">

                    <td><input type="checkbox" title="Select" ng-model="user.isSelected" ng-disabled="!user.isValid" ng-change="onUserSelected()" /></td>

                    <td>
                        <toggle-edit ng-model="user.Email" hide-cancel-button="true" text-changed="verifyUser(user)">
                            <span class="text-danger" ng-show="!user.Email && user.emailValidationText" tooltip="{{user.emailValidationText}}">(No email)</span>
                            <span class="text-danger" ng-show="user.Email && user.emailValidationText" tooltip="{{user.emailValidationText}}">{{user.Email}}</span>
                            <span ng-show="user.Email && !user.emailValidationText">{{user.Email}}</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <toggle-edit ng-model="user.userAccount.User.ExternalUserId" hide-cancel-button="true">
                            <span ng-show="user.userAccount.User.ExternalUserId">{{user.userAccount.User.ExternalUserId}}</span>
                            <span ng-show="!user.userAccount.User.ExternalUserId">(No value)</span>
                        </toggle-edit>
                    </td>
                    <td ng-repeat="leadingText in locals.leadingTexts" ng-init="userInfoElement = getUserInfoElement(user, leadingText)">
                        <toggle-edit ng-model="userInfoElement.InfoText" hide-cancel-button="true">
                            <span ng-show="userInfoElement.InfoText">{{userInfoElement.InfoText}}</span>
                            <span ng-show="!userInfoElement.InfoText">(No value)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <i ng-if="user.isBusyVerifying" class="fa fa-spin fa-spinner" title="Verifying user..."></i>
                        <i ng-if="user.isBusyUpdating" class="fa fa-spin fa-spinner" title="Updating user..."></i>
                        <i ng-if="!user.isBusyVerifying && !user.isValid" class="fa fa-warning text-danger" tooltip="Invalid user!"></i>
                        <i ng-if="user.isUpdated" class="fa fa-check" tooltip="User updated!"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="close()">Close</a>
        <a class="btn btn-sm btn-primary" ng-disabled="locals.selectedUsers.length === 0 || isBusyUpdating" ng-click="update()">Update Selected Users <span ng-show="locals.selectedUsers.length > 0">({{locals.selectedUsers.length}})</span></a>
    </div>
</div>