﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Enroll Users</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Search user..." ng-model="model.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                <span class="input-group-btn">
                    <a class="clickable btn btn-sm btn-primary" ng-disabled="!model.query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="model.searchAllCustomers" /> Search in all customers
                </label>    
            </div>
        </div>    
    </div>
    
    <div class="col-md-12" ng-if="users.Items.length > 0">
        <h4>Users ({{users.TotalCount}})</h4>
        <table class="table table-unbordered table-condensed">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Organization</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users.Items" class="selectable" title="Select user" ng-click="toggleSelect(user)" ng-class="{'selected': isSelected(user)}">
                    <td>{{user.FirstName}}</td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.CustomerName}}</td>
                    <td>
                        <input ng-checked="isSelected(user)" type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination on-select-page="navigate(page)"
                    total-items="users.TotalCount"
                    items-per-page="limit"
                    page="page"
                    max-size="6"
                    boundary-links="true"
                    rotate="false"></pagination>
    </div>
    
    <div class="col-md-12 top-space" ng-if="users.Items.length === 0">
        <p ng-if="lastSearchQuery">
            Could not find any users matching '{{lastSearchQuery}}'
        </p>
        <p ng-if="!lastSearchQuery">
            Could not find any matching users
        </p>
    </div>
    <div class="col-md-12" ng-if="model.selectedUsers.length > 0">
        <h4>Selected ({{model.selectedUsers.length}})</h4>
        <ul class="selected-list">
            <li ng-repeat="user in model.selectedUsers">
                <selected-box on-remove="toggleSelect(user)">{{user.FirstName}} {{user.LastName}}</selected-box>
            </li>
        </ul>
    </div>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="model.selectedUsers.length === 0">Enroll Users</a>
    </div>
</div>