﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Bulk Import Users</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="file" accept=".xlsx" xlsx-file-select="locals.selectedFile" class="pull-left" /> 
                <span class="pull-left" style="margin-top: 3px;" ng-show="locals.selectedFile" ng-click="locals.selectedFile = null">
                    <a class="clickable" title="Clear selected file" ng-click="locals.selectedFile = null"><i class="fa fa-times"></i></a>
                </span>    
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a class="btn btn-default btn-sm" ng-href="{{'templates/users-bulk-import-template.xlsx' | assetRef}}"><i class="fa fa-file-text-o"></i> Download template</a>    
                </div>
            </div>
        </div>
        
        <table class="table table-condensed" ng-if="locals.users.length > 0">
            <thead>
                <tr>
                    <th><input type="checkbox" title="Select All" ng-disabled="locals.canSelectAll" ng-model="locals.isAllUsersSelected" ng-change="toggleSelectAllUsers()" /></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>User Name</th>
                    <th ng-repeat="leadingText in locals.leadingTexts" ng-init="customLeadingText = getCustomLeadingText(leadingText)">{{customLeadingText.Text}}</th>
                    <th>Registration Notification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in locals.users">
                    
                    <td><input type="checkbox" title="Select" ng-model="user.isSelected" ng-disabled="!user.isValid || user.isCreated" ng-change="onUserSelected()" /></td>
                    <td>
                        <toggle-edit ng-model="user.FirstName" hide-cancel-button="true">
                            <span ng-show="user.FirstName">{{user.FirstName}}</span>
                            <span class="text-danger" ng-show="!user.FirstName" tooltip="First name is required">(No first name)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <toggle-edit ng-model="user.LastName" hide-cancel-button="true">
                            <span ng-show="user.LastName">{{user.LastName}}</span>
                            <span class="text-danger" ng-show="!user.LastName" tooltip="Last name is required">(No last name)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <toggle-edit ng-model="user.Email" hide-cancel-button="true" text-changed="verifyUser(user)">
                            <span ng-show="user.Email && user.isEmailValid && !user.isPhoenixEmail">{{user.Email}}</span>
                            <span ng-show="user.Email && !user.isEmailValid" class="text-danger" tooltip="Invalid e-mail">{{user.Email}}</span>
                            <span ng-show="user.isPhoenixEmail" class="text-danger" tooltip="E-mail is already in use">{{user.Email}}</span>
                            <span class="text-danger" ng-show="!user.Email" tooltip="E-mail is required">(No email)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <toggle-edit ng-model="user.Username" hide-cancel-button="true" text-changed="verifyUser(user)">
                            <span ng-show="user.Username && !user.isPhoenixUsername">{{user.Username}}</span>
                            <span ng-show="user.Username && user.isPhoenixUsername" class="text-danger" tooltip="Username is already in use">{{user.Username}}</span>
                            <span class="text-danger" ng-show="!user.Username">(No username)</span>
                        </toggle-edit>
                    </td>
                    
                    <td ng-repeat="leadingText in locals.leadingTexts">
                        <toggle-edit ng-model="user[leadingText.Text]" hide-cancel-button="true">
                            <span ng-show="user[leadingText.Text]">{{user[leadingText.Text]}}</span>
                            <span ng-show="!user[leadingText.Text]">(No value)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <toggle-edit ng-model="user['Registration Notification']" hide-cancel-button="true" text-changed="verifyUser(user)">
                            <span>{{user['Registration Notification']}}</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <i ng-if="user.isBusyVerifying" class="fa fa-spin fa-spinner" title="Verifying user..."></i>
                        <i ng-if="user.isBusyCreating" class="fa fa-spin fa-spinner" title="Creating user..."></i>
                        <i ng-if="!user.isBusyVerifying && !user.isValid" class="fa fa-warning text-danger" tooltip="Invalid user!"></i>
                        <i ng-if="!user.isBusyCreating && user.isCreated" class="fa fa-check" tooltip="User imported!"></i>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="close()">Close</a>
        <a class="btn btn-sm btn-primary" ng-click="importSelectedUsers()" ng-disabled="locals.selectedUsers.length === 0">
            Import Selected Users <span ng-show="locals.selectedUsers.length > 0">({{locals.selectedUsers.length}})</span>
        </a>
    </div>
</div>