﻿<select ng-model="languageId" ng-show="!readonly" class="form-control" ng-change="selectedLanguageChanged(languageId)">
    <option ng-value="-1">[Not Set]</option>
    <option ng-selected="selectedLanguageId == language.Id" ng-repeat="language in languages" ng-value="language.Id">{{language.Name}}</option>
</select>
<span ng-if="readonly">{{selectedLanguageName}}</span>
