﻿<h2 style="margin-top: 0;" ng-if="isCreating">Create New Activity Set</h2>
<h2 style="margin-top: 0;" ng-if="!isCreating">{{originalActivitySet.Name}}</h2>    

<div>
    <div>
        <div class="row">
            <div class="col-md-6 col-border-right" ng-show="isEditing || isCreating">
                <div class="row" ng-if="isEditing">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a class="clickable btn btn-sm btn-default" ng-disabled="true"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>

                <div class="row top-space">
                    <div class="col-md-12">
                        <activityset-create></activityset-create>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <div class="text-right">
                            <a class="btn btn-sm btn-default clickable" ng-click="cancel()">Cancel</a>
                            <a ng-if="!isCreating" class="btn btn-sm btn-primary clickable" ng-disabled="!activitysetForm.$valid" ng-click="save()" busy-button is-busy="isBusySaving" busy-text="Saving...">Save</a>
                            <a ng-if="isCreating" class="btn btn-sm btn-primary clickable" ng-disabled="!activitysetForm.$valid" ng-click="save()" busy-button is-busy="isBusySaving" busy-text="Creating Activity Set...">Create Activity Set</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-border-right" ng-show="!isEditing && !isCreating">
                <div class="row" ng-if="activitySet.CustomerId === customer.Id">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a class="clickable btn btn-sm btn-default" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>

                <div class="row top-space" ng-if="activitySet.CustomerId !== customer.Id">
                    <div class="col-md-12">
                        <div class="alert alert-warning">
                            <p>
                                <strong>
                                    <i class="fa fa-warning"></i> This is a shared activity set
                                </strong>
                                
                                <span class="pull-right">
                                    <a class="btn btn-sm btn-default" title="Go to owner" ui-sref="customer.activities.overview.activitysets.item.view({customerId: activitySet.CustomerId, activitySetId: activitySet.Id})">
                                        <i class="fa fa-share"></i> Go to owner
                                    </a>
                                </span>
                            </p>

                        </div>


                    </div>
                </div>

                <div class="row top-space">
                    <label class="col-md-4 control-label">Name</label>
                    <div class="col-md-8">
                        {{activitySet.Name}}
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label">Publish</label>
                    <div class="col-md-8">
                        {{activitySet.IsPublished ? 'Yes' : 'No'}}
                    </div>
                </div>

                <div class="row" ng-if="activitySet.IsPublished">
                    <label class="col-md-4 control-label">&nbsp;</label>
                    <div class="col-md-8">
                        {{activitySet.PublishFrom | date:'dd.MM.yyyy'}} - {{activitySet.PublishTo | date:'dd.MM.yyyy'}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">Enrollment</label>
                    <div class="col-md-8">
                        {{activitySet.EnrollmentFrom | date:'dd.MM.yyyy'}} - {{activitySet.EnrollmentTo | date:'dd.MM.yyyy'}}
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label">Prevent Unenrollment</label>
                    <div class="col-md-8">
                        {{isUnenrollmentPrevented ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-4 control-label">Last day for unenrollment</label>
                    <div class="col-md-8">
                        {{activitySet.UnenrollmentDeadline | date:'dd.MM.yyyy'}}
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-border-left" ng-if="!isCreating">
                <ul class="nav nav-tabs">
                    <li ng-class="{'active': isActivitiesTabSelected}">
                        <a class="clickable" ng-click="selectTab('activities')">
                            Activities ({{activities.length}})
                        </a>
                    </li>
                    <li ng-class="{'active': isEnrollmentsTabSelected}">
                        <a class="clickable" ng-click="selectTab('enrollments')">
                            Enrollments ({{getNumberOfEnrollments()}})
                        </a>
                    </li>
                    <li ng-class="{'active': isShareTabSelected}">
                        <a class="clickable" ng-click="selectTab('share')">
                            <span ng-if="activitySet.ActivitySetShares.length === 0">Share</span>
                            <span ng-if="activitySet.ActivitySetShares.length > 0">Shared ({{activitySet.ActivitySetShares.length}})</span>
                        </a>
                    </li>
                </ul>
                
                <div ng-show="isActivitiesTabSelected">
                    <div class="row top-space">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a ng-if="activities.length > 0 && activitySet.CustomerId === customer.Id" ng-click="openSelectActivitiesModal()" class="btn btn-sm btn-default" busy-button is-busy="isBusyAddingActivities" busy-text='<i class=" fa fa-spinner fa-spin"></i> Add Activities'><i class="fa fa-plus"></i> Add Activities</a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-condensed" ng-if="activities.length > 0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Content type</th>
                                <th ng-if="activitySet.CustomerId === customer.Id"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="activity in activities">
                                <td><a ui-sref="customer.activities.overview.activities.item.view({customerId: activitySet.CustomerId, activityId: activity.ActivityId, selectedTab: null})">{{activity.Name}}</a></td>
                                <td>{{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}}</td>
                                <td>{{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}}</td>
                                <td>{{activity.ArticleType}}</td>
                                <td ng-if="activitySet.CustomerId === customer.Id">
                                    <div class="btn-group" ng-show="!isBusyAddingActivities">
                                        <a class="btn btn-sm btn-default btn-sm btn-table" ng-disabled="activity.isBusyRemoving" ui-sref="customer.activities.overview.activities.item.edit({activityId: activity.ActivityId, selectedTab: null })" title="Edit activity"><i class="fa fa-pencil"></i></a>
                                        <a class="btn btn-sm btn-default btn-sm btn-table" ng-click="removeActivity(activity)" title="Remove activity" busy-button is-busy="activity.isBusyRemoving" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-times"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="activities.length === 0">
                        <p>There are no activities in the activity set</p>
                        <a ng-if="activitySet.CustomerId === customer.Id" ng-click="openSelectActivitiesModal()" class="btn btn-sm btn-default" busy-button is-busy="isBusyAddingActivities" busy-text='<i class=" fa fa-spinner fa-spin"></i> Add Activities'><i class="fa fa-plus"></i> Add Activities</a>
                    </div>
                </div>
                
                <div ng-show="isEnrollmentsTabSelected">
                    <div class="row top-space">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a ng-if="getNumberOfEnrollments() > 0" ng-click="openSelectUsersModal()" class="btn btn-sm btn-default" busy-button is-busy="isBusyAddingUsers" busy-text='<i class=" fa fa-spinner fa-spin"></i> Enroll Users'><i class="fa fa-plus"></i> Enroll Users</a>
                                <a ng-if="getNumberOfEnrollments() > 0" ng-click="openBulkEnrollModal()" class="btn btn-sm btn-default"><i class="fa fa-file-text"></i> Bulk Enroll Users</a>
                            </div>
                        </div>
                    </div>

                    <table class="table table-condensed" ng-if="getNumberOfEnrollments() > 0">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Organization</th>
                                <th>Comments</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-init="user = getSearchableUser(enrollment.UserId)" ng-repeat="enrollment in activitySet.Enrollments | filter:{IsCancelled:false}">
                                <td><a ui-sref="customer.user.overview.details( {customerId: user.CustomerId, userId: enrollment.UserId })">{{user.FirstName}}</a></td>
                                <td><a ui-sref="customer.user.overview.details( {customerId: user.CustomerId, userId: enrollment.UserId })">{{user.LastName}}</a></td>
                                <td><a ui-sref="customer.overview.details({ customerId: user.CustomerId })">{{user.CustomerName}}</a></td>
                                <td>
                                    <span ng-init="result = getEnrollmentComments(enrollment, true, true)">
                                        <span ng-if="enrollment.isBusyEditing === null || enrollment.isBusyEditing === false" class="label label-default">
                                            {{enrollment.comments.length}}
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <div class="btn-group" ng-show="!isBusyAddingUsers">
                                        <a class="btn btn-sm btn-default btn-sm btn-table" ng-click="removeUser(enrollment)" title="Remove user" busy-button is-busy="enrollment.isBusyRemoving" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-times"></i></a>
                                        <a class="btn btn-sm btn-default btn-sm btn-table" ng-click="openCommentsModal(enrollment)" title="View comments" busy-button is-busy="enrollment.isBusyEditing" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-comment"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div ng-if="getNumberOfEnrollments() === 0">
                        <p>There are no enrolled users in the activity set</p>
                        <a ng-click="openSelectUsersModal()" class="btn btn-sm btn-default" busy-button is-busy="isBusyAddingUsers" busy-text='<i class=" fa fa-spinner fa-spin"></i> Enroll Users'><i class="fa fa-plus"></i> Enroll Users</a>
                        <a ng-click="openBulkEnrollModal()" class="btn btn-sm btn-default"><i class="fa fa-file-text"></i> Bulk Enroll Users</a>
                    </div>
                </div>
                
                <div ng-show="isShareTabSelected">    
                    <h4>Share with customers</h4>
                    <div class="row">
                        <div class="col-md-12 form-inline">
                            <div class="form-group" style="width: 400px;">
                                <customer-search selected-customer-id="locals.searchedCustomer.Id" clear-on-select tooltip-align-left></customer-search>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-default" ng-click="selectSubOrganizations()">Select sub organizations</button>
                            </div>
                        </div>
                    </div>

                    <div class="row top-space">
                        <div class="col-md-12" ng-show="activitySet.ActivitySetShares.length > 0">
                            <ul class="selected-list">
                                <li ng-repeat="share in activitySet.ActivitySetShares">
                                    <selected-box on-remove="unshareCustomer(share.Customer)">{{share.Customer.Name}}</selected-box>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>

            </div>    
        </div>

    </div>
</div>
<div class="pull-right">
    <a ng-click="close()" class="btn btn-sm btn-default">Close</a>
</div>