<div class="row">
    <div class="col-md-12">
        <h1 ng-if="order.IsCreditNote">Credit note - Order no: {{order.OrderNumber || "&lt;Not set&gt;"}}</h1>
        <h1 ng-if="!order.IsCreditNote">Order no: {{order.OrderNumber || "&lt;Not set&gt;"}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a ng-if="order.Status === 0" ng-click="editProposed()" class="btn btn-default btn-sm" ng-disabled="isEditing || isBusyCreatingProposed">
                                <span ng-if="!isBusyCreatingProposed"><i class="fa fa-pencil"></i> Edit</span>
                                <span ng-if="isBusyCreatingProposed" title="Creating draft..."><i class="fa fa-spin fa-spinner"></i> Edit</span>
                            </a>
                            <a ng-if="order.Status === 1" ng-click="edit()" class="btn btn-default btn-sm" ng-disabled="isEditing"><i class="fa fa-pencil"></i> Edit</a>
                            <a ng-if="order.Status === 5" ng-click="resetOrder()" class="btn btn-default btn-sm" ng-disabled="isBusyResetting">
                                <span ng-if="!isBusyResetting"><i class="fa fa-pencil"></i> Edit</span>
                                <span ng-if="isBusyResetting" title="Resetting order to draft..."><i class="fa fa-spin fa-spinner"></i> Edit</span>
                            </a>
                        </div>        
                    </div>
                </div>
                
                <div ui-view></div> 
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li ng-class="{'active': isDetailsTabSelected}">
                                <a class="clickable" ng-click="selectTab('details')">
                                    Details
                                </a>
                            </li>
                            <li class="clickable" ng-show="order.Id" ng-class="{'active': isCommentsTabSelected}">
                                <a ng-click="selectTab('comments')">
                                    Comments <span ng-if="isCommentsLoaded">({{commentCount}})</span> <span ng-if="!isCommentsLoaded" class="fa fa-spinner fa-spin"></span>
                                </a>
                            </li>
                            <li class="pull-right">
                                <button ng-if="order.Status === 1 && !order.IsCreditNote" class="btn btn-sm btn-default" ng-click="addParticipants()"><i class="fa fa-plus"></i> Add participants</button>
                                <button ng-if="order.Status === 1 && !order.IsCreditNote" class="btn btn-sm btn-default" ng-click="addFixedPriceActivities()"><i class="fa fa-plus"></i> Add fixed price activities</button>
                                <button ng-if="order.Status === 1" ng-disabled="isBusyDeletingOrderLines" class="btn btn-sm btn-default" ng-click="removeSelectedOrderLines()">
                                    <span ng-if="!isBusyDeletingOrderLines"><i class="fa fa-minus"></i> Remove order lines ({{getSelectedOrderLines().length}})</span>
                                    <span ng-if="isBusyDeletingOrderLines"><i class="fa fa-spin fa-spinner"></i> Removing order lines...</span>
                                </button>
                            </li>

                        </ul>
                        <div ng-show="isDetailsTabSelected">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Article</th>
                                        <th>Text</th>
                                        <th>VAT</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Total Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="orderLine in orderLinesDisplay" ng-init="currencyInfo = validateOrderLineCurrency(orderLine)">
                                        <td>
                                            <span ng-if="orderLine.Type !== 3">
                                                {{orderLine.Article}}
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-if="orderLine.Type === 3" style="margin-left: 40px;">{{orderLine.Text}}</span>
                                            <span ng-if="orderLine.Type === 1">
                                                <span class="col-md-9">
                                                    <a ui-sref="customer.activities.overview.activities.item.view({ customerId: order.CustomerId, activityId: orderLine.ParentActivityId })">
                                                        {{orderLine.Text}}
                                                    </a>
                                                    (Fixed price)
                                                </span>
                                            </span>
                                            <span ng-if="orderLine.Type !== 3 && orderLine.Type !== 1">
                                                <a class="col-md-9" ui-sref="customer.activities.overview.activities.item.view({ customerId: order.CustomerId, activityId: orderLine.Id })">
                                                    {{orderLine.Text}}
                                                </a>
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-if="orderLine.Type !== 3">
                                                {{orderLine.ValueAddedTax !== null && orderLine.ValueAddedTax !== undefined ? orderLine.ValueAddedTax + '%' : ''}}
                                            </span>
                                        </td>
                                        <td ng-class="{'text-danger': order.IsCreditNote}">
                                            <span ng-if="orderLine.Type !== 3">
                                                {{orderLine.Quantity}}
                                            </span>
                                        </td>
                                        <td>
                                            <span ng-if="orderLine.Type !== 3 && !currencyInfo.isAmbigous">
                                                {{orderLine.Price | currency:getCurrencyCode(orderLine.CurrencyCodeId)+' '}}
                                            </span>

                                            <span ng-if="orderLine.Type === 3 && currencyInfo.isAmbigous">
                                                {{orderLine.Price | currency:getCurrencyCode(orderLine.CurrencyCodeId)+' '}}
                                            </span>
                                        </td>
                                        <td ng-class="{'text-danger': order.IsCreditNote}">
                                            <span ng-if="orderLine.Type !== 3 && !currencyInfo.isAmbigous">
                                                {{orderLine.TotalPrice | currency:getCurrencyCode(orderLine.CurrencyCodeId)+' '}}
                                            </span>
                                            <span ng-if="orderLine.Type !== 3 && currencyInfo.isAmbigous">
                                                <strong style="color: red;" tooltip="Cannot calculate total due to multiple currencies"><i class="fa fa-warning"></i> Multiple currencies</strong>
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group btn-group-sm" ng-if="order.Status === 1">
                                                <a ng-if="!isProposed && !order.IsCreditNote && (orderLine.Type === 1 || orderLine.Type === 2)" class="btn btn-sm btn-default btn-table" ng-click="editActivity(orderLine.ParentActivityId)" title="Edit activity"><i class="fa fa-pencil"></i></a>
                                                <a ng-if="!isProposed && !order.IsCreditNote && orderLine.Type === 3" class="btn btn-sm btn-default btn-table" ng-click="editParticipant(orderLine.ParticipantId)" title="Edit participant"><i class="fa fa-pencil"></i></a>
                                                <a ng-if="!isProposed && orderLine.Type === 1" class="btn btn-sm btn-default btn-table" ng-click="toggleSelection(orderLine)" title="Select activity to remove from order"><i ng-if="!orderLine.isSelected" class="fa fa-toggle-off"></i><i ng-if="orderLine.isSelected" class="fa fa-toggle-on"></i></a>
                                                <a ng-if="!isProposed && orderLine.Type === 2" class="btn btn-sm btn-default btn-table" ng-click="toggleSelection(orderLine)" title="Toggle selection on all participants under this activity"><i ng-if="!orderLine.isSelected" class="fa fa-toggle-off"></i><i ng-if="orderLine.isSelected" class="fa fa-toggle-on"></i></a>
                                                <a ng-if="!isProposed && orderLine.Type === 3" class="btn btn-sm btn-default btn-table" ng-click="toggleSelection(orderLine)" title="Select participant to remove from order"><i ng-if="!orderLine.isSelected" class="fa fa-toggle-off"></i><i ng-if="orderLine.isSelected" class="fa fa-toggle-on"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><strong>Total</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <strong ng-if="isCurrencyCodeAmbigous" style="color: red;" tooltip="Cannot calculate total due to multiple currencies"><i class="fa fa-warning"></i> Multiple currencies</strong>
                                            <strong ng-class="{'text-danger': order.IsCreditNote}" ng-if="!isCurrencyCodeAmbigous">{{totalAmount | currency:currencyCode+' '}}</strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-show="isCommentsTabSelected">
                            <comments entity="order" id="{{order.Id}}" comments-updated="commentsUpdated(comments)"></comments>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="pull-right">
        <a class="btn btn-danger btn-sm" ng-if="order.Status === 1" ng-click="delete()"
           busy-button is-busy="isBusyDeleting" busy-text="<i class='fa fa-trash-o'></i>Deleting...</a>"><i class="fa fa-trash-o"></i> Delete</a>
        <a ng-if="(order.Status === 0 || order.Status === 1) && !order.IsCreditNote" class="btn btn-default btn-sm" ng-disabled="isEditing || isLoadingWorkOrders"
           ng-click="invoice()"
           busy-button is-busy="isBusyInvoicing" busy-text="Sending to invoicing...">Send to invoicing</a>
        <a ng-if="order.Status === 4" class="btn btn-default btn-sm" ng-click="editCreditNote()" ng-disabled="isBusySendingCreditNote || isBusyCreatingCreditNote">
            <span ng-if="!isBusyCreatingCreditNote"><i class="fa fa-pencil"></i> Edit credit note</span>
            <span ng-if="isBusyCreatingCreditNote"><i class="fa fa-spinner fa-spin"></i> Creating draft credit note...</span>
        </a>
        <a ng-if="order.Status === 4 || (order.IsCreditNote && order.Status === 1)" class="btn btn-default btn-sm" ng-click="sendCreditNote()" ng-disabled="isBusySendingCreditNote || isBusyCreatingCreditNote">
            <span ng-if="!isBusySendingCreditNote">Send credit note to invoicing</span>
            <span ng-if="isBusySendingCreditNote"><i class="fa fa-spin fa-spinner"></i> Sending credit note to invoicing...</span>
        </a>
        
        <a class="btn btn-default btn-sm" ng-click="close()">Close</a>
    </div>
</div>