﻿<div class="row">
    <div class="col-md-12">
        <h1>Invoices ({{orders.TotalCount}})</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-inline">

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="filterByLoggedInCoordinator" /> Filter by logged in coordinator
                </label>
            </div>

            <label style="margin-left: 15px;">From:</label>
            <div class="form-group">
                <div class="input-group" style="width: 180px;">
                    <input type="text" class="form-control"
                           name="fromDate"
                           date-fix="fromDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="dd.MM.yyyy"
                           focus-me="fromDatePickerOpened"
                           ng-blur="fromDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="fromDate" />
                    <a class="input-group-addon btn btn-default" ng-click="fromDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
            <label style="margin-left: 10px">To:</label>
            <div class="form-group">
                <div class="input-group" style="width: 180px;">
                    <input type="text" class="form-control"
                           name="toDate"
                           date-fix="toDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="dd.MM.yyyy"
                           focus-me="toDatePickerOpened"
                           ng-blur="toDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="toDate" />
                    <a class="input-group-addon btn btn-default" ng-click="toDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
            <a style="margin-left: 10px;" class="btn btn-default" ng-click="applyFilter()"><i class="fa fa-filter"></i> Apply filter</a>
        </div>
    </div>
    
    <div class="col-md-5">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search by order no, title, customer, coordinator, your order, your ref, our ref, invoice no" 
                   ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'applyFilter()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-click="applyFilter()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>
<div class="row top-space">
    <div class="col-md-12">
        <div>
            <button class="btn btn-default btn-sm" ng-disabled="selectedOrders.length === 0 || isBusySendingInvoices" ng-click="sendSelectedInvoices()">
                <span ng-if="!isBusySendingInvoices">
                    Send selected to invoicing <span ng-if="selectedOrders.length > 0">({{selectedOrders.length}})</span>
                </span>
                <span ng-if="isBusySendingInvoices">
                    <i class="fa fa-spinner fa-spin"></i> Sending selected to invoicing... <span ng-if="selectedOrders.length > 0">({{selectedOrders.length}})</span>
                </span>
            </button>
        </div>
    </div>
</div>
<div class="row top-space">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th><input ng-disabled="!canSelectAll || isBusySendingInvoices" type="checkbox" title="Select All" ng-model="isAllOrdersSelected" ng-change="toggleSelectAllOrders()" /></th>
                    <th>
                        <sortable-header title="Order No" order-by="OrderNumber" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Title" order-by="Title" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Customer" order-by="CustomerName" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Coordinator" order-by="ProgramCoordinator" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Your Order" order-by="YourOrder" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Your Ref" order-by="YourRef" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Our Ref" order-by="OurRef" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Amount" order-by="Amount" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Last Modified" order-by="LastModified" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Customer Type" order-by="CustomerType" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                        <options-filter-header options="customerTypeFilterValues" query-param="customerTypeFilter"></options-filter-header>
                    </th>
                    <th>
                        <sortable-header title="Status" order-by="Status" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                        <options-filter-header options="statusFilterValues" query-param="statusFilter"></options-filter-header>
                    </th>
                    <th>
                        <sortable-header title="Invoice No" order-by="InvoiceNumber" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders.Items">
                    <td>
                        <span ng-if="!order.isBusySendingInvoice">
                            <input ng-disabled="!canSelectOrder(order)" type="checkbox" title="Select" ng-model="order.isSelected" ng-change="orderSelected()" />
                        </span>
                        <span ng-if="order.isBusySendingInvoice">
                            <i class="fa fa-spin fa-spinner"></i>
                        </span>
                    </td>
                    <td>
                        <a ng-if="order.OrderId" ui-sref="order.view({ orderId: order.OrderId })">{{order.OrderNumber}}</a>
                    </td>
                    <td>
                        <a ng-if="!order.OrderId" ui-sref="orderproposed.view({ groupByKey: order.GroupByKey })">{{order.Title}}</a>
                        <a ng-if="order.OrderId" ui-sref="order.view({ orderId: order.OrderId })">{{order.Title}}</a>
                    </td>
                    <td>{{order.Name}}</td>
                    <td>{{order.CoordinatorFullName}}</td>
                    <td>{{order.YourOrder}}</td>
                    <td>{{order.YourRef}}</td>
                    <td>{{order.OurRef}}</td>
                    <td style="white-space: nowrap" ng-class="{'text-danger': order.IsCreditNote}">
                        <span ng-if="order.CurrencyCode">{{order.TotalAmount | currency:order.CurrencyCode+' '}}</span>
                    </td>
                    <td>{{order.LastModified | date:'dd.MM.yyyy'}}</td>
                    <td>{{order.CustomerType | customerType}}</td>
                    <td>{{order.OrderStatus | orderStatus}}</td>
                    <td><span ng-if="order.InvoiceNumber > 0">{{order.InvoiceNumber}}</span></td>
                </tr>
            </tbody>
        </table>
        
        <div class="row top-space">

            <div class="col-md-12" ng-if="orders.Items.length === 0">
                <p>
                    No invoices found
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="orders.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>
