﻿<ng-form name="orderForm" class="form-horizontal">
    <div class="row">
        <div class="col-md-5 col-border-right">

            <div class="form-group">
                <label class="col-md-2 control-label">Customer:</label>
                <a class="col-md-10 control-label" ui-sref="customer.overview.details({ customerId: order.CustomerId })">{{order.CustomerName}}</a>                
            </div>

            <div class="form-group" ng-class="{'has-error': orderForm.title.$error.required}">
                <label class="col-md-2 control-label">Title:</label>
                <div class="col-md-10">
                    <input type="text" name="title" class="form-control" ng-model="order.Title" />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': orderForm.ourref.$error.required}">
                <label class="col-md-2 control-label">Our ref:</label>
                <div class="col-md-10">
                    <input type="text" name="ourref" class="form-control" ng-model="order.OurRef" />
                </div>
            </div>

        </div>

        <div class="col-md-7 col-border-left">

            <div class="form-group">
                <label class="col-md-2 control-label">Invoice no:</label>
                <div class="col-md-10">
                    {{order.InvoiceNumber}}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Order date:</label>
                <div class="col-md-10">
                    {{order.OrderDate | localDate}}
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': orderForm.yourref.$error.required}">
                <label class="col-md-2 control-label">Your ref:</label>
                <div class="col-md-8">
                    <input type="text" name="yourref" class="form-control" ng-model="order.YourRef" />
                </div>
            </div>
            
            <div class="form-group" ng-class="{'has-error': orderForm.yourorder.$error.required}">
                <label class="col-md-2 control-label">Your order:</label>
                <div class="col-md-8">
                    <input type="text" name="yourorder" class="form-control" ng-model="order.YourOrder" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Status:</label>
                <div class="col-md-10 control-label">
                    {{order.Status | orderStatus}}
                </div>
            </div>

        </div>
    </div>
</ng-form>

<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <div ng-click="cancel()" class="btn btn-default btn-sm">Cancel</div>
            
            <div ng-disabled="!orderForm.$valid" ng-click="save()" class="btn btn-primary btn-sm" busy-button busy-text="Saving..." is-busy="isBusySaving">Save</div>
        </div>
    </div>
</div>