﻿<div class="row">
    <div class="col-md-5 col-border-right">

        <div class="row">
            <label class="col-md-3 control-label">Customer:</label>
            <a class="col-md-9" ui-sref="customer.overview.details({ customerId: order.CustomerId })">{{order.CustomerName}}</a>                
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Title:</label>
            <div class="col-md-9">
                {{order.Title}}
            </div>
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Our ref:</label>
            <div class="col-md-9">
                {{order.OurRef}}
            </div>
        </div>
        
        <div ng-if="order.WorkOrder" class="row">
            <label class="col-md-3 control-label">Work order:</label>
            <div class="col-md-9">
                {{order.WorkOrder}}
            </div>
        </div>
        
        <div class="row" ng-if="creditedOrder">
            <label class="col-md-3 control-label">Original order no:</label>
            <div class="col-md-9">
                <a ui-sref="order.view({ orderId: creditedOrder.Id })">{{creditedOrder.OrderNumber}}</a>
            </div>
        </div>

    </div>

    <div class="col-md-7 col-border-left">

        <div class="row">
            <label class="col-md-3 control-label">Invoice no:</label>
            <div class="col-md-9">
                <span ng-if="order.InvoiceNumber > 0">{{order.InvoiceNumber}}</span>
            </div>
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Order date:</label>
            <div class="col-md-9">
                {{order.OrderDate | localDate}}
            </div>
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Your ref:</label>
            <div class="col-md-9">
                {{order.YourRef}}
            </div>
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Your order:</label>
            <div class="col-md-9">
                {{order.YourOrder}}
            </div>
        </div>

        <div class="row">
            <label class="col-md-3 control-label">Status:</label>
            <div class="col-md-9">
                {{order.Status | orderStatus}}
            </div>
        </div>

    </div>
</div>