﻿<div class="row">
    <div class="col-md-12">
        <h2 style="margin-top: 0px">Activity Sets ({{activitySets.TotalCount}})</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <a ui-sref="customer.activities.overview.activitysets.create" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create Activity Set</a>
    </div>
    <div class="col-md-4">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search name..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="row top-space" ng-if="activitySets.Items.length === 0">
    <div class="col-md-12">
        <p>
            No activity sets found.
        </p>
    </div>
</div>

<div ng-if="activitySets.Items.length > 0" class="row top-space">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="Name" order-by="name" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Publish start date" order-by="publishfrom" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Publish end date" order-by="publishto" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Enrollment start date" order-by="enrollmentfrom" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Enrollment end date" order-by="enrollmentto" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Status" order-by="ispublished" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activitySet in activitySets.Items">
                    <td>
                        <a ui-sref="customer.activities.overview.activitysets.item.view({activitySetId: activitySet.Id})">{{activitySet.Name}}</a>
                        <a title="Go to activity set owner" ui-sref="customer.activities.overview.activitysets.item.view({customerId: activitySet.CustomerId, activitySetId: activitySet.Id})"><span ng-if="activitySet.CustomerId !== customer.Id" class="label label-info">Shared</span></a>
                    </td>
                    <td>{{activitySet.PublishFrom | date:'dd.MM.yyyy'}}</td>
                    <td>{{activitySet.PublishTo | date:'dd.MM.yyyy'}}</td>
                    <td>{{activitySet.EnrollmentFrom | date:'dd.MM.yyyy'}}</td>
                    <td>{{activitySet.EnrollmentTo | date:'dd.MM.yyyy'}}</td>
                    <td>{{{true: 'Published', false: 'Not published'}[activitySet.IsPublished]}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default" ui-sref="customer.activities.overview.activitysets.item.edit({activitySetId: activitySet.Id})" title="Edit activity set"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-default" ng-click="delete(activitySet)" title="Delete activity set" busy-button is-busy="activitySet.isBusyDeleting" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="activitySets.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>