﻿<div class="row">
    <div class="col-md-8">
        <h2 style="margin-top: 0px">Activities ({{activities.TotalCount}})</h2>
    </div>
    <div class="col-md-4">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search article, title, content type..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="row top-space" ng-if="activities.Items.length === 0">
    <div class="col-md-12">
        <p>
            No activities found.
        </p>
    </div>
</div>

<div ng-if="activities.Items.length > 0" class="row top-space">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="Article" order-by="articlepath" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Title" order-by="name" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="From" order-by="activitystart" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="To" order-by="activityend" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        Timezone
                    </th>
                    <th>
                        <sortable-header title="Content type" order-by="articletype" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in activities.Items">
                    <td>{{activity.ArticlePath}}</td>
                    <td><a ui-sref="customer.activities.overview.activities.item.view({activityId: activity.ActivityId})">{{activity.Name}}</a></td>
                    <td>{{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}}</td>
                    <td>{{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}}</td>
                    <td>{{activity.MomentTimezoneName | momentTimezoneDisplay}}</td>
                    <td>{{activity.ArticleType}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm btn-default" ui-sref="customer.activities.overview.activities.item.edit({activityId: activity.ActivityId})" title="Edit activity"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-sm btn-default" ng-click="deleteActivity(activity)" title="Delete activity" busy-button is-busy="activity.isBusyDeleting" busy-text="<i class=' fa fa-spinner fa-spin'></i>"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="activities.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>