﻿<div class="row">
    <div class="col-md-7">
        <h2 style="margin-top: 0px">Course Calendar</h2>
        <p ng-if="courseCalendar.length > 0">Drag activity sets to change order in course calendar</p>
        <p ng-if="courseCalendar.length === 0">There are no activity sets in the course calendar</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7 col-border-right">
        <div ng-if="courseCalendar.length > 0" class="list-group" ui-sortable="sortableOptions" ng-model="courseCalendar">
            <div class="list-group-item movable selectable" ng-repeat="activitySet in courseCalendar" ng-click="select(activitySet)" ng-class="{'selected': isSelected(activitySet)}">
                <span>
                    <i class="fa fa-bars subtle pull-right" style="margin-top: 3px;" /> {{activitySet.Name}}
                    <a title="Go to activity set owner" ui-sref="customer.activities.overview.activitysets.item.view({customerId: activitySet.CustomerId, activitySetId: activitySet.Id})"><span ng-if="activitySet.CustomerId !== customer.Id" class="label label-info">Shared</span></a>
                </span>
            </div>
        </div> 
        <div ng-if="courseCalendar.length > 0" class="pull-right">
            <a class="btn btn-sm btn-default" ng-disabled="isBusySavingOrder" ng-click="revert()">Revert</a>
            <a class="btn btn-sm btn-primary" ng-click="saveOrder()" busy-button is-busy="isBusySavingOrder" busy-text="Saving...">Save sorting</a>
        </div>
    </div>
    <div class="col-md-5 col-border-left">
        <ui-view />
    </div>
</div>
