﻿<div class="row">
    <div class="col-md-12">
        
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2 col-border-right">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active': isActive('customer.activities.overview.activities')}">
                                <a ui-sref="customer.activities.overview.activities.list">Activities</a>
                            </li>
                            <li ng-class="{'active': isActive('customer.activities.overview.activitysets')}">
                                <a ui-sref="customer.activities.overview.activitysets.list">Activity Sets</a>
                            </li>
                            <li ng-class="{'active': isActive('customer.activities.overview.coursecalendar')}">
                                <a ui-sref="customer.activities.overview.coursecalendar">Course Calendar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 col-border-left">
                        <ui-view />
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>