<div style="position: relative;">
    <i class="fa fa-spinner fa-spin" ng-show="isSearching" style="position: absolute; right: 10px; top: 10px;"></i>
    <input name="productSelector" class="form-control" ng-required="isRequired" type="text" placeholder="Search product..."
           ng-model="product" ui-event="{blur: 'setValidSelectedProduct()' }"
           style="max-width: 400px; padding-right: 30px;"
           typeahead="product as product.ProductCategory.ProductCodePrefix + product.ProductNumber for product in searchProduct($viewValue)"
           typeahead-on-select="onProductSelected(product)"
           typeahead-wait-ms="400" typeahead-template-url="{{ productSelectorTemplateUrl }}"/>
</div>