﻿<a title="{{match.model.Title}}">
    <span>{{match.model.ProductCategory.ProductCodePrefix}}{{match.model.ProductNumber}}</span>
    <span ng-if="match.model.IsActive == 0">(Inactive)</span>
</a>