﻿<fieldset>
    <legend>Transcripts</legend>
    <div ng-if="isEditMode" class="row">
        <div class="col-md-12">
            <h4>Upload a new transcript</h4>
            <form action="{{filesUploadUrl}}" ng-upload role="form">

                <div>
                    <label class="control-label">Name</label>
                    <input class="form-control" type="text" name="title" ng-model="model.Title" />
                </div>
                <br />
                <div>
                    <input type="file" #myInput name="file" ui-event="{change: 'onImageSelected($event.target.value)'}" accept="{{accept}}" ng-disabled="!selectedImagePath && model.Id"  />
                </div>
                <a href="javascript:void(0)" class="btn btn-sm btn-success top-space" ng-disabled="!selectedImagePath || model.Id" upload-submit="onfileUpload(content, completed)"><i class="fa fa-upload"></i> Upload</a>
                &nbsp;
                <a ng-click="saveEditDiploma()" class="btn btn-sm btn-success top-space" ng-hide="!model.Id"><i class="fa fa-save"></i> Save</a>
                <a ng-click="cancelEditDiploma()" class="btn btn-sm btn-success top-space" ng-hide="!model.Id"><i class="fa fa-cancel"></i> Cancel</a>

            </form>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 ng-if="diplomas.length > 0">Transcripts</h4>

            <table class="top-space table table-condensed" ng-if="diplomas.length > 0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="diploma in diplomas">
                        <td style="width: 30px;">
                            <i class="fa fa-file"></i>
                        </td>
                        <td>
                            <a ng-href="{{getFileDownload(diploma.FileId)}}" title="{{diploma.Title}}" style="font-weight: normal" target="_blank">{{diploma.Title}}</a>
                        </td>

                        <td style="width: 30px;">
                            <a ng-if="isEditMode" class="clickable pull-right btn btn-sm btn-default btn-sm" ng-click="editDiploma(diploma)" title="Edit transcript"><span class="fa fa-pencil"></span></a>

                        </td>
                        <td style="width: 30px;">
                            <a ng-if="isEditMode" class="clickable pull-right btn btn-sm btn-default btn-sm" ng-click="deleteDiploma(diploma)" title="Remove transcript"><span class="fa fa-times"></span></a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</fieldset>