﻿<ng-form name="advancedUserForm" class="read-only-form">
    <fieldset>
        <legend>Advanced Info</legend>
        <div class="row">
            <div class="col-md-6">
                
                <div class="row col-md-12">
                    <h4>User Account Validity</h4>
                </div>
                
                <div class="form-group row" ng-class="{'has-error': advancedUserForm.expiryDate.$error.date}">
                    <label class="control-label col-md-4">Expiry Date:</label>
                    <div class="col-md-8">
                        {{userAccount.User.ExpiryDate | date:'dd.MM.yyyy'}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input disabled="disabled" name="selfEnrollCourses" type="checkbox" ng-model="userAccount.User.ParticipantNotBillable"> Participant is <span class="underline">not</span> billable
                            </label>    
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Communication With User</h4>    
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="control-label">Send automails</label>
                        <div class="radio">
                            <label>
                                <input disabled="disabled" type="radio" name="notificationRadios" ng-model="userAccount.User.UserNotificationType" value="0">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input disabled="disabled" type="radio" name="notificationRadios" ng-model="userAccount.User.UserNotificationType" value="1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4">Registration notification:</label>
                    <div class="col-md-8">
                        {{userAccount.User.UserRegistrationNotificationDate | date:'dd.MM.yyyy'}}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>User Roles</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRolePhoenixUser" disabled="disabled"> Phoenix user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleLearningPortalUser" disabled="disabled"> Learning portal user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleLearningPortalSuperUser" disabled="disabled"> Learning portal super user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindAdmin" disabled="disabled"> Behind admin
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindContentAdmin" disabled="disabled"> Behind content admin
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindSuperAdmin" disabled="disabled"> Behind super admin
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleExaminer" disabled="disabled"> Examiner
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4>User Terms and Conditions</h4>
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input disabled="disabled" name="allowEcts" type="checkbox" ng-model="userAccount.User.IsAllowUserEcts"> Allow user ECTS (University Credits)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row top-space" ng-show="!userAccount.User.IsAllowUserEcts">
                    <label class="control-label col-md-12" for="noEctsReason">Reason for not given any ECTS to user</label>
                    <div class="col-md-12">
                        {{userAccount.User.NoEctsReason}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</ng-form>