﻿<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="template in templates" ng-class="{active: template.queryParam === section }">
                <a ng-if="isUserContext" class="clickable" ui-sref="user.overview.details({section: template.queryParam})">{{template.name}}</a>
                <a ng-if="isCustomerContext" class="clickable" ui-sref="customer.user.overview.details({section: template.queryParam})">{{template.name}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div ng-repeat="template in templates" ng-include="template.url" ng-show="template.queryParam === section"></div>
    </div>
</div>