﻿<fieldset>
    <legend>Basic Info</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <div>
                    <label class="col-md-4 control-label">Company</label>
                    <div class="col-md-8">
                        <a ui-sref="customer.overview.details({ customerId: userAccount.User.Customer.Id})">{{userAccount.User.Customer.Name}}</a>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <label class="control-label col-md-4">User Name</label>
                    <div class="col-md-8">
                        {{userAccount.Username}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div>
                    <label class="control-label col-md-4">Email</label>
                    <div class="col-md-8">
                        {{userAccount.Email}}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4">Phone Number</label>
                <div class="col-md-8">
                    {{userAccount.User.PhoneNumber}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4">External User ID</label>
                <div class="col-md-8">
                    {{userAccount.User.ExternalUserId}}
                </div>
            </div>
            <div class="row col-md-12">
                <h4>Mail Address</h4>
            </div>
            <div class="form-group row top-space">
                <label class="control-label col-md-4">Address 1</label>
                <div class="col-md-8">
                    {{userAccount.User.StreetAddress}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4">Address 2</label>
                <div class="col-md-8">
                    {{userAccount.User.StreetAddress2}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4">Zip / City</label>
                <div class="col-md-8">
                    {{userAccount.User.ZipCode}} {{userAccount.User.City}}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-4">Country</label>
                <div class="col-md-8">
                    {{userAccount.User.Country}}
                </div>
            </div>
            <div ng-show="additionalInfos.length > 0" class="row col-md-12">
                <h4>Additional Info</h4>
            </div>
            <div class="form-group row" ng-repeat="additionalInfo in additionalInfos">
                <label class="control-label col-md-4">{{additionalInfo.Label}}</label>
                <div class="col-md-8">
                    {{additionalInfo.Text}}
                </div>
            </div>
        </div>
        <!--
        <div class="col-md-4 col-md-6 col-sm-12">
            <div ng-show="userAccount.User.Attachment">
                <img ng-src="{{userAccount.User.Attachment | attachmentPath}}" class="img-thumbnail" />
            </div>
            <div ng-show="!userAccount.User.Attachment">
                <placeholder-image></placeholder-image>
            </div>
        </div>
        -->
    </div>
    
</fieldset>