﻿<fieldset>
    <legend>Competence</legend>
    <div class="row">
        <div class="col-md-6 col-border-right">
            <em ng-if="competence.IsTermsAccepted">Accepted terms and conditions {{competence.TermsAcceptedDate | localDate}}</em>

            <h4>Personal info</h4>

            <div class="form-group row">
                <label class="col-md-4 control-label">Name</label>
                <div class="col-md-8">
                    <span ng-if="competence.Title">({{competence.Title}})</span> {{competence.FirstName}} {{competence.LastName}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">E-mail</label>
                <div class="col-md-8">
                    {{competence.Email}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Social security numberl</label>
                <div class="col-md-8">
                    {{competence.SocialSecurityNumber}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Date of birth</label>
                <div class="col-md-8">
                    {{competence.DateOfBirth | date:'dd.MM.yyyy'}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Country of birth</label>
                <div class="col-md-8">
                    {{getCountryName(competence.CountryOfBirth)}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Country</label>
                <div class="col-md-8">
                    {{getCountryName(competence.Country)}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Nationality</label>
                <div class="col-md-8">
                    {{competence.Nationality}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Zip Code</label>
                <div class="col-md-8">
                    {{competence.ZipCode}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Street Address</label>
                <div class="col-md-8">
                    {{competence.StreetAddress}}
                </div>
            </div>

        </div>
        
        <div class="col-md-6 col-border-left">
            <h4>Competence</h4>

            <div class="form-group row">
                <label class="col-md-4 control-label">Education Type</label>
                <div class="col-md-8">
                    {{competence.EducationType | educationType}}
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-4 control-label">Institution Name</label>
                <div class="col-md-8">
                    {{competence.InstitutionName}}
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-4 control-label">Education Level</label>
                <div class="col-md-8">
                    {{competence.EducationLevel}}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Education Description</label>
                <div class="col-md-8">
                    {{competence.EducationDescription}}
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-4 control-label">Graduation Year</label>
                <div class="col-md-8">
                    {{competence.GraduationYear}}
                </div>
            </div>
            
            <div class="form-group row" ng-if="competence.IsAccreditedPracticalCompetenceSatisfied">
                <div class="col-md-12">
                    <span class="fa fa-check"></span> User has satisfied accredited practical competence
                </div>
            </div>
            
            <div class="form-group row" ng-if="competence.PracticalCompetenceDescription">
                <label class="col-md-12 control-label">Description of competence</label>
            </div>
            
            <div class="form-group row" ng-if="competence.PracticalCompetenceDescription">
                <div class="col-md-12">
                    {{competence.PracticalCompetenceDescription}}
                </div>
            </div>
                       
        </div>
    </div>
    
    <hr/>
    
    <div class="row">
        <div class="col-md-12">
            <h4 ng-if="competence.Attachments.length > 0">Attachments</h4>
            <div ng-repeat="attachment in competence.Attachments" ng-if="competence.Attachments.length > 0">
                <ul class="list-unstyled">
                    <li>
                        <span><i class="fa fa-file"></i></span>
                        <a ng-href="{{attachment | attachmentPath}}" title="{{attachment.Title}}" target="_blank">{{attachment.Title}}</a>
                        <div title="{{attachment.Description}}">{{attachment.Description | characters:50}}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h4>Comments</h4>
            {{competence.Comment}}
        </div>
    </div>

</fieldset>