﻿<ng-form name="questionForm" class="form-horizontal">
    <fieldset>
        <div class="well">
            <div ng-class="{'has-error': questionForm.questionText.$error.required}">
                <textarea class="col-md-12 form-control vertical-scrollbar" name="questionText" rows="3" required placeholder="Write your question here..." ng-model="question.Text"></textarea>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="text-align: left;">Id:</label>
                        <div class="col-md-8 form-control-static">
                            {{question.Id}}
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': questionForm.difficulty.$error.required}">
                        <label class="col-md-4 control-label" style="text-align: left;">Difficulty level:</label>
                        <div class="col-md-8">
                            <select class="form-control" name="difficulty" ng-model="question.Difficulty" required ng-options="difficulty.value as difficulty.text for difficulty in difficultyLevels"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': questionForm.status.$error.required}">
                        <label class="col-md-4 control-label" style="text-align: left;">Status:</label>
                        <div class="col-md-8">
                            <select class="form-control" name="status" ng-model="question.Status" required ng-options="status.value as status.text for status in questionStatuses"></select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': questionForm.language.$error.required}">
                        <label class="col-md-4 control-label" style="text-align: left;">Language:</label>
                        <div class="col-md-8">
                            <select class="form-control" name="language" ng-model="question.LanguageId" required ng-options="status.Id as status.Name for status in languages"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="text-align: left;">Tailored for:</label>
                        <div class="col-md-8">
                            <input ui-event="{blur: 'setValidSelectedCustomer()' }" class="form-control" type="text"
                                   placeholder="Search customer..."
                                   ng-model="selectedCustomer"
                                   typeahead="customer as customer.Name for customer in searchCustomer($viewValue)"
                                   typeahead-wait-ms="400"
                                   typeahead-on-select="onCustomerSelected(selectedCustomer)"
                                   typeahead-template-url="{{customerSearchTemplateUrl}}" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': questionForm.points.$error.required}">
                        <label class="col-md-4 control-label" style="text-align: left;">Points:</label>
                        <div class="col-md-8">
                            <input type="number" name="points" class="form-control" ng-model="question.Points" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="text-align: left;">Author:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" ng-model="question.Author" />
                        </div>
                    </div>
                    <div class="form-group" ng-if="isEditMode">
                        <label class="col-md-4 control-label" style="text-align: left;">Last used:</label>
                        <div class="col-md-8 form-control-static">
                            <span>{{(question.LastUsed | localDate) || 'Never used'}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="isEditMode">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="text-align: left;">Created:</label>
                        <div class="col-md-8 form-control-static">
                            <span>{{question.Created | localDate}} by {{question.CreatedBy.User.FirstName}} {{question.CreatedBy.User.LastName}}</span>
                        </div>
                    </div>
                </div>
                <div ng-if="question.ModifiedBy" class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label" style="text-align: left;">Modified:</label>
                        <div class="col-md-8 form-control-static">
                            <span>{{question.Modified | localDate}} by {{question.ModifiedBy.User.FirstName}} {{question.ModifiedBy.User.LastName}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><i class="fa fa-tags"></i> Associations</legend>

        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <exam-multiselect-filter label="Products" placeholder="Select products" selected-items="selectedProducts" options="products"></exam-multiselect-filter>
                    <input type="hidden" name="products" ng-model="question.Products" ui-validate="'$value.length > 0'" ui-validate-watch="'question.Products.length'" />
                    <p class="text-danger" ng-if="questionForm.products.$error.validator">
                        <i class="fa fa-warning"></i> Products are required
                    </p>
                </div>
                <div class="col-md-4">
                    <exam-version-filter label="Versions" selected-items="selectedVersions"></exam-version-filter>
                    <input type="hidden" name="rcos" ng-model="question.Rcos" ui-validate="'$value.length > 0'" ui-validate-watch="'question.Rcos.length'" />
                    <p class="text-danger" ng-if="questionForm.rcos.$error.validator">
                        <i class="fa fa-warning"></i> Versions are required
                    </p>
                </div>
                <div class="col-md-4">
                    <exam-tags-filter label="Tags" can-create="true" selected-items="selectedTags"></exam-tags-filter>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend><i class="fa fa-check-square-o"></i> Type</legend>

        <div class="well">
            <div class="form-group">
                <label class="control-label col-md-2" style="text-align: left;">Question type:</label>
                <div class="col-md-4">
                    <select class="form-control" ng-model="question.Type" required ng-change="questionTypeSelected()" ng-options="type.value as type.text for type in questionTypes"></select>
                </div>
                <label class="control-label col-md-2" ng-if="question.Type !== 'TF'" style="text-align: left;">Randomized order:</label>
                <div class="btn-group col-md-4" ng-if="question.Type !== 'TF'">
                    <button type="button" class="btn btn-default" ng-model="question.IsOptionsRandomized" btn-radio="true">Yes</button>
                    <button type="button" class="btn btn-default" ng-model="question.IsOptionsRandomized" btn-radio="false">No</button>
                </div>
            </div>

            <div class="form-group" ng-if="question.Type === 'TF'" ng-class="{'has-error': questionForm.correctBoolAnswer.$error.required}">
                <label class="control-label col-md-2" style="text-align: left;">Correct answer:</label>
                <div class="btn-group col-md-2">
                    <button type="button" class="btn btn-default btn-sm" ng-model="question.CorrectBoolAnswer" btn-radio="true">True</button>
                    <button type="button" class="btn btn-default btn-sm" ng-model="question.CorrectBoolAnswer" btn-radio="false">False</button>
                </div>
                <input type="hidden" name="correctBoolAnswer" ng-model="question.CorrectBoolAnswer" ng-required="question.Type === 'TF'" />
            </div>

            <div ng-if="question.Type === 'S' || question.Type === 'M'" class="row">
                <div class="col-md-12">

                    <label class="control-label">
                        Select the correct <span ng-if="question.Type === 'S'">option</span><span ng-if="question.Type === 'M'">options</span>:
                    </label>
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="addQuestionOption()"><i class="fa fa-plus"></i> Add option</a>
                    </div>
                </div>
            </div>
            <div ng-if="question.Type === 'S'" class="row">
                <div ng-show="question.QuestionOptions.length > 0" class="col-md-12">
                    <div class="input-group" ng-repeat="option in question.QuestionOptions" style="margin-top: 10px;">
                        <span class="input-group-addon">
                            <input type="radio" ng-model="model.selectedSingleOptionIndex" name="{{singleOptionRadioButtonName}}" ng-value="$index" />
                        </span>
                        <input type="text" class="form-control" ng-model="option.Text" placeholder="Write option text here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="removeQuestionOption(option)"><i class="fa fa-minus" title="Remove option"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <div ng-if="question.Type === 'M'" class="row">
                <div ng-show="question.QuestionOptions.length > 0" class="col-md-12">
                    <div class="input-group" ng-repeat="option in question.QuestionOptions" style="margin-top: 10px;">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="option.IsCorrect" />
                        </span>
                        <input type="text" class="form-control" ng-model="option.Text" placeholder="Write option text here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="removeQuestionOption(option)"><i class="fa fa-minus" title="Remove option"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</ng-form>