﻿<div class="row">
    <div class="col-md-12">
        <h2>{{selectedReport.text}}</h2>
    </div>
</div>
<hr />

<div class="row form-horizontal top-space">
    <label class="col-md-1 control-label">Customer:</label>
    <div class="col-md-11">
        <customer-filter report="report"></customer-filter>
    </div>
</div>
<div class="row">
    <div class="form-horizontal col-md-1">
        <label class="control-label">Course date:</label>
    </div>
    <div class="col-md-11">
        <date-interval-filter report="report"></date-interval-filter>
    </div>
</div>
<div class="row top-space">
    <div class="col-md-12">
        <report-actions folder="customerspecific/jernbaneverket/" name="safetycourseparticipants" report="report"></report-actions>
    </div>
</div>
