﻿<div>
    <form name="participantForm" ng-submit="vm.register()" role="form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
            <h4 class="modal-title">
                <span ng-show="vm.participations[0].Id==null && vm.bulkParticipants.length==0" i18ng="'register.dialog_title'">Register Participant</span>
                <span ng-show="vm.bulkParticipants.length>0" i18ng="'register.dialog_title_bulk'"></span>
                <span ng-hide="vm.participations[0].Id==null">{{ 'register.dialog_title_update' | t}} #<span ng-bind="vm.user.User.Id"></span></span>
                - {{ vm.activitySet.Name }}
            </h4>                        
        </div>
        <div class="modal-body">
            <div ng-show="vm.error" class="alert alert-danger" ng-bind-html="vm.error | to_trusted"></div>

            <div class="row" ng-show="vm.isReCertification" style="border-bottom:3px dashed silver; margin-bottom:10px;margin:inherit 0">
                <div class="form-group col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 i18ng="'register.dialog_search_head'">Søk opp tidligere deltager</h4>
                            <label for="phoenixId">{{ 'register.internal_id' | t}}</label>
                            <input type="text" name="searchPhoenixId" ng-blur="vm.searchPhoenixIdCmd()" id="searchPhoenixId" class="form-control" ng-model="vm.searchPhoenixId" style="width:50%;display:inline" />
                            <a class="btn btn-sm btn-primary" ng-click="vm.searchPhoenixIdCmd()" ng-show="vm.searchPhoenixId">Søk</a>
                        </div>

                        <div class="col-md-12" ng-bind="vm.searchPhoenixIdStatus"></div>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <a class="pull-right" style="font-size:18px" href="" ng-click="vm.openUserSearchDialog()" i18ng="'register.dialog_advanced_search'">Avansert søk</a>
                </div>
            </div>
            <div ng-show="!vm.isReCertification || vm.user" class="row">
                <div style="margin:inherit -15px" ng-show="vm.bulkParticipants.length==0">
                    <div class="form-group col-md-4" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                        <label for="username">{{ 'register.participant_fname' | t}} *</label>
                        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.User.FirstName" required ng-disabled="vm.isReCertification" />
                        <span ng-show="vm.form.firstName.$dirty && form.firstName.$error.required" class="help-block">{{ 'register.participant_fname' | t}} is required</span>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                        <label for="lastName">{{ 'register.participant_lname' | t}} *</label>
                        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="vm.user.User.LastName" required ng-disabled="vm.isReCertification" />
                        <span ng-show="vm.form.lastName.$dirty && form.lastName.$error.required" class="help-block">{{ 'register.participant_lname' | t}} is required</span>
                    </div>                    
                    <div class="form-group col-md-4" ng-class="{ 'has-error': form.phone.$dirty && form.phone.$error.required }">
                        <label for="phone">{{ 'register.participant_phone' | t}}</label>
                        <input type="text" name="phone" id="phone" class="form-control" ng-model="vm.user.User.PhoneNumber" />
                        <span ng-show="vm.form.phone.$dirty && form.phone.$error.required" class="help-block">{{ 'register.participant_phone' | t}} is required</span>
                    </div>
                    <div ng-style="leadingText.InputType=='date' && {'margin-bottom':'14px'}" ng-repeat="leadingText in vm.customLeadingTexts | filter:{ CustomLeadingText :{IsVisible:true}}" class="col-md-4 form-group" ng-class="{ 'has-error': form.CustomField[leadingText.CustomLeadingText.Id].$dirty && form.CustomField[leadingText.CustomLeadingText.Id].$error.required }">
                        <label for="TEXT_{{leadingText.CustomLeadingText.Id}}">{{ 'register.participant-' + leadingText.CustomLeadingText.LeadingTextId | t }} {{ leadingText.CustomLeadingText.IsMandatory ? ' *':'' }}</label>

                        <input ng-if="leadingText.InputType=='text'" ng-required="{{leadingText.CustomLeadingText.IsMandatory}}" type="text" name="TEXT_{{leadingText.CustomLeadingText.Id}}" id="TEXT_{{leadingText.CustomLeadingText.Id}}" class="form-control" ng-model="leadingText.InfoText" />                        
                        <input ng-if="leadingText.InputType=='number'" ng-required="{{leadingText.CustomLeadingText.IsMandatory}}" type="number" name="TEXT_{{leadingText.CustomLeadingText.Id}}" id="TEXT_{{leadingText.CustomLeadingText.Id}}" class="form-control" ng-model="leadingText.InfoText" />                        
                        
                        <p class="input-group" ng-if="leadingText.InputType=='date'" style="margin:0;">
                            <input ng-required="{{leadingText.CustomLeadingText.IsMandatory}}" type="text" class="form-control date" datepicker-popup="dd.MM.yyyy" ng-model="leadingText.InfoText" is-open="vm.dateStatus['TEXT_{{leadingText.CustomLeadingText.Id}}'].opened" datepicker-options="dateOptions" close-text="Close" name="TEXT_{{leadingText.CustomLeadingText.Id}}" id="TEXT_{{leadingText.CustomLeadingText.Id}}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openDate('TEXT_{{leadingText.CustomLeadingText.Id}}', $event)"><i class="fa fa-calendar"></i></button>
                            </span>
                            <span ng-show="participantForm['TEXT_{{ leadingText.CustomLeadingText.Id }}'].$dirty && !participantForm['TEXT_{{ leadingText.CustomLeadingText.Id }}'].$valid" style="display: table-row;color:red" class="help-block">{{ 'register.participant-' + leadingText.CustomLeadingText.LeadingTextId | t }} must be on the format dd.MM.yyyy</span>
                        </p>                         
                        <span ng-show="vm.form.password.$dirty && leadingText.CustomLeadingText.IsMandatory" class="help-block">{{ leadingText.CustomLeadingText.Text }} is required</span>
                    </div>
                    <div class="form-group col-md-4" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
                        <label for="phone">{{ 'register.participant_country' | t}} <span ng-show="vm.countryIsRequired()">*</span></label>
                        <select name="country" id="country" class="form-control" ng-model="vm.user.User.Country" ng-options="code.Value as code.Display for code in vm.countryCodes  | orderBy:'Display'" ng-required="vm.countryIsRequired()">
                        </select>
                        <span ng-show="vm.form.country.$dirty && form.country.$error.required" class="help-block">{{ 'register.participant_country' | t}} is required</span>
                    </div>
                </div>
                <div style="margin:inherit -15px">
                    <div ng-show="vm.bulkParticipants.length>0 && !vm.dialogCloseMode" class="form-group col-md-12">
                        {{ 'register.dialog_user_list' | t}}
                        <ul>
                            <li ng-repeat="p in vm.bulkParticipants">
                                #{{ p.UserId }} - {{ p.FirstName }} {{ p.LastName }}
                            </li>
                        </ul>
                    </div>
                    <div ng-show="vm.isInstructor && !vm.dialogCloseMode" ng-repeat="p in vm.participations" class="form-group col-md-12 row" ng-class="{ 'has-error': form.status.$dirty && form.status.$error.required }">
						<div ng-class="{ 'col-md-8': p.ArticleType=='E-Learning', 'col-md-12' : p.ArticleType!='E-Learning' }">
							<label for="status-{{ p.ActivityId }}">{{ p.ActivityName }} {{ 'register.participant_status' | t}}</label>
							<select name="status-{{ p.ActivityId }}" ng-model="p.ParticipantStatusCodeValue" ng-selected="p.ParticipantStatusCodeValue" ng-options="code.Value as code.Display for code in vm.participantStatusCodes | filter: vm.participantStatusFilter" class="form-control" selected="selected"></select>
						</div>
						<div class="col-md-4" ng-if="p.ArticleType=='E-Learning'">
							<label for="status-{{ p.ActivityId }}_date">{{ 'register.participant_completed_date' | t}}</label>
							<p class="input-group" style="margin:0;">
								<input type="text" class="form-control date" datepicker-popup="dd.MM.yyyy" ng-model="p.ParticipantCompletedDate" is-open="vm.dateStatus['DATE_' + p.ActivityId].opened" ng-change="vm.dateChanged(p, 'ParticipantCompletedDate', true, 'DATE_{{p.ActivityId}}')" datepicker-options="dateOptions" close-text="Close" name="DATE_{{p.ActivityId}}" id="DATE_{{p.ActivityId}}" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="vm.openDate('DATE_' + p.ActivityId, $event)"><i class="fa fa-calendar"></i></button>
								</span>
								<span ng-show="participantForm['DATE_{{ p.ActivityId }}'].$dirty && !participantForm['DATE_{{ p.ActivityId }}'].$valid" style="display: table-row;color:red" class="help-block">{{ 'register.participant_completed_date' | t}} must be on the format dd.MM.yyyy</span>
							</p>
						</div>														
                    </div>
                    <div ng-show="!vm.isInstructor && vm.canUnenroll" class="form-group col-md-12">
                        {{'register.dialog_select_activities' | t}}
                        <div ng-repeat="p in vm.participations">
                            <input type="checkbox" name="status-{{ p.ActivityId }}" id="status-{{ p.ActivityId }}" ng-checked="p.ParticipantStatusCodeValue!='CANCELLED'" ng-click="vm.toggleParticipantStatus(p)">
                            <label for="status-{{ p.ActivityId }}">{{ p.ActivityName }}</label>
                        </div>
                    </div>
                    <div ng-show="vm.isInstructor && vm.bulkParticipants.length==0" class="form-group col-md-12" ng-class="{ 'has-error': form.comments.$dirty && form.comments.$error.required }">
                        <label for="comments">{{ 'register.dialog_comments' | t}}</label>
                        <textarea name="comments" ng-model="vm.comments" class="form-control"></textarea>
                    </div>
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <div class="pull-right" ng-show="vm.dialogCloseMode">
                <a class="btn btn-sm btn-default" ng-click="vm.cancel()" i18ng="'register.dialog_close'">Close</a>
            </div>
            <div class="pull-right" ng-show="!vm.dialogCloseMode">
                <a class="btn btn-sm btn-default" ng-click="vm.cancel()" i18ng="'register.dialog_cancel'">Cancel</a>
                <span ng-show="vm.bulkParticipants.length==0">
                    <a class="btn btn-sm btn-primary" ng-show="!vm.isReCertification || vm.user" ng-click="vm.save()" ng-disabled="!participantForm.$valid" busy-button is-busy="isSaving" busy-text="Saving...">
                        <span ng-show="vm.participations[0].Id==null" i18ng="'register.dialog_enroll'"></span>
                        <span ng-hide="vm.participations[0].Id==null" i18ng="'register.dialog_enroll_update'"></span>
                    </a>
                    <a class="btn btn-sm btn-primary" ng-show="!vm.isReCertification || vm.user" ng-click="vm.saveAndAddNew()" ng-disabled="!participantForm.$valid" busy-button is-busy="isSaving" busy-text="Saving...">
                        <span ng-show="vm.participations[0].Id==null" i18ng="'register.dialog_enroll_addnew'"></span>
                        <span ng-hide="vm.participations[0].Id==null" i18ng="'register.dialog_enroll_addnew_update'"></span>
                    </a>
                </span>
                <span ng-show="vm.bulkParticipants.length>0">
                    <a class="btn btn-sm btn-primary" ng-click="vm.bulkSave()" busy-button is-busy="vm.isSaving" busy-text="Saving...">
                        {{ 'register.dialog_update' | t}}
                    </a>
                </span>
            </div>
        </div>
    </form>
</div>