﻿<div class="row">
    <div class="col-md-12">
        <h2>{{selectedReport.text}}</h2>
    </div>
</div>

<hr />

<div class="row form-horizontal">
    <label class="col-md-2 control-label">Customer type:</label>
    <div class="col-md-2">
        <customer-type-filter report="report"></customer-type-filter>
    </div>
</div>

<div class="row form-horizontal top-space">
    <label class="col-md-2 control-label">Customer:</label>
    <div class="col-md-10">
        <customer-filter report="report"></customer-filter>
    </div>
</div>

<div class="row form-horizontal">
    <label class="col-md-2 control-label">Product:</label>
    <div class="col-md-10">
        <product-filter report="report"></product-filter>
    </div>
</div>

<div class="row">
    <div class="form-horizontal col-md-2">
        <label class="control-label">Enrollment dates:</label>
    </div>
    <div class="col-md-10">
        <date-interval-filter report="report"></date-interval-filter>
    </div>
</div>

<div class="row top-space">
    <div class="col-md-12">
        <report-actions name="participationsstatuspractivity" report="report"></report-actions>
    </div>
</div>