﻿<div class="row">
    <div class="col-md-12">
        <h2>{{selectedReport.text}}</h2>
    </div>
</div>

<hr />

<ng-form name="reportForm">

	<div class="row form-horizontal">
		<label class="col-md-2 control-label">Customer type:</label>
		<div class="col-md-2">
			<customer-type-filter report="report"></customer-type-filter>
		</div>
	</div>

	<div class="row form-horizontal top-space">
		<label class="col-md-2 control-label">Customer:</label>
		<div class="col-md-10">
			<customer-filter report="report" is-required="true" report-form="reportForm"></customer-filter>
		</div>
	</div>

	<div class="row form-horizontal">
		<label class="col-md-2 control-label">Missing Product(s):</label>
		<div class="col-md-10">
			<product-filter report="report"></product-filter>
			&nbsp;<input type="checkbox" ng-model="report.filters.productIdsIsAndQuery" id="productIdsIsAndQuery" /> <label for="productIdsIsAndQuery">User must be missing all selected products</label>
		</div>
	</div>

	<div class="row form-horizontal">
		<label class="col-md-2 control-label">Taken Product(s):</label>
		<div class="col-md-10">
			<product-filter report="report" bind-to="takenProductId"></product-filter>			
		</div>
	</div>

	<div class="row top-space">
		<div class="col-md-12">
			<report-actions name="potentialparticipations" report="report" report-form="reportForm"></report-actions>
		</div>
	</div>
</ng-form>