﻿<div class="row">
    <div class="col-md-12">
        <h2>{{selectedReport.text}}</h2>
    </div>
</div>

<hr />

<div class="row form-horizontal">
    <label class="col-md-2 control-label">Distributor:</label>
    <div class="col-md-10">
        <distributor-filter report="report"></distributor-filter>
    </div>
</div>
<div class="row">
    <div class="form-horizontal col-md-2">
        <label class="control-label">Order dates:</label>
    </div>
    <div class="col-md-10">
        <date-interval-filter report="report"></date-interval-filter>
    </div>
</div>  

<div class="row top-space">
    <div class="col-md-12">
        <report-actions name="prepaidclassrooms" report="report"></report-actions>
    </div>
</div>
