﻿@{
    ViewBag.Title = "Phoenix - Examiner";
    ViewBag.DefaultUrl = "/grading";
    ViewBag.DefaultState = "grading";
}

@section AppCss {
    @Styles.Render("~/app/styles/app-compiled.min.css")
}

<div ng-app="phoenix" ng-controller="AppCtrl" ng-cloak cg-busy="{tracker:'tracker', backdrop:false}">
    <div ng-if="isLoggedIn && !isResettingPassword" ng-include="'@Url.Content("~/app/phoenix/views/examiner-navigation.html")'"></div>
    <div class="container">
        <div ui-view></div>
    </div>
</div>