﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Please select work order</h4>
</div>
<div class="modal-body">
    <ng-form name="selectWorkorder">
        <div class="form-group" ng-class="{'has-error': selectWorkorder.workorder.$error.required}">
            <label class="control-label">Work order:</label>
            <select class="form-control" name="workorder" ng-model="locals.workOrder" ng-selected="locals.workOrder"
                    ng-options="value as value for value in workOrders" required />
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
    <a type="button" class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="!selectWorkorder.$valid">Send to invoicing</a>
</div>