﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Please select work orders</h4>
</div>
<div class="modal-body">
    <ng-form name="workordersForm">
        <div ng-repeat="customerWorkOrders in customerWorkOrdersCollection" class="form-group">
            <ng-form name="workorderItemForm">
                <div ng-class="{'has-error': workorderItemForm.workorder.$error.required}">
                    <label class="control-label">{{customerWorkOrders.CustomerName}}</label>
                    <select class="form-control" name="workorder"
                            ng-model="customerWorkOrders.SelectedWorkOrder"
                            ng-selected="customerWorkOrders.SelectedWorkOrder"
                            ng-change="onWorkorderSelected()"
                            ng-options="value as value for value in customerWorkOrders.WorkOrders" required />
                </div>
            </ng-form>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
    <a type="button" class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="!workordersForm.$valid">Send to invoicing</a>
</div>