﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Subject: {{mail.Subject}}</h4>
</div>

<div class="modal-body">
    <html-block html="{{mail.Body}}"></html-block>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="close()">Close</a>
    </div>
</div>