﻿@{
    ViewBag.Title = "Phoenix - Content";
}

@section AppCss {
    @Styles.Render("~/app/styles.content/app-content-compiled.css")
}

<div ng-app="content">
    <div class="container">
        <div ui-view></div>
    </div>
</div>