﻿<div class="row">
    <div class="col-md-2">
        <h1>Reports</h1>
    </div>
    <div class="col-md-10">
        <div class="form-inline pull-right" style="margin-top: 40px;" role="form" ng-show="selectedReport">
            <div class="form-group">
                <select class="form-control" ng-model="selectedReport"
                        ng-options="report.text group by report.category for report in reports"
                        ng-change="reportSelected()">
                    <option value="" disabled>Select report</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="form-horizontal" ng-show="!selectedReport">
    <div class="form-group">
        <div class="col-md-12">
            <h2 style="margin-bottom: 0;">Select report:</h2>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <select class="form-control" ng-model="selectedReport"
                    ng-options="report.text group by report.category for report in reports"
                    ng-change="reportSelected()">
                <option value="" disabled>Select report</option>
            </select>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="selectedReport">
    <div class="panel-body">
        <div ui-view></div>
    </div>
</div>