﻿<div class="row">
    <div class="col-md-8">
        <h1>Exam</h1>
    </div>
    <div class="col-md-4">
        <!--<div class="pull-right sub-nav">
            <ul class="nav nav-pills">
                <li ng-class="{'active': isActive('exam.questions')}">
                    <a ui-sref="exam.questions.list">Question Bank</a>
                </li>
            </ul>
        </div>-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ui-view>
        </div>
    </div>
</div>

