﻿<a>
    <i ng-if="match.model.IsArbitrary" class="fa fa-user"></i> 
    <i ng-if="!match.model.IsArbitrary" class="fa fa-building-o"></i> 
    <span bind-html-unsafe="match.label"></span> <span class="label label-default">{{match.model.DistributorName}}</span>
</a>
