﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <a class="btn btn-default" ui-sref="exam.questions.edit({ questionId: question.Id })"><i class="fa fa-pencil"></i> Edit</a>
        </div>
        <div class="form-group">
            <label class="control-label">Question:</label>
            <div>{{question.Text}}</div>
        </div>
        <div class="row">
            <div class="col-md-4 form-horizontal">
                <div class="row">
                    <label class="col-md-7">Id:</label>
                    <div class="col-md-5">
                        {{question.Id}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-7">Difficulty level:</label>
                    <div class="col-md-5">
                        {{question.Difficulty | difficultyLevel}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-7">Status:</label>
                    <div class="col-md-5">
                        {{question.Status | questionStatus}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-7">Customer tailored:</label>
                    <div class="col-md-5">
                        {{question.CustomerId ? 'Yes' : 'No'}}
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-7">Language:</label>
                    <div class="col-md-5">
                        {{getLanguageText(question.LanguageId)}}
                    </div>
                </div>
            </div>
            <div class="col-md-8 form-horizontal">
                <div class="row">
                    <label class="col-md-3">Products:</label>
                    <div class="col-md-9">
                        <span class="label label-success" style="margin-right: 5px; margin-bottom: 5px; float: left;" ng-repeat="product in question.Products">{{product.ProductPath}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">Versions:</label>
                    <div class="col-md-9">
                        <span class="label label-info" style="margin-right: 5px; margin-bottom: 5px; float: left;" ng-repeat="rco in question.Rcos">{{rco.Version}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">Tags:</label>
                    <div class="col-md-9">
                        <span class="label label-warning" style="margin-right: 5px; margin-bottom: 5px; float: left;" ng-repeat="tag in question.Tags">{{tag.Text}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">Author:</label>
                    <div class="col-md-9">
                        <span>{{question.Author}}</span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-md-3">Last used:</label>
                    <div class="col-md-9">
                        <span>{{(question.LastUsed | localDate) || 'Never used'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>