@using Metier.Phoenix.Api.Areas.HelpPage.Models
@model IEnumerable<HelpItemApiModel>

    @{
        ViewBag.Title = "Phoenix API Help Page";

        // Group APIs by controller
        var apiGroups = Model.GroupBy(api => api.ApiDescription.ActionDescriptor.ControllerDescriptor);
    }

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @foreach (var group in apiGroups)
            {
                @Html.DisplayFor(m => group, "ApiGroup")
            }
        </section>
    </div>

    @section Scripts {
        <link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
    }
