﻿<div class="row comment-area">
    <div ng-if="!excludeHeader" class="col-md-12">
        <h4>Comments</h4>
    </div>
    <div class="col-md-12">
        <div ng-if="isInitialized">
            <div ng-repeat="comment in comments" class="row comment-box">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p ng-bind-html="comment.CommentText"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <i class="comment-actions fa fa-trash-o" ng-click="deleteComment(comment)" title="Delete comment"></i>
                            </div>
                            <em>{{comment.LastModified | localDate}} - {{comment.User.FirstName}} {{comment.User.LastName}}</em>
                            <hr ng-if="$index < comments.length - 1" />
                        </div>
                    </div>
                </div>
            </div>
            
            <textarea class="form-control vertical-scrollbar top-space" rows="5" placeholder="Comment here..." ng-model="newComment.CommentText"></textarea>

            <div>
                <span title="Saving..." ng-show="isBusySaving"><span class="fa fa-spinner fa-spin"></span> Saving comment</span>
                <a class="btn btn-sm btn-default clickable top-space pull-right" ng-disabled="!newComment.CommentText || isBusySaving" ng-click="addComment()">Add Comment</a>
            </div>
            
        </div>
        <div ng-if="!isInitialized">
            <div class="row">
                <div class="col-md-12">
                    <i class="fa fa-spinner fa-spin" title="Loading..."></i> Loading comments
                </div>
            </div>
        </div>
    </div>
</div>