﻿<div class="row">
    <div class="col-md-12">
        <h1 ng-if="isUserContext">Users ({{users.TotalCount}})</h1>
        <h2 style="margin-top: 0px;" ng-if="isCustomerContext">Users ({{users.TotalCount}})</h2>
    </div>
</div>

<div class="row" ng-if="users.Items.length === 0">
    <div class="col-md-12">
        <p>
            Could not find any users
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <a ng-if="isUserContext" ui-sref="usercreate.edit" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create New User</a>        
        <a ng-if="isCustomerContext" ui-sref="customer.usercreate.edit" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create New User</a>        
        
        <a ng-if="!isCustomerContext" ng-click="bulkUpdate()" class="btn btn-default btn-sm"><i class="fa fa-file-text"></i> Bulk edit</a>
        
        <div ng-if="isCustomerContext" class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle">
                <span class="fa fa-file-text"></span> Bulk operations <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a class="clickable" ng-click="bulkImport()">Bulk import</a>
                </li>
                <li>
                    <a ng-click="bulkUpdate()" class="clickable">Bulk edit</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-4">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search users..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="row top-space" ng-if="users.Items.length > 0">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="User Name" order-by="username" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Last Name" order-by="lastname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="First Name" order-by="firstname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="E-mail" order-by="email" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Organization" order-by="customername" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Admin User" order-by="isphoenixuser" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users.Items">
                    <td>
                        <a ng-if="isUserContext" ui-sref="user.overview.details({userId: user.Id})">{{user.UserName}}</a>
                        <a ng-if="isCustomerContext" ui-sref="customer.user.overview.details({userId: user.Id})">{{user.UserName}}</a>
                    </td>
                    <td>{{user.LastName}}</td>
                    <td>{{user.FirstName}}</td>
                    <td>{{user.Email}}</td>
                    <td>
                        <a ui-sref="customer.overview.details({customerId: user.CustomerId })">{{user.CustomerName}}</a>
                    </td>
                    <td>
                        {{user.IsPhoenixUser ? 'Yes' : 'No'}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="users.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>