﻿<h1 ng-if="isUserContext">Create new user</h1>
<h2 ng-if="isCustomerContext">Create new user</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>