<fieldset>
    <legend>Enrollments</legend>
    <div ng-if="participants.Items.length === 0">
        <p>
            The user doesn't have any enrollments
        </p>
    </div>

    <div ng-if="participants.Items.length > 0" class="row">
        <div class="col-md-12">
            <div class="panel panel-default" ng-repeat="activitySet in uniqueActivitysets">
                <div class="panel-heading">
                    <strong>
                        <a ui-sref="customer.activities.overview.activitysets.item.view({customerId: activitySet.CustomerId, activitySetId: activitySet.Id})">{{activitySet.Name}}</a>
                    </strong>
                    <div class="pull-right" data-toggle="collapse" data-target="#panel{{activitySet.Id}}">
                        <i class="fa fa-plus"></i>
                        <strong>/</strong>
                        <i class="fa fa-minus"></i>
                    </div>
                </div>

                <div id="panel{{activitySet.Id}}" class="panel-body collapse in">
                    <div ng-repeat="participant in participationsInActivitySets(activitySet.Id)" ng-init="statusCode = getParticipantStatusDisplay(participant.ParticipantStatusCodeValue)">
                        <div>
                            <div>
                                <br />
                                <div class="row">
                                    <div class="col-md-2">
                                        Activity:
                                    </div>
                                    <div class="col-md-10">
                                        <strong>
                                            <a ui-sref="customer.activities.overview.activities.item.view({customerId: participant.ActivityOwnerCustomerId, activityId: participant.ActivityId})">{{participant.ActivityName}}</a>
                                        </strong>
                                        ({{participant.ActivityStart | localDate:null:participant.MomentTimezoneName}} - {{participant.ActivityEnd | localDate:null:participant.MomentTimezoneName}})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Content type:
                                    </div>
                                    <div class="col-md-10">
                                        <strong>
                                            {{participant.ArticleType}}
                                        </strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Status:
                                    </div>
                                    <div class="col-md-10">
                                        <strong>
                                            {{statusCode}}
                                        </strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        Invoice:
                                    </div>
                                    <div class="col-md-10">
                                        <span ng-if="participant.OrderId">
                                            <span ng-if="participant.OrderStatus">
                                                <span ng-if="!participant.OrderNumber && !participant.InvoiceNumber">
                                                    Status: <a ui-sref="order.view({orderId: participant.OrderId})"><strong>{{participant.OrderStatus | orderStatus}}</strong></a>,
                                                </span>
                                                <span ng-if="participant.OrderNumber || participant.InvoiceNumber">
                                                    Status: <em>{{participant.OrderStatus | orderStatus}}</em>,
                                                </span>
                                            </span>
                                            <span ng-if="participant.OrderNumber">
                                                Order no: <a ui-sref="order.view({orderId: participant.OrderId})"><strong>{{participant.OrderNumber}}</strong></a>,
                                            </span>
                                            <span ng-if="participant.InvoiceNumber">
                                                Invoice no: <a ui-sref="order.view({orderId: participant.OrderId})"><strong>{{participant.InvoiceNumber}}</strong></a>,
                                            </span>
                                            Invoiced to: <a ui-sref="customer.overview.details({customerId: participant.CustomerId})"><strong>{{participant.CustomerName}}</strong></a>
                                        </span>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</fieldset>