﻿<div class="row">
    <div class="col-md-8"><h1>{{userAccount.User.FirstName}} {{userAccount.User.LastName}} ({{userAccount.Username}})</h1></div>
    <div class="col-md-4">
        <div class="pull-right sub-nav">
            <ul class="nav nav-pills">
                <li ng-class="{'active': isActive('user.overview')}">
                    <a ui-sref="user.overview.details">Overview</a>
                </li>
            </ul>
        </div>                
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button ng-disabled="isEditMode" ng-click="mergeUsers(userAccount.User.Id)" class="btn btn-sm btn-default"><i class="fa fa-user-plus"></i> Merge</button>
                            <button ng-disabled="isEditMode || getSection() === 'enrollments'" ui-sref="user.overview.edit.section({ userId: userAccount.User.Id, section: getSection() })" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</button>
                        </div>
                    </div>
                </div>
                <div ui-view></div>        
            </div>
            
        </div>
    </div>
</div>