﻿@{
    ViewBag.Title = "Phoenix - LMS";
    ViewBag.DefaultUrl = "/home";
    ViewBag.DefaultState = "home";
}

@section AppCss {
    @Styles.Render("~/app/styles/app-compiled-responsive-override.min.css")
}
<div ng-app="phoenix" ng-controller="AppCtrl" ng-cloak cg-busy="{tracker:'tracker', backdrop:false}">
    <div ng-if="isLoggedIn && !isResettingPassword" ng-include="'@Url.Content("~/app/phoenix/views/navigation.html")'"></div>
    <div class="container">
        <div ui-view></div>
    </div>
</div>