﻿<div style="position: relative;">
    <i class="fa fa-spinner fa-spin" ng-show="isSearching" style="position: absolute; right: 10px; top: 10px;"></i>
    <input name="userSearch" class="form-control" type="text" placeholder="Search user..."
           ng-model="user" ui-event="{blur: 'setValidSelectedUser()' }"
           style="max-width: 400px; padding-right: 30px;"
           typeahead="user as (user.FirstName + ' ' + user.LastName) for user in searchUser($viewValue)"
           typeahead-on-select="onUserSelected(user)"
           typeahead-wait-ms="400" typeahead-template-url="{{userSearchTemplateUrl}}" />
</div>