﻿/* Course program styles */
.cp-box {
    .panel;
    .panel-default;
    .panel-body;
}

.cp-step {
    .cp-box;
    border-color: darken(@table-border-color, 25%);
    border-width: 2px;
    min-height: 100px;
    hr {
        border-color: @gray;
        margin-top: 14px;
        margin-bottom: 14px;
    }
}
.cp-step-placeholder {
    .cp-exam;
    .cp-drop-zone;
}

.cp-exam {
    .cp-box;
    border-color: darken(@table-border-color, 25%);
    border-width: 2px;
    min-height: 100px;
    
}

.cp-exam-placeholder {
    .cp-exam;
    .cp-drop-zone;
}

.cp-module {
    .cp-box;
    border-color: darken(@table-border-color, 25%);
    border-width: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: auto;
    min-width: 200px;
    min-height: 100px;
    max-width: 400px;
    .cp-name-box {
        max-width: 400px;
    }
    .cp-description {
        max-width: 400px;
        textarea {
            width: 365px;
            resize: both;
        }
    }
}

.cp-step-view {
    .cp-step;
    border-width: 1px;
    min-height: 20px;
}

.cp-exam-view {
    .cp-exam;
    border-width: 1px;
    min-height: 20px;
}

.cp-module-view {
    .cp-module;
    border-width: 1px;
    min-height: 20px;
    min-width: 100px;
}

.cp-module-placeholder {
    .cp-module;
    .cp-drop-zone;
    width: 200px;
}

ul.cp-steps, ul.cp-exams, ul.cp-modules-empty {
    display: block;
    padding: 0px;
    list-style: none;
}

ul.cp-modules {
    display: inline;
    padding: 0px;
}

ul.cp-modules-dropzone {
}

.cp-name {
    font-size: 20px;
    text-align: left;
}

.cp-name-box {
        margin-bottom: 5px;
}

.cp-remove {
    text-align: left;
}

.cp-drop-zone {
    border-color: darken(@table-border-color, 10%);
    border-style: dashed;
    border-width: 2px;
}