﻿<div>
    <style>
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .email-head, .email-important {
            font-style: italic;
            color: #F17C32;
            font-weight: bold;
        }

        .email-important {
            color: #FFC000;
        }
    </style>
    Hi {{ user['User']['FirstName'] }},<br /><br />
    <div ng-repeat="activitySet in activitySets" class="ng-scope">        
        We can hereby confirm that the following participants are enrolled to the course {{activitySet.Data.Name}}<br /><br />
        Participants:<br />
        <ul>
            <li ng-repeat="participant in activitySet.Users">{{participant.FirstName}} {{participant.LastName}}</li>            
        </ul>

        <p class="email-important">
            Important information for your participants:
        </p>
        All participants must bring their Building card/ ID- card to the classroom session. In cases where the card have not yet been received, the application receipt must be brought to the classroom session.<br />
        <p class="email-head">
            Your enrollments are confirmed for the following session:
        </p>
        <b>Session:</b> {{activitySet.Data.Name}}<br />
        <b>Date:</b> {{getClassroomDate(activitySet)}}<br />
        <b>Time:</b> Will be determined prior to the session<br />
        <b>Location:</b> {{getClassroomResource(activitySet,2)}}<br />
        <b>Instructor:</b> {{getClassroomResource(activitySet,1)}}<br />
    </div>
    <p style="color:red">
        In cases of pr-course assignments that needs completion prior to the session, please inform your employees to log in to myMetier Learning at <a href="http://en.metier.no/follobanen-en" target="_blank">http://en.metier.no/follobanen-en</a>. Here you will also find all information about the Safety Courses, application for Building card/ID- card and contact information.
    </p>
    <p>
        You will receive a final confirmation reminder email two days prior to the scheduled classroom session. This will contain the participant list of all the employees you have signed up for the course.
    </p>
    <p class="email-head">
        Hint
    </p>
        Please hold these dates by creating meeting notices in your calendar.
    <hr />
    <p class="email-head">
        Questions?
    </p>
    If you have any questions about the training program please do not hesitate to contact us.
    <p>
        Regards<br />
        Metier Academy<br />
    </p>
    <a href="mailto:contact@metieracademy.com">contact@metieracademy.com</a>
</div>
