﻿<div>
    <style>
        body{
            font-family:Arial;
            font-size:10pt;
        }
        .email-head, .email-important{
            font-style:italic;
            color:#F17C32;
            font-weight:bold;
        }
        .email-important{
            color:#FFC000;
        }
    </style>
    Hei {{ user['User']['FirstName'] }},<br /><br />
    <div ng-repeat="activitySet in activitySets" class="ng-scope">        
        Det bekreftes at du har meldt opp følgende deltakere til kurset {{activitySet.Data.Name}}<br /><br />
        Deltakere:<br />
        <ul>
            <li ng-repeat="participant in activitySet.Users">{{participant.FirstName}} {{participant.LastName}}</li>            
        </ul>
    
        <p class="email-important">
            Viktig informasjon til alle deltakere:
        </p>
        Alle deltakere av kurset må medbringe sitt Bygg kort/ID-Kort til samling. I tilfeller hvor deltakeren enda ikke har mottatt sitt kort, må kvittering for søknaden på Bygg kort/ID- kort medbringes til samling.<br />
        <p class="email-head">
            Praktisk informasjon:
        </p>
        <b>Modul:</b> {{activitySet.Data.Name}}<br />
        <b>Dato:</b> {{getClassroomDate(activitySet)}}<br />
        <b>Tid:</b> Vil brekreftes nærmere samling<br />
        <b>Sted:</b> {{getClassroomResource(activitySet,2)}}<br />
        <b>Instruktør:</b> {{getClassroomResource(activitySet,1)}}<br />    
    </div>
    <p style="color:red">
        I tilfeller hvor det er satt opp forarbeid som skal sluttføres før samlingen ber vi deg informere dine ansatte om å logge inn på <a href="http://www.metier.no/follobanen" target="_blank">http://www.metier.no/follobanen</a>. På denne siden finner du også nyttig informasjon angående Sikkerhetskursene, søknad om Byggkort samt kontaktinformasjon m.m
    </p>
    <p>
        Du vil få tilsendt en endelig bekreftelse med praktisk informasjon to dager i forkant av samlingen. Denne bekreftelsen inneholder deltakerlisten over alle de ansatte du har meldt på kurset
    </p>
    <p class="email-head">
        Tips
    </p>
    Husk å notere deg kursdatoen i din kalender.
    <hr />
    <p class="email-head">
        Spørsmål?
    </p>
        Ta gjerne kontakt dersom du har spørsmål!
    <p>
        Vennlig hilsen<br />
        Metier Academy<br />
    </p> 
    <a href="mailto:academy@metier.no">academy@metier.no</a>
</div>