﻿<label>{{label}}: <i class="fa fa-spin fa-spinner" title="Searching..." ng-show="isSearching"></i></label>
<div class="row">
    <div class="col-md-12">
        <input class="form-control" type="text" placeholder="Search versions.."
               ng-model="version"
               style="max-width: 400px;"
               typeahead="rco as rco.Version for rco in searchVersion($viewValue)"
               typeahead-wait-ms="400"
               typeahead-on-select="onVersionSelected(version)"
               typeahead-loading="isSearching" />    
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <span ng-repeat="item in selectedItems" class="label label-info label-tag">{{item.Version}} <a style="color: white;" href="javascript:void(0)" ng-click="remove(item)"><i class="fa fa-times" title="Remove"></i></a></span>
    </div>
</div>