﻿@using System.Web.Optimization
@using Metier.Phoenix.Web.Portal.Configuration
<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="portal" id="ng-app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Portal</title>

    <!--[if lte IE 8]>
      <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ui-view');
        document.createElement('ng-view');
        document.createElement('alert');
        document.createElement('question');
        document.createElement('accordion');
        document.createElement('accordion-group');
        document.createElement('accordion-heading');
      </script>
    <![endif]-->
    @Styles.Render("~/app/portalcss")
    @Styles.Render("~/app/bower_components/font-awesome/css/font-awesome.min.css")

    <!--[if lte IE 9]>
      @Scripts.Render("~/app/bower/ie/js")
    <![endif]-->

    @Scripts.Render("~/app/polyfills/lib/js")
    @Scripts.Render("~/app/bower/lib/js")

    <script type="text/javascript">
        angular.module('portal.config', []).constant('portalConfig', {
            basePath: '@Url.Content("~/")',
            apiPath: '@PortalConfiguration.GetPhoenixApiUrl()',
            learningPortalLoginPath: '@PortalConfiguration.GetLearningPortalLoginUrl()'
        });
    </script>
    @Scripts.Render("~/app/portal/js")

</head>
<body>
    <div class="container">
        <div>
            <div ui-view></div>
        </div>
        <hr />
        <footer>
            ©All rights reserved - Metier AS
        </footer>
    </div>

</body>
</html>