﻿<div class="navbar navbar-inverse" ng-controller="NavigationCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="margin-left: -10px;">
            <ul class="nav navbar-nav">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoading"><a><i class="fa fa-spinner fa-spin"></i> Loading...</a></li>
                <li ng-show="!isLoading && loggedInUser" class="dropdown">
                    <a class="clickable dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {{loggedInUser.User.FirstName}} {{loggedInUser.User.LastName}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="signOut()"><i class="fa fa-power-off"></i> Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>