﻿<div class="row col-md-12">
	<h1>
		Welcome to <img ng-src="{{'logo_30x55.png' | imageRef}}" style="margin-top: -30px;" />PHOENIX
	</h1>
	<p style="margin-top: 30px;">
		PHOENIX is a Learning Management System (LMS) developed by Metier AS.
	</p>
	<p>
		PHOENIX is used by Metier Academy and their distributors to manage administration, documentation,<br /> tracking, reporting and delivery of Training Programs and certifications to their customers.
	</p>
	<h4 style="margin-top: 50px; font-weight: bold;" class="text-brand">Support</h4>
	<p>
		All support issues should be sent to <a href="mailto:phoenix@metier.zendesk.com">phoenix@metier.zendesk.com</a>
	</p>
</div>