﻿<div class="center-box text-center" style="margin-top: 50px;">
    <span><img ng-src="{{'logo_82x150.png' | imageRef}}" style="vertical-align: text-bottom" /> <span style="font-size: 100pt;">PHOENIX</span></span>
</div>
<div class="center-box well" style="width: 400px; padding: 40px;">
    <div class="center-box">
        <form ng-submit="resetPassword()" name="resetPasswordForm">
            <h2>Reset password</h2>
            
            <div class="form-group" ng-class="{'has-error': resetPasswordForm.email.$error.required || resetPasswordForm.email.$error.email}">
                <label>E-mail:</label>
                <input type="email" class="form-control" name="email" ng-model="model.email" placeholder="Enter e-mail" focus-me="true" required />
            </div>
            <div class="form-group" ng-class="{'has-error': resetPasswordForm.password.$error.required}">
                <label>New password:</label>
                <input type="password" class="form-control" name="password" ng-model="model.password" placeholder="New password" required />
            </div>
            <div class="form-group" ng-class="{'has-error': resetPasswordForm.repeatpassword.$error.required}">
                <label>Repeat password:</label>
                <input type="password" class="form-control" name="repeatpassword" ng-model="model.repeatpassword" placeholder="Repeat new password" ui-validate="{'password_match_error': '$value===model.password'}" ui-validate-watch="'model.password'" required />
            </div>
            <div class="form-group" ng-class="{'has-error': resetPasswordForm.repeatpassword.$error.password_match_error}">
                <label ng-if="resetPasswordForm.repeatpassword.$error.password_match_error" ng-if="resetPasswordForm.repeatpassword.$error.password_match_error" class="control-label">Passwords doesn't match!</label>
            </div>


            <input type="submit" ng-disabled="!resetPasswordForm.$valid" class="clickable btn btn-lg btn-primary" style="width: 100%;" busy-button is-busy="isBusy" busy-text="Resetting password..." value="Reset password" />
        </form>
    </div>
</div>
