﻿<div class="center-box text-center" style="margin-top: 50px;">
    <span><img ng-src="{{'logo_82x150.png' | imageRef}}" style="vertical-align: text-bottom" /> <span style="font-size: 100pt;">PHOENIX</span></span>
</div>
<div class="center-box well" style="width: 400px; padding: 40px;">
    <div class="center-box">
        <form ng-submit="login()" name="loginForm">
            <h2>Please sign in</h2>
            
            <div class="form-group" ng-class="{'has-error': loginForm.username.$error.required}">
                <label>Username:</label>
                <input type="text" class="form-control" name="username" ng-model="username" placeholder="Enter username" focus-me="true" required ui-keypress="{13: 'login()'}" />
            </div>
            <div class="form-group" ng-class="{'has-error': loginForm.password.$error.required}">
                <label>Password:</label>
                <input type="password" class="form-control" name="password" ng-model="password" placeholder="Enter password" required ui-keypress="{13: 'login()'}" />
            </div>
            
            <input type="submit" ng-show="isBusy" class="clickable btn btn-lg btn-primary" ng-disabled="true" style="width: 100%;" value="Signing in..." />
            <input type="submit" ng-show="!isBusy" class="clickable btn btn-lg btn-primary" ng-disabled="!loginForm.$valid" style="width: 100%;" value="Sign in" />
        </form>
    </div>    
</div>
