﻿<div class="navbar navbar-inverse" ng-controller="NavigationCtrl">
    <div class="container">
        <div ng-if="isTestEnvironment" class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <span style="width: 100%" class="label label-danger pull-right">Test-environment</span>
            </div>
        </div>        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="margin-left: -10px;">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/home')}"><a ui-sref="home">Home</a></li>
                <li ng-class="{active:isActive('/customers')}"><a ui-sref="customerlist">Customers</a></li>
                <li ng-class="{active:isActive('/users')}"><a ui-sref="userlist">Users</a></li>
                <li ng-class="{active:isActive('/products')}"><a ui-sref="productlist.active">Products</a></li>
                <li ng-class="{active:isActive('/resources')}"><a ui-sref="resourceslist">Resources</a></li>
                <li ng-class="{active:isActive('/orders')}"><a ui-sref="orderlist({coordinatorId: loggedInUser.User.Id })">Invoices</a></li>
                <li ng-class="{active:isActive('/reports')}"><a ui-sref="reports">Reports</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="isLoading"><a><i class="fa fa-spinner fa-spin"></i> Loading...</a></li>
                <li ng-show="!isLoading && loggedInUser" class="dropdown">
                    <a class="clickable dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-home"></i> {{selectedDistributor.Name}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Distributors</li>
                        <li ng-repeat="distributor in distributors">
                            <a class="clickable" ng-click="selectDistributor(distributor)">
                                <span ng-if="distributor.Id === selectedDistributor.Id">
                                    <i class="fa fa-check"></i> {{distributor.Name}}
                                </span>
                                <span style="margin-left: 20px;" ng-if="distributor.Id !== selectedDistributor.Id">{{distributor.Name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-show="!isLoading && loggedInUser" class="dropdown">
                    <a class="clickable dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> {{loggedInUser.User.FirstName}} {{loggedInUser.User.LastName}} <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="signOut()"><i class="fa fa-power-off"></i> Sign out</a></li>
                    </ul>
                </li>
                <li><a ng-href="{{'documentation/userdoc.pdf' | assetRef}}" title="Open User Documentation" target="_blank"><i class="fa fa-question-circle fa-lg"></i></a></li>
            </ul>
        </div>
    </div>
</div>