﻿
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{{true: 'Edit: ' + product.Title, false: 'Create New Product'}[isEditMode]}}</h4>
</div>
<div class="modal-body">
    <ng-form name="createProductForm">
                
        <div class="form-group" ng-class="{'has-error': createProductForm.category.$error.required}">
            <label class="control-label">Category</label>
            <select class="form-control" name="category" required ng-disabled="isEditMode"
                    ng-model="product.ProductCategoryId" ng-selected="product.ProductCategoryId" 
                    ng-options="category.Id as getCategoryFriendlyName(category) for category in productCategories">
            </select>
        </div>
                
        <div class="form-group" ng-class="{'has-error': createProductForm.number.$error.required}">
            <label class="control-label">Number</label>
            <input type="text" name="number" ng-disabled="isEditMode" class="form-control" ng-model="product.ProductNumber" placeholder="Product number" required>
        </div>
                
        <div class="form-group" ng-class="{'has-error': createProductForm.title.$error.required}">
            <label class="control-label">Title</label>
            <input type="text" name="title" class="form-control" ng-model="product.Title" placeholder="Product title in English" required>
        </div>

        <div class="form-group" ng-class="{'has-error': createProductForm.type.$error.required}">
            <label class="control-label">Type</label>
            <select class="form-control" name="type" required ng-disabled="isEditMode"
                    ng-model="product.ProductTypeId" ng-selected="product.ProductTypeId" 
                    ng-options="type.Id as type.Name for type in productTypes">
            </select>
        </div>
                
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="product.IsActive"> Active
                </label>
            </div>    
        </div>
                
                
    </ng-form>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
    <a class="btn btn-sm btn-primary" ng-click="save()" ng-if="isEditMode" ng-disabled="!createProductForm.$valid || isSaving">
        <span ng-if="!isSaving">Save</span>
        <span ng-if="isSaving"><i class="fa fa-spin fa-spinner"></i> Saving...</span>
    </a>
    <a class="btn btn-sm btn-primary" ng-click="create()" ng-if="!isEditMode" ng-disabled="!createProductForm.$valid || isSaving">
        <span ng-if="!isSaving">Create New Product</span>
        <span ng-if="isSaving"><i class="fa fa-spin fa-spinner"></i> Creating product...</span>
    </a>
</div>