﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{rcoCourse.Version}} - {{rcoCourse.Name}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <label class="control-label col-md-3">Unlock test points:</label>
                    <div class="col-md-4">
                        {{rcoCourse.UnlockFinalPoints}}
                    </div>
                    
                    <label class="col-md-2">Language:</label>
                    <div class="col-md-3">
                        {{rcoCourse.Language}}
                    </div>
                </div>
                
                <div class="row">
                    <label class="control-label col-md-3">Gold points:</label>
                    <div class="col-md-4">
                        {{rcoCourse.GoldPoints}}
                    </div>

                    <label class="col-md-2">Created:</label>
                    <div class="col-md-3">
                        {{rcoCourse.Created | localDate}}
                    </div>
                </div>
                
                <div class="row">
                    <label class="control-label col-md-3">Silver points:</label>
                    <div class="col-md-9">
                        {{rcoCourse.SilverPoints}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h2>Lessons:</h2>
        </div>
        <div class="col-md-12">
            <ul style="list-style: none; padding-left: 10px;">
                <li ng-repeat="lesson in rcoCourse.Lessons">
                    {{lesson.Name}}
                    <ul style="list-style: none">
                        <li ng-repeat="childLesson in lesson.Lessons">{{childLesson.Name}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="close()">Close</a>
</div>