﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">{{rcoExam.Name}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="row">
                    <label class="col-md-2">Created:</label>
                    <div class="col-md-3">
                        {{rcoExam.Created | localDate}}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-12" ng-if="rcoExam.Children.length > 0">
            <h4>Contains exams:</h4>
        </div>
        <div class="col-md-12" ng-if="rcoExam.Children.length > 0">
            <ul style="list-style: none; padding-left: 10px;">
                <li ng-repeat="exam in rcoExam.Children">
                    {{exam.Name}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="close()">Close</a>
</div>