﻿
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Search Courses</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Search name, version or language..." ng-model="locals.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                <span class="input-group-btn">
                    <a class="clickable btn btn-sm btn-primary" ng-disabled="!locals.query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-12" ng-if="courses.Items.length > 0">
            <h4>Courses ({{courses.TotalCount}})</h4>
            <table class="table table-unbordered table-condensed">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Name</th>
                        <th>Language</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses.Items" title="Click to select course" class="selectable" ng-click="select(course)" ng-class="{'selected': locals.selectedCourse.Id === course.Id}">
                        <td>{{course.Version}}</td>
                        <td>{{course.Name}}</td>
                        <td>{{course.Language}}</td>
                        <td>{{course.Created | localDate}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination on-select-page="navigate(page)"
                        total-items="courses.TotalCount"
                        items-per-page="locals.limit"
                        page="page"
                        max-size="6"
                        boundary-links="true"
                        rotate="false"></pagination>
        </div>
        <div class="col-md-12 top-space" ng-if="courses.Items.length === 0">
            <p>
                Could not find any courses matching '{{locals.lastSearchQuery}}'
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
    <a type="button" class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="!locals.selectedCourse">Select</a>
</div>