<div style="position: relative;">
    <i class="fa fa-spinner fa-spin" ng-show="isSearching" style="position: absolute; right: 10px; top: 10px;"></i>
    <input name="customerSearch" class="form-control" ng-required="isRequired" type="text" placeholder="Search customer..."
           ng-model="customer" ui-event="{blur: 'setValidSelectedCustomer()' }"
           style="max-width: 400px; padding-right: 30px;"
           typeahead="customer as customer.Name for customer in searchCustomer($viewValue)"
           typeahead-on-select="onCustomerSelected(customer)"
           typeahead-wait-ms="400" typeahead-template-url="{{customerSearchTemplateUrl}}"/>
</div>