﻿<a customer-search-result-hover title="{{match.model.tooltipContent}}" data-toggle="tooltip" data-html="true" data-placement="{{match.model.tooltipPlacement}}" data-template="{{match.model.customerSearchItemTooltipTemplateUrl}}">
    <i ng-if="match.model.IsArbitrary" class="fa fa-user"></i>
    <i ng-if="!match.model.IsArbitrary" class="fa fa-building-o"></i>
    <span bind-html-unsafe="match.label"></span> <span class="label label-default">{{match.model.DistributorName}}</span>
</a>
