﻿<div class="btn-group">
    <div class="clickable" ng-click="toggleFilter()">
        <a type="button" ng-class="{'text-success': selectedValues.length > 0}">
            <i class="fa fa-filter"></i><span class="caret"></span>
        </a>
    </div>
    <ul class="dropdown-menu" ng-class="{'show': isDropdownVisible}">
        <li ng-repeat="option in options" class="dropdown">
            <div style="margin: 3px 10px;">
                <label class="clickable">
                    <input type="checkbox" ng-model="option.isSelected" />
                    {{option.text}}
                </label>
            </div>
        </li>
        <li>
            <div class="btn-group btn-group-sm" style="margin: 3px 10px;">
                <a ng-click="resetFilter()" class="btn btn-default" title="Clear the selected filter"><i class="fa fa-times"></i> Clear</a>
                <a ng-click="applyFilter()" class="btn btn-primary" title="Apply the selected filter"><i class="fa fa-filter"></i> Apply</a>
            </div>
        </li>
    </ul>
</div>