﻿<div class="row col-md-12 read-only-form">
    <fieldset>
        <legend>Advanced Settings</legend>
        <div class="row">
            <!-- Left -->
			<div class="col-md-6">
				<h4>Learning Portal</h4>

				<div class="row">
					<div class="col-md-12">
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-model="customer.ParticipantInfoDefinition.IsAllowUsersToSelfEnrollToCourses" /> Allow users to self-enroll to courses
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-model="customer.ParticipantInfoDefinition.IsAllowUsersToSelfEnrollToExams" /> Allow users to self-enroll to exams
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-model="customer.ParticipantInfoDefinition.IsShowPricesToUserOnPortal" /> Show prices to user
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" disabled ng-model="customer.IsMetierPlusCustomer" /> Metier+ Customer
							</label>
						</div>
					</div>
				</div>

				<div class="row">
					<label class="control-label col-md-6">Competition Mode</label>
					<div class="col-md-12">
						{{getCompetitionModeDescription(customer.ParticipantInfoDefinition.CompetitionMode)}}
					</div>
				</div>

				<h4>Additional Fields</h4>
				<div class="row">
					<div class="col-md-12">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>Visible</th>
									<th>Mandatory</th>
									<th width="100%">Leading text</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="customLeadingText in customer.CustomLeadingTexts">
									<td>
										<input type="checkbox" class="checkbox" ng-model="customLeadingText.IsVisible" disabled />
									</td>
									<td>
										<input type="checkbox" class="checkbox" ng-model="customLeadingText.IsMandatory" disabled />
									</td>
									<td>
										{{customLeadingText.Text}}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<h4>Terms and Conditions Text</h4>
				<div class="row">
					<div class="col-md-12">
						<p ng-bind-html="customer.ParticipantInfoDefinition.TermsAndConditionsText"></p>
					</div>
				</div>				
				<div ng-if="customer.DiplomaShowElearningLessons || customer.DiplomaShowCustomerLogo || customer.DiplomaShowCustomSignature">
					<h4>Diploma Settings</h4>
					<div class="row">
						<div class="col-md-12">
							<a target="_blank" ng-href="{{'/learningportal/diploma.aspx?classroom_id=11640412&action=html&customer_id=' + customer.Id}}">Preview custom diploma</a>							
						</div>
					</div>
				</div>
			</div>
        </div>
    </fieldset>
</div>