﻿<div class="row col-md-12 read-only-form">
    <fieldset>
        <legend>Invoice Conditions</legend>
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="groupByParticipants" disabled /> Invoice by participant
                    </label>
                </div>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Show on invoice lines</th>
                            <th>Group invoices by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customLeadingText in customer.CustomLeadingTexts">
                            <td>{{customLeadingText.Text}}</td>
                            <td>
                                <input type="checkbox" class="checkbox" ng-model="customLeadingText.IsVisibleInvoiceLine" disabled />
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox" ng-model="customLeadingText.IsGroupByOnInvoice" disabled />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Right -->
            <div class="col-md-6">
                <fieldset>
                    <legend>Invoice Header</legend>
                </fieldset>
                <div class="row">
                    <label class="control-label col-md-4">Your Order</label>
                    <div class="col-md-8" ng-show="getHeaderReferenceText(customer.CustomerInvoicing.OrderRefLeadingTextId) !== 'Custom Text'">
                        {{getHeaderReferenceText(customer.CustomerInvoicing.OrderRefLeadingTextId)}}
                    </div>
                    <div class="col-md-8" ng-show="getHeaderReferenceText(customer.CustomerInvoicing.OrderRefLeadingTextId) === 'Custom Text'">
                        {{customer.CustomerInvoicing.OrderRefCustomText}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Your Ref</label>
                    <div class="col-md-8" ng-show="getHeaderReferenceText(customer.CustomerInvoicing.YourRefLeadingTextId) !== 'Custom Text'">
                        {{getHeaderReferenceText(customer.CustomerInvoicing.YourRefLeadingTextId)}}
                    </div>
                    <div class="col-md-8" ng-show="getHeaderReferenceText(customer.CustomerInvoicing.YourRefLeadingTextId) === 'Custom Text'">
                        {{customer.CustomerInvoicing.YourRefCustomText}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Our Ref</label>
                    <div class="col-md-8">
                        {{customer.CustomerInvoicing.OurRef}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</div>