﻿<div class="row col-md-12 read-only-form">
    <fieldset>
        <legend>Contact Persons</legend>
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">
                <h4>Customer Contact Persons</h4>

                <div ng-repeat="contactPerson in customer.CustomerContactPersons" class="well well-sm" ng-show="!contactPerson.IsDeleted">
                    <div class="row">
                        <label class="control-label col-md-4">Name</label>
                        <div class="col-md-8">
                            {{contactPerson.Name}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4">Title</label>
                        <div class="col-md-8">
                            {{contactPerson.Title}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4">E-mail</label>
                        <div class="col-md-8" ng-class="{'has-error': contactPersonForm.email.$error.email}">
                            {{contactPerson.Email}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4">Phone</label>
                        <div class="col-md-8">
                            {{contactPerson.TelephoneNumber}}
                        </div>
                    </div>
                    <div class="row">
                        <label class="control-label col-md-4">Responsible For</label>
                        <div class="col-md-8">
                            {{contactPerson.ResponsibleFor}}
                        </div>
                    </div>
                </div>
            </div>
            <!--Right-->
            <div class="col-md-6">
                <h4>Metier Contact Persons</h4>

                <div class="row">
                    <label class="control-label col-md-4">Account Manager</label>
                    <div class="col-md-8">
                        {{accountManager.FirstName}} {{accountManager.LastName}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Program Coordinator</label>
                    <div class="col-md-8">
                        {{programCoordinator.FirstName}} {{programCoordinator.LastName}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Exam Coordinator</label>
                    <div class="col-md-8">
                        {{examCoordinator.FirstName}} {{examCoordinator.LastName}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Subject Matter Expert</label>
                    <div class="col-md-8">
                        {{subjectMatterExpert.FirstName}} {{subjectMatterExpert.LastName}}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>