﻿<div class="row col-md-12 read-only-form">
    <fieldset>
        <legend>Customer Info</legend>
        <div class="row">
            <!-- Left -->
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label col-md-4">Accounting ID</label>
                    <div class="col-md-8">
                        <span ng-if="customer.ExternalCustomerId">{{customer.ExternalCustomerId}}</span>
                        <span ng-if="!customer.ExternalCustomerId">N/A</span>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Customer Name</label>
                    <div class="col-md-8">
                        {{customer.Name}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Type</label>
                    <div class="col-md-8">
                        {{customer.IsArbitrary ? 'Arbitrary' : 'Corporate'}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Parent Organization</label>
                    <div class="col-md-8">
                        <a ng-if="parentCustomer" ui-sref="customer.overview.details({customerId: parentCustomer.Id})">{{parentCustomer.Name}}</a>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Organization Number</label>
                    <div class="col-md-8">
                        {{customer.CompanyRegistrationNumber}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Language</label>
                    <div class="col-md-8">
                        {{getLanguageDescription(customer.LanguageId)}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Customer Portal (URL)</label>
                    <div class="col-md-8">
                        {{customer.ParticipantInfoDefinition.CustomerPortalUrl}}
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-4">Customer Portal Name</label>
                    <div class="col-md-8">
                        {{customer.ParticipantInfoDefinition.CustomerPortalFriendlyName}}
                    </div>
                </div>
            </div>

            <!-- Right -->
            <div class="col-md-6">

                <h4>Invoice Address</h4>

                <div class="row">
                    <label class="control-label col-md-4">Address 1</label>
                    <div class="col-md-8">
                        {{invoiceAddress.AddressStreet1}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Address 2</label>
                    <div class="col-md-8">
                        {{invoiceAddress.AddressStreet2}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Zip / City</label>
                    <div class="col-md-8">
                        {{invoiceAddress.ZipCode}} {{invoiceAddress.City}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Country</label>
                    <div class="col-md-8">
                        {{invoiceAddress.Country}}
                    </div>
                </div>

                <h4>Mail Address</h4>

                <div class="row">
                    <label class="control-label col-md-4">Address 1</label>
                    <div class="col-md-8">
                        {{mailAddress.AddressStreet1}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Address 2</label>
                    <div class="col-md-8">
                        {{mailAddress.AddressStreet2}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Zip / City</label>
                    <div class="col-md-8">
                        {{mailAddress.ZipCode}} {{mailAddress.City}}
                    </div>
                </div>

                <div class="row">
                    <label class="control-label col-md-4">Country</label>
                    <div class="col-md-8">
                        {{mailAddress.Country}}
                    </div>
                </div>                
            </div>
        </div>

    </fieldset>

</div>