﻿<div class="row col-md-12 read-only-form">
    <fieldset>
        <legend>Automails</legend>
        <div class="row col-md-12">
            <h4>Automails to User</h4>
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked disabled />Password reset
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsWelcomeNotification" disabled />User registration
                </label>
            </div>
            <div>
                <label class="checkbox-inline">
                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsEnrollmentNotification" disabled />Enrollment confirmation / Completed notification
                </label>
                <label class="radio-inline" ng-if="customer.AutomailDefinition.IsEnrollmentNotification">
                    <input type="radio" ng-value="false" ng-model="customer.AutomailDefinition.IsExcludeProgressSchedule" disabled />
                    Include progress schedule, e-learning
                </label>
                <label class="radio-inline" ng-if="customer.AutomailDefinition.IsEnrollmentNotification">
                    <input type="radio" ng-value="true" ng-model="customer.AutomailDefinition.IsExcludeProgressSchedule" disabled />
                    Exclude progress schedule, e-learning
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsProgressNotificationElearning" disabled />E-learning progress
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsExamSubmissionNotification" disabled />Exam submission
                </label>
            </div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="customer.AutomailDefinition.IsReminder" disabled />Reminder
                </label>
            </div>
            
        </div>
        <h4>Automails to Customer</h4>
        <label class="control-label">Confirmation of all enrollments will be sent to the following e-mail address:</label>
        <p>{{customer.ParticipantInfoDefinition.EmailConfirmationAddress}}</p>
        
        <h4>Additional info text</h4>
        <p ng-bind-html="customer.AutomailDefinition.AutomailText"></p>
    </fieldset>
</div>