﻿<div class="modal-header">
    <h3 class="modal-title">{{'CONNECTION_ERROR' | translate}}</h3>
</div>
<div class="modal-body">
    <p ng-if="isOnline">
        {{'CONNECTION_ERROR_MSG' | translate}}<br />
        {{'CONNECTION_ERROR_MSG_CONTACT' | translate}}
    </p>
    <p ng-if="!isOnline">
        {{'CONNECTION_ERROR_MSG_OFFLINE' | translate}}<br />
        {{'CONNECTION_ERROR_MSG_CONTACT' | translate}}
    </p>
    <alert type="info" ng-if="!isRetrying">
        <i class="fa fa-info-circle"></i> {{'CONNECTION_ERROR_RETRYING_IN' | translate}} {{secondsToNextRetry}} {{'HOME_SECONDS' | translate}}...
    </alert>

    <alert type="info" ng-if="isRetrying">
        <i class="fa fa-spin fa-spinner"></i> {{'CONNECTION_ERROR_CONNECTING' | translate}}...
    </alert>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="reloadPage()">
        <i class="fa fa-repeat"></i> {{'CONNECTION_ERROR_RELOAD_PAGE' | translate}}
    </button>
</div>