﻿<div class="modal-header">
    <h3 class="modal-title">{{'COMPLETE_EXAM_FINISH_EXAM' | translate}}</h3>
</div>
<div class="modal-body">
    <p>
        {{'COMPLETE_EXAM_SUBMIT_MSG' | translate:submitMessageTranslateData}}
    </p>
    <div ng-show="showErrorMsg">
        <alert style="margin-bottom: 0;" type="danger" close="closeErrorMsg()">
            <i class="fa fa-exclamation-triangle"></i> {{'COMPLETE_EXAM_SUBMIT_EXAM_ERROR_MSG' | translate}}
        </alert>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmittingExam">
        <i ng-if="isSubmittingExam" class="fa fa-spinner fa-spin"></i>
        <i ng-if="!isSubmittingExam" class="fa fa-send-o"></i>
        {{'COMPLETE_EXAM_SUBMIT_EXAM' | translate}}
    </button>
    <button ng-click="summary()" class="btn btn-info">
        <i class="fa fa-check-square-o"></i> {{'COMPLETE_EXAM_SUMMARY' | translate}}
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        {{'CANCEL' | translate}}
    </button>
</div>