﻿<div class="modal-header">
    <h3 class="modal-title">{{'TIME_RUNNING_OUT' | translate}}</h3>
</div>
<div class="modal-body">
    <p>
        {{'TIME_RUNNING_OUT_MSG' | translate:'{minutesRemaining:minutesRemaining}'}}
    </p>
</div>
<div class="modal-footer">
    <button ng-click="summary()" class="btn btn-info">
        <i class="fa fa-check-square-o"></i> {{'TIME_RUNNING_OUT_SUMMARY' | translate}}
    </button>
    <button class="btn btn-default" ng-click="cancel()">
        {{'CLOSE' | translate}}
    </button>
</div>