﻿<div class="modal-header">
    <h3 class="modal-title">{{'UNEXPECTED_ERROR' | translate}}</h3>
</div>
<div class="modal-body">
    <p>
        {{'UNEXPECTED_ERROR_MSG' | translate}}
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="reloadPage()">
        <i class="fa fa-repeat"></i> {{'UNEXPECTED_ERROR_RELOAD_PAGE' | translate}}
    </button>
</div>