﻿<div class="row">
    <div class="col-md-12">
        <h1>Customers ({{customers.TotalCount}})</h1>        
    </div>
    
</div>

<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle">
            <span class="fa fa-plus"></span> Create New <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="customercreate({ isArbitrary: false })">Corporate Customer</a></li>
            <li><a ui-sref="customercreate({ isArbitrary: true })">Arbitrary Customer</a></li>
        </ul>
</div>
    <div class="col-md-4">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search name, parent or language..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>

<div class="row top-space" ng-if="customers.Items.length === 0">
    <div class="col-md-12">
        <p>
            No customers found.
        </p>
    </div>
</div>

<div ng-if="customers.Items.length > 0" class="row top-space">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        <sortable-header title="Name" order-by="name" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Parent" order-by="parentname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Language" order-by="language" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Type" order-by="isarbitrary" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>Course Program</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers.Items">
                    <td>{{customer.Id}}</td>
                    <td><a ui-sref="customer.overview.details({customerId: customer.Id})">{{customer.Name}}</a></td>
                    <td><a ui-sref="customer.overview.details({customerId: customer.ParentId})">{{customer.ParentName}}</a></td>
                    <td>{{customer.Language}}</td>
                    <td>{{customer.IsArbitrary ? 'Arbitrary' : 'Corporate'}}</td>
                    <td><a ui-sref="customer.courseprograms({ customerId: customer.Id })">View</a></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="customers.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>