﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a ui-sref="customer.overview.edit.section({section: activeTemplate.queryParam})" class="btn btn-sm btn-default btn-sm"><i class="fa fa-pencil"></i> Edit</a>    
                        </div>
                    </div>
                </div>
                <div class="row top-space">
                    <div class="col-md-2 col-border-right">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="template in templates" ng-class="{active: isActiveTemplate(template)}">
                                <a class="clickable" ng-click="setActiveTemplate(template)">{{template.name}} <span ng-show="isCommentsLoaded && template.name === 'Comments'">({{commentCount}})</span> <span ng-show="!isCommentsLoaded && template.name === 'Comments'" class="fa fa-spinner fa-spin"></span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 col-border-left">
                        <div ng-repeat="template in templates" ng-include="template.url" ng-show="isActiveTemplate(template)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

