<h2>{{article.ArticlePath}} {{article.Title}}</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <div ng-if="isEditing">

                            <ng-form name="customerArticleForm">
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Fixed Price:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" ng-click="onToggleSelection('FixedPrice')" title="Default setting for billable / not billable on activities">
                                                <i ng-if="customerArticle.FixedPriceNotBillable" class="fa fa-toggle-off"></i>
                                                <i ng-if="!customerArticle.FixedPriceNotBillable" class="fa fa-toggle-on"></i>
                                            </span>
                                            <div ng-class="{'has-error': customerArticleForm.fixedPrice.$error.required}">
                                                <input type="number" name="fixedPrice" class="form-control" ng-model="customerArticle.FixedPrice" placeholder="Fixed price" ng-disabled="customerArticle.FixedPriceNotBillable" ng-required="!customerArticle.FixedPriceNotBillable">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Price Per Participant:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" ng-click="onToggleSelection('UnitPrice')" title="Default setting for billable / not billable on participants">
                                                <i ng-if="customerArticle.UnitPriceNotBillable" class="fa fa-toggle-off"></i>
                                                <i ng-if="!customerArticle.UnitPriceNotBillable" class="fa fa-toggle-on"></i>
                                            </span>
                                            <div ng-class="{'has-error': customerArticleForm.unitPrice.$error.required}">
                                                <input type="number" name="unitPrice" class="form-control" ng-model="customerArticle.UnitPrice" placeholder="Price per participant" ng-disabled="customerArticle.UnitPriceNotBillable" ng-required="!customerArticle.UnitPriceNotBillable">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group" ng-class="{'has-error': customerArticleForm.currency.$error.required}">
                                        <label>Currency:</label>
                                        <select class="form-control" ng-required="!customerArticle.FixedPriceNotBillable || !customerArticle.UnitPriceNotBillable" name="currency" ng-model="customerArticle.CurrencyCodeId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9">
                                        <educational-partner label="Educational Partner:" selected-educational-partner="selectedEducationalPartner" selection-changed="educationalPartnerChanged()"></educational-partner>
                                        <br />
                                    </div>
                                </div>

                            </ng-form>

                            <product-article-create article-id="customerArticle.ArticleCopyId" can-save="customerArticleForm.$valid" set-busy-save="busySaving"
                                                    on-save="onArticleSaved(articleId)"
                                                    on-cancel="onArticleCancelled(articleId)">

                            </product-article-create>
                            
                        </div>
                        <div ng-if="!isEditing">

                            <div class="row">
                                <label class="col-md-2 control-label">Fixed Price:</label>
                                <div class="col-md-4">
                                    <span ng-if="!customerArticle.FixedPriceNotBillable">
                                        {{customerArticle.FixedPrice | currency:getCurrencyCode(customerArticle.CurrencyCodeId)+' '}}
                                    </span>
                                    <span ng-if="customerArticle.FixedPriceNotBillable">
                                        N/A
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-2 control-label">Price Per Participant:</label>
                                <div class="col-md-4">
                                    <span ng-if="!customerArticle.UnitPriceNotBillable">
                                        {{customerArticle.UnitPrice | currency:getCurrencyCode(customerArticle.CurrencyCodeId)+' '}}
                                    </span>
                                    <span ng-if="customerArticle.UnitPriceNotBillable">N/A</span>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-md-2 control-label">Educational Partner:</label>
                                <div class="col-md-4">
                                    <educational-partner readonly="true" selected-educational-partner="selectedEducationalPartner"></educational-partner>
                                    <br/>
                                </div>
                            </div>

                            <product-article-view article-id="customerArticle.ArticleCopyId"></product-article-view>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div>
                            <a href="javascript:void(0)" ng-disabled="isEditing"
                               class="btn btn-sm btn-default" ui-sref="customer.articles.item.edit"
                               title="Edit customer article">
                                <i class="fa fa-pencil"></i> Edit
                            </a>
                        </div>

                        <div style="margin-top: 5px;">
                            <div ng-show="article.ArticleTypeId" class="form-group">
                                <strong>Content Type:</strong>
                                <div>{{article.ArticleTypeId | articleTypeName}}</div>
                            </div>

                            <div ng-show="article.Created" class="form-group">
                                <strong>Created:</strong>
                                <div>
                                    {{article.Created | localDate}}
                                </div>
                            </div>

                            <div ng-show="article.CreatedById" class="form-group">
                                <strong>Created By:</strong>
                                <div>
                                    {{article.CreatedBy.FirstName}} {{article.CreatedBy.LastName}}
                                </div>
                            </div>

                            <div ng-show="article.LastModified" class="form-group">
                                <strong>Last Modified:</strong>
                                <div>
                                    {{article.LastModified | localDate}}
                                </div>
                            </div>

                            <div ng-show="article.ModifiedById" class="form-group">
                                <strong>Modified By:</strong>
                                <div>
                                    {{article.ModifiedBy.FirstName}} {{article.ModifiedBy.LastName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>