﻿<div class="row">
    <div class="col-md-8">
        <h1>{{customer.Name}}</h1>
    </div>
    <div class="col-md-4">
        <div class="pull-right sub-nav">
            <ul class="nav nav-pills">
                <li ng-class="{'active': isActive('customer.overview')}">
                    <a ui-sref="customer.overview.details({customerId: customer.Id})">Overview</a>
                </li>
                <li ng-class="{'active': isActive('customer.users') || isActive('customer.usercreate') || isActive('customer.user')}">
                    <a ui-sref="customer.users({customerId: customer.Id })">Users</a>
                </li>
                <li ng-class="{'active': isActive('customer.courseprograms')}">
                    <a class="clickable" ng-click="navigateToCourseProgram()">Course Programs</a>
                </li>
<!--                <li ng-class="{'active': isActive('customer.articles')}">-->
<!--                    <a>Articles</a>-->
<!--                </li>-->
                <li ng-class="{'active': isActive('customer.activities')}">
                    <a ui-sref="customer.activities.overview.activities.list({customerId: customer.Id })">Activities</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ui-view>
        </div>
    </div>
</div>

