﻿<div>
    <div ng-show="isEditing">
        <div class="input-group input-group-sm" ng-show="!isMultiline">
            <input type="text" class="form-control" ng-blur="save()" ng-model="editText" ui-keydown="{'enter': 'save()', 'esc': 'cancel()'}" focus-me="isEditing" select-on-focus>
            <span class="input-group-btn">
                <a ng-if="!hideCancelButton" class="btn btn-default" ng-click="cancel()" title="Cancel"><i class="fa fa-times"></i></a>
                <a class="btn btn-default" ng-click="save()" title="Save"><i class="fa fa-check"></i></a>
            </span>
        </div>
        <div class="input-group" ng-show="isMultiline">
            <div>
                <textarea rows="{{rows}}" ng-blur="save()" ng-model="editText" class="form-control" focus-me="isEditing" select-on-focus></textarea>
            </div>
            <div class="pull-right">
                <a ng-if="!hideCancelButton" class="btn btn-default" ng-click="cancel()" title="Cancel"><i class="fa fa-times"></i></a>
                <a class="btn btn-default" ng-click="save()" title="Save"><i class="fa fa-check"></i></a>
            </div>
        </div>
        
    </div>

    <div ng-show="!isEditing">
        <span class="clickable" ng-click="edit()" 
              title="Click to edit" 
              ng-mouseenter="showEditSymbol = true" 
              ng-mouseleave="showEditSymbol = false">
            <span ng-transclude> </span> <i ng-class="{'invisible': !showEditSymbol}" class="fa fa-pencil"></i>
        </span>    
    </div>
</div>