﻿<div class="row">
    <div class="col-md-12">
        <h2>Automails Log ({{mails.TotalCount}})</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="form-inline">
            <label style="margin-left: 15px;">From:</label>
            <div class="form-group">
                <div class="input-group" style="width: 180px;">
                    <input type="text" class="form-control"
                           name="fromDate"
                           date-fix="fromDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="dd.MM.yyyy"
                           focus-me="fromDatePickerOpened"
                           ng-blur="fromDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="fromDate" />
                    <a class="input-group-addon btn btn-default" ng-click="fromDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
            <label style="margin-left: 10px">To:</label>
            <div class="form-group">
                <div class="input-group" style="width: 180px;">
                    <input type="text" class="form-control"
                           name="toDate"
                           date-fix="toDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="dd.MM.yyyy"
                           focus-me="toDatePickerOpened"
                           ng-blur="toDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="toDate" />
                    <a class="input-group-addon btn btn-default" ng-click="toDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
            <a style="margin-left: 10px;" class="btn btn-default" ng-click="applyFilter()"><i class="fa fa-filter"></i> Apply filter</a>
        </div>
    </div>

    <div class="col-md-5">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search subject or recipient (e-mail, first name, last name)"
                   ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>
<div class="row top-space">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="First Name" order-by="firstname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Last Name" order-by="lastname" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="E-mail" order-by="recipientemail" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Subject" order-by="subject" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Last Activity" order-by="statustime" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Message Type" order-by="messagetype" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                        <options-filter-header options="mailMessageTypeFilterValues" query-param="messageType"></options-filter-header>
                    </th>
                    <th>
                        <sortable-header title="Status" order-by="mailstatus" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                        <options-filter-header options="mailStatusFilterValues" query-param="mailStatus"></options-filter-header>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mail in mails.Items">
                    <td><a ui-sref="user.overview.details({userId: mail.UserId})">{{mail.FirstName}}</a></td>
                    <td><a ui-sref="user.overview.details({userId: mail.UserId})">{{mail.LastName}}</a></td>
                    <td>{{mail.RecipientEmail}}</td>
                    <td>{{mail.Subject}}</td>
                    <td>{{mail.StatusTime | localDate}}</td>
                    <td>{{mail.MessageType | mailMessageType}}</td>
                    <td>{{mail.MailStatus  | mailStatus}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-table btn-sm btn-default" ng-click="send(mail)" title="Send mail">
                                <i ng-show="!mail.isSending" class="fa fa-mail-forward"></i>
                                <i ng-show="mail.isSending" class="fa fa-spinner fa-spin"></i>
                            </a>
                            
                            <a class="btn btn-table btn-sm btn-default" ng-click="preview(mail)" title="Preview mail">
                                <i ng-show="!mail.isOpeningPreview" class="fa fa-eye"></i>
                                <i ng-show="mail.isOpeningPreview" class="fa fa-spinner fa-spin"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row top-space">

            <div class="col-md-12" ng-if="mails.Items.length === 0">
                <p>
                    No mails found
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="mails.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>
