﻿<select class="form-control" ng-model="locals.filterValue" ng-change="setFilterValue()" ng-options="customerType.value as customerType.text for customerType in customerTypes">
    <option></option>
</select>