﻿<ng-form name="CustomInformationForm">

<label ng-if="label">{{label}}</label>

    <div  class="col-md-12" ng-if="isInitialized">
        <table>
            <thead>
            <tr>
                <td>&nbsp;&nbsp;<strong>Key</strong></td>
                <td>&nbsp;&nbsp;<strong>Field #1</strong></td>
                <td>&nbsp;&nbsp;<strong>Field #2</strong></td>
                <td>&nbsp;&nbsp;<strong>Field #3</strong></td>
                <td>&nbsp;&nbsp;<strong>Field #4</strong></td>
                <td>&nbsp;&nbsp;<strong>Field #5</strong></td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="info in customInformationSet">
                <td><input type="text" class="form-control" ng-model="info.KeyField"/></td>
                <td><input type="text" class="form-control" ng-model="info.Field1"/></td>
                <td><input type="text" class="form-control" ng-model="info.Field2"/></td>
                <td><input type="text" class="form-control" ng-model="info.Field3"/></td>
                <td><input type="text" class="form-control" ng-model="info.Field4"/></td>
                <td><input type="text" class="form-control" ng-model="info.Field5"/></td>
                <td><a class="btn btn-sm btn-default" ng-click="deleteRow(info.Id)" ng-disabled="isBusy"><i class="fa fa-remove"></i></a></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><input type="text" class="form-control" ng-disabled="true" /></td>
                <td><a class="btn btn-sm btn-default" ng-click="addRow()" ng-disabled="isBusy"><i class="fa fa-plus"></i></a></td>
            </tr>
            </tbody>
        </table>

        <div class="top-space col-md-offset-9">
            <a class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="isBusy"> Cancel</a>
            <a class="btn btn-sm btn-default" ng-click="deleteAll()" ng-disabled="isBusy"> Delete all</a>
            <a class="btn btn-sm btn-default" ng-click="save()" ng-disabled="isBusy"> Save</a>
        </div>
    </div>

    <div class="col-md-12" ng-if="!isInitialized">
        <i class="fa fa-spinner fa-spin" title="Loading..."></i> Loading...
    </div>
</ng-form>
