﻿<h1>Resources ({{resources.TotalCount}})</h1>
<div class="row">
    <div class="col-md-8">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle">
                <span class="fa fa-plus"></span> Create New Resource <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a ui-sref="resources.create({ resourceTypeId: 1 })">{{1 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 2 })">{{2 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 3 })">{{3 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 4 })">{{4 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 5 })">{{5 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 6 })">{{6 | resourceTypeName}}</a></li>
                <li><a ui-sref="resources.create({ resourceTypeId: 7 })">{{7 | resourceTypeName}}</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search name, resource type, contact..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
</div>
    
    
<div class="row top-space">
        
    <div class="col-md-12" ng-if="resources.Items.length === 0">
        <p>
            No resources found.
        </p>
    </div>
</div>
    
<div class="row top-space">
    <div class="col-md-12" ng-if="resources.Items.length > 0">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="Name" order-by="Name" current-order-by="orderBy" current-order-direction="orderDirection" />
                    </th>
                    <th>
                        <sortable-header title="Resource Type" order-by="ResourceTypeName" current-order-by="orderBy" current-order-direction="orderDirection" />
                    </th>
                    <th>
                        <sortable-header title="Contact" order-by="Contact" current-order-by="orderBy" current-order-direction="orderDirection" />
                    </th>
                    <th>
                        <sortable-header title="Currency" order-by="Currency" current-order-by="orderBy" current-order-direction="orderDirection" />
                    </th>
                    <th>
                        <sortable-header title="Amount" order-by="Amount" current-order-by="orderBy" current-order-direction="orderDirection" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="resource in resources.Items">
                    <td><a ui-sref="resources.item.view({resourceId: resource.Id})">{{resource.Name}}</a></td>
                    <td>{{resource.ResourceType.Name}}</td>
                    <td>{{resource.Contact}}</td>
                    <td>{{resource.Currency.Value}}</td>
                    <td>{{resource.Amount}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="resources.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>
