﻿<h1 ng-if="!isEditMode">Create new resource</h1>
<h1 ng-if="isEditMode">Edit Resource</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <ng-form name="userCreateForm" class="form-horizontal">
            <div class="row">
                <div class="col-md-6">
                    <h4>Name & Type</h4>

                    <div class="form-group row">
                        <label class="col-md-4 control-label">Type</label>
                        <div class="col-md-8 form-control-static">
                            {{resource.ResourceTypeId |  resourceTypeName}}
                        </div>
                    </div>
                    <div ng-if="isPersonResource()" class="form-group row" ng-class="{'has-error': userCreateForm.user.$error.required}">
                        <label class="col-md-4 control-label">User</label>
                        <div class="col-md-8">
                            <input name="user" class="form-control" type="text" placeholder="Search user..."
                                   ng-blur="setValidUser(localModel.user)"
                                   ng-model="localModel.user" required
                                   typeahead="user as (user.FirstName + ' ' + user.LastName) for user in searchUser($viewValue)"
                                   typeahead-wait-ms="400"
                                   typeahead-on-select="onUserSelected(localModel.user)" />
                            <div class="alert alert-warning top-space" ng-if="roleWarningMessage">
                                <i class="fa fa-warning"></i> {{roleWarningMessage}}
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group row" ng-class="{'has-error': userCreateForm.resourceName.$error.required}">
                        <label class="col-md-4 control-label">Name</label>
                        <div class="col-md-8">
                            <input name="resourceName" class="form-control" type="text" required ng-model="resource.Name" />
                        </div>
                    </div>
                    <h4>Contact Info</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Contact Person</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="resource.Contact" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': userCreateForm.contactEmail.$error.email}">
                        <label class="col-md-4 control-label">Email</label>
                        <div class="col-md-8">
                            <input name="contactEmail" class="form-control" type="email" ng-model="resource.ContactEmail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Phone Number</label>
                        <div class="col-md-8">
                            <input class="form-control" type="tel" ng-model="resource.ContactPhone" />
                        </div>
                    </div>
                    <h4>Attachments</h4>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <attachment-upload file-uploaded="onResourceDocumentUploaded(attachment)"></attachment-upload>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-offset-4 col-md-8">
                            <div ng-repeat="attachment in resource.Attachments">
                                <div class="panel">
                                    <span class="fa fa-file"></span>
                                    <a ng-click="deleteAttachment(attachment)" title="Delete attachment" class="pull-right clickable"><span class="fa fa-times"></span> </a>
                                    <a ng-href="{{attachment | attachmentPath}}" title="{{attachment.Title}}" target="_blank">{{attachment.Title  | characters:25}}</a>
                                    <div title="{{attachment.Description}}">{{attachment.Description | characters:50}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Mail Address</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address 1</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="mailAddress.StreetAddress" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Address 2</label>
                        <div class="col-md-8">
                            <input class="form-control" type="text" ng-model="mailAddress.StreetAddress2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Zip / City</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" ng-model="mailAddress.ZipCode" />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" ng-model="mailAddress.City" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Country</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-model="mailAddress.Country" ng-selected="mailAddress.Country"
                                    ng-options="country.Value as country.Display for country in countries" />
                        </div>
                    </div>
                    <h4>Price</h4>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Amount</label>
                        <div class="col-md-8">
                            <input class="form-control" type="number" ng-model="resource.Amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Currency</label>
                        <div class="col-md-8">
                            <select class="form-control" ng-selected="resource.CurrencyId" ng-model="resource.CurrencyId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="resource.ResourceTypeId === 4">
                        <h4>Education Partner</h4>
                        <div class="form-group" ng-class="{'has-error': userCreateForm.educationPartnerSchemaType.$error.required}">
                            <label class="col-md-4 control-label">Template Type</label>
                            <div class="col-md-8">
                                <select class="form-control" name="educationPartnerSchemaType" required ng-selected="resource.EducationPartnerSchemaType" ng-model="resource.EducationPartnerSchemaType" ng-options="educationPartnerSchemaType.value as educationPartnerSchemaType.text for educationPartnerSchemaType in educationPartnerSchemaTypes">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h4>Notes</h4>
            <textarea class="form-control" rows="6" ng-model="resource.Description"></textarea>
            
            <hr />

            <div class="text-right">
                <a class="btn btn-sm btn-default clickable" ng-click="cancel()">Cancel</a>
                <a class="btn btn-sm btn-primary clickable" ng-disabled="!userCreateForm.$valid" ng-click="save()" busy-button is-busy="isBusySaving" busy-text="Saving...">Save</a>
            </div>
        </ng-form>
    </div>
</div>