﻿<h1>{{resource.Name}}</h1>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <form class="col-md-10">
                <a ui-sref="resources.item.edit" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit Resource</a>
                <div class="row top-space">
                    <div class="col-md-6">
                        <h4>Name & Type</h4>
                        <div class="alert alert-warning" ng-if="roleWarningMessage">
                            <i class="fa fa-warning"></i> {{roleWarningMessage}}
                        </div>    

                        <div class="row">
                            <label class="col-md-4">Type</label>
                            <div class="col-md-8 form-control-static">
                                {{resource.ResourceTypeId |  resourceTypeName}}
                            </div>
                        </div>
                        <div class="row" ng-if="isPersonResource()">
                            <label class="col-md-4">Connected User</label>
                            <div class="col-md-8">
                                {{resource.User.FirstName}} {{resource.User.LastName}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Name</label>
                            <div class="col-md-8">
                                {{resource.Name}}
                            </div>
                            
                        </div>
                        
                        <h4>Contact Info</h4>
                        <div class="row">
                            <label class="col-md-4">Contact Person</label>
                            <div class="col-md-8">
                                {{resource.Contact}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Email</label>
                            <div class="col-md-8">
                                {{resource.ContactEmail}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Phone Number</label>
                            <div class="col-md-8">
                                {{resource.ContactPhone}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Attachments</h4>
                            </div>
                        </div>
                        <div ng-show="resource.Attachments" class="row">
                            <div ng-repeat="attachment in resource.Attachments" class="col-md-offset-4 col-md-8">
                                <div class="panel">
                                    <span class="fa fa-file"></span>
                                    <a ng-href="{{attachment | attachmentPath}}" title="{{attachment.Title}}" target="_blank">{{attachment.Title  | characters:25}}</a>
                                    <div title="{{attachment.Description}}">{{attachment.Description | characters:50}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Mail Address</h4>
                        <div class="row">
                            <label class="col-md-4">Address 1</label>
                            <div class="col-md-8">
                                {{mailAddress.StreetAddress}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Address 2</label>
                            <div class="col-md-8">
                                {{mailAddress.StreetAddress2}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Zip / City</label>
                            <div class="col-md-2">
                                {{mailAddress.ZipCode}}
                            </div>
                            <div class="col-md-6">
                                {{mailAddress.City}}
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Country</label>
                            <div class="col-md-8">
                                {{getCountryName(mailAddress.Country)}}
                            </div>
                        </div>
                        <h4>Price</h4>
                        <div class="row">
                            <label class="col-md-4">Amount</label>
                            <div class="col-md-8">
                                <span ng-show="resource.Amount !== 0">{{resource.Amount}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-md-4">Currency</label>
                            <div class="col-md-8">
                                <span ng-show="resource.Currency.Description">{{resource.Currency.Description}} ({{resource.Currency.Value}})</span>
                            </div>
                        </div>
                        <div ng-if="resource.ResourceTypeId === 4">
                            <h4>Education Partner</h4>
                            <div class="row">
                                <label class="col-md-4">Template Type</label>
                                <div class="col-md-8">
                                    <span>{{resource.EducationPartnerSchemaType | educationPartnerSchemaType}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Notes</h4>
                <div class="row">
                    <div class="col-md-12">
                        <p ng-bind-html="resource.Description"></p>
                    </div>
                </div>
            </form>
            <div class="col-md-2">
                <comments entity="resource" id="{{resource.Id}}" />
            </div>
        </div>
    </div>
</div>