﻿<h4>Search Resource</h4>
<input class="form-control" type="text"
       style="max-width: 300px;"
       placeholder="Search resources..."
       ng-model="selectedResource"
       typeahead="resource as resource.Name for resource in searchResources($viewValue)"
       typeahead-wait-ms="400"
       typeahead-on-select="onResourceSelected(selectedResource)"
       typeahead-template-url="{{resourcesSearchTemplateUrl}}" />

<table class="top-space table table-condensed" ng-if="activity.Resources.length > 0">
    <thead>
        <tr>
            <th>Name</th>
            <th>Resource Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="resource in activity.Resources">
            <td><a ui-sref="resources.item.view({ resourceId: resource.Id })">{{resource.Name}}</a></td>
            <td>{{resource.ResourceTypeId | resourceTypeName}}</td>
            <td><a class="clickable pull-right btn btn-sm btn-default btn-sm" ng-click="removeResource($index)" title="Remove resource"><span class="fa fa-times"></span></a></td>
        </tr>
    </tbody>
</table>