﻿<ng-form name="activityCreateExamForm" ng-if="isInitialized">

    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label">Level of difficulty:</label>
        </div>
        <div class="col-md-8">
            <div class="form-inline">
                <label class="control-label">Easy:</label>
                <input type="number" style="width: 100px; margin-right: 10px;" ng-change="easyQuestionCountChanged()" class="form-control" ng-model="activity.EasyQuestionCount" />

                <label class="control-label">Medium:</label>
                <input type="number" style="width: 100px; margin-right: 10px;" ng-change="mediumQuestionCountChanged()" class="form-control" ng-model="activity.MediumQuestionCount" />

                <label class="control-label">Hard:</label>
                <input type="number" style="width: 100px" class="form-control" ng-change="hardQuestionCountChanged()" ng-model="activity.HardQuestionCount" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label">Customer specific questions:</label>
        </div>
        <div class="col-md-8">
            <div class="form-inline">
                <span ng-class="{'has-error': activityCreateExamForm.easyCustomerSpecificCount.$error.validator}">
                    <label class="control-label">Easy:</label>
                    <input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!activity.EasyQuestionCount" ui-validate=" '!$value || $value <= activity.EasyQuestionCount' " ui-validate-watch=" 'activity.EasyQuestionCount' " class="form-control" name="easyCustomerSpecificCount" ng-model="activity.EasyCustomerSpecificCount" />
                </span>

                <span ng-class="{'has-error': activityCreateExamForm.mediumCustomerSpecificCount.$error.validator}">
                    <label class="control-label">Medium:</label>
                    <input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!activity.MediumQuestionCount" ui-validate=" '!$value || $value <= activity.MediumQuestionCount' " ui-validate-watch=" 'activity.MediumQuestionCount' " class="form-control" name="mediumCustomerSpecificCount" ng-model="activity.MediumCustomerSpecificCount" />
                </span>

                <span ng-class="{'has-error': activityCreateExamForm.hardCustomerSpecificCount.$error.validator}">
                    <label class="control-label">Hard:</label>
                    <input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!activity.HardQuestionCount" ui-validate=" '!$value || $value <= activity.HardQuestionCount' " ui-validate-watch=" 'activity.HardQuestionCount' " class="form-control" name="hardCustomerSpecificCount" ng-model="activity.HardCustomerSpecificCount" />
                </span>
            </div>
        </div>
    </div>
    <br/>
    <div class="row form-group">
        <label class="control-label col-md-4">Number of Questions:</label>
        <div class="col-md-2">
            <input type="number" disabled class="form-control" ng-model="activity.NumberOfQuestions" />
        </div>
    </div>

    <div class="row form-group" ng-class="{'has-error': activityCreateExamForm.numberOfQuestionsPerPage.$error.validator}">
        <label class="control-label col-md-4">Questions per page:</label>
        <div class="col-md-2">
            <input type="number" name="numberOfQuestionsPerPage" class="form-control" ui-validate=" '!$value || $value <= activity.NumberOfQuestions' " ui-validate-watch=" 'activity.NumberOfQuestions' " ng-model="activity.NumberOfQuestionsPerPage"/>
        </div>
    </div>

    <div class="row form-group">
        <label class="control-label col-md-4">ECTS:</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="activity.ECTS" ng-options="option for option in ects">
                <option></option>
            </select>
        </div>
    </div>

    <label class="control-label" style="margin-top: 10px;">Course Connections:</label>
    <div style="margin-top: 10px;">
        <button class="btn btn-default btn-sm" ng-disabled="activity.Participants.length > 0" ng-click="openSelectExamCourseModal()"><i class="fa fa-plus"></i> Add Course Connection...</button>
    </div>

    <ul class="selected-list" style="margin-top: 10px;">
        <li ng-repeat="examCourse in activity.ActivityExamCourses" ng-init="rco = getExamRcoCourse(examCourse.CourseRcoId)">
            <selected-box on-remove="removeActivityExamCourse($index)">
                {{rco.Version}} - {{rco.Name}}
            </selected-box>
        </li>
    </ul>

</ng-form>