﻿<ng-form name="activityForm">
    <div>
        <ul class="nav nav-tabs">
            <li ng-class="{'active': selectedTab === 'info'}">
                <a class="clickable" ng-click="selectedTab = 'info'">
                    Info
                </a>
            </li>
            <li ng-show="isMultipleChoice() || isInternalCertification()" class="clickable" ng-class="{'active': selectedTab === 'exam'}">
                <a ng-click="selectedTab = 'exam'">
                    Exam
                </a>
            </li>
            <li class="clickable" ng-class="{'active': selectedTab === 'automails'}">
                <a ng-click="selectedTab = 'automails'">
                    Automails
                </a>
            </li>
            <li class="clickable" ng-class="{'active': selectedTab === 'resources'}">
                <a ng-click="selectedTab = 'resources'">
                    Resources ({{activity.Resources.length}})
                </a>
            </li>
            <li class="clickable" ng-class="{'active': selectedTab === 'attachments'}">
                <a ng-click="selectedTab = 'attachments'">
                    Attachments ({{activity.Attachments.length}})
                </a>
            </li>
            <li class="clickable" ng-show="isEditMode" ng-class="{'active': selectedTab === 'comments'}">
                <a ng-click="selectedTab = 'comments'">
                    Comments <span ng-if="isCommentsLoaded">({{commentCount}})</span> <span ng-if="!isCommentsLoaded" class="fa fa-spinner fa-spin"></span>
                </a>
            </li>
        </ul>
        <div class="top-space"></div>
        <div ng-show="selectedTab === 'info'">
            <activity-create-info></activity-create-info>
        </div>
        <div ng-if="isMultipleChoice() || isInternalCertification()" ng-show="selectedTab === 'exam'">
            <activity-create-exam></activity-create-exam>
        </div>
        <div ng-show="selectedTab === 'automails'">
            <activity-create-automails activity="activity" customer="customer" article="articleCopy" date-options="dateOptions" is-saving="isSavingAutomail"></activity-create-automails>
        </div>
        <div ng-show="selectedTab === 'resources'">
            <activity-create-resources activity="activity"></activity-create-resources>
        </div>
        <div ng-show="selectedTab === 'attachments'">
            <activity-create-attachments activity="activity"></activity-create-attachments>
        </div>
        <div ng-if="isEditMode" ng-show="selectedTab === 'comments'">
            <comments entity="activity" id="{{activity.Id}}" comments-updated="commentsUpdated(comments)"></comments>
        </div>
    </div>
    
</ng-form>