﻿<h4>Upload attachment</h4>
<div style="max-width: 500px;">
    <attachment-upload file-uploaded="onDocumentUploaded(attachment)"></attachment-upload>
</div>

<table class="top-space table table-condensed" ng-if="activity.Attachments.length > 0">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="attachment in activity.Attachments">
            <td>
                <i class="fa fa-file"></i>
            </td>
            <td>
                <a ng-href="{{attachment | attachmentPath}}" title="Open file" target="_blank">{{attachment.Title  | characters:25}}</a>
            </td>
            <td>
                <a ng-if="attachment.Title" ng-href="{{attachment | attachmentPath}}" title="Open file" target="_blank">
                    {{attachment.Description | characters:70}}
                </a>
            </td>
            <td>
                <a class="clickable pull-right btn btn-sm btn-default btn-sm" ng-click="deleteAttachment($index)" title="Remove attachment"><span class="fa fa-times"></span></a>    
            </td>
        </tr>
    </tbody>
</table>