﻿<div class="row" ng-if="rcoCourse">
    <label class="col-md-4 control-label">Course link</label>
    <div class="col-md-8">
        <a ng-click="openRcoCourseInfoModal()" class="clickable">{{rcoCourse.Version}} - {{rcoCourse.Name}}</a>
    </div>
</div>

<div class="row" ng-if="rcoExam">
    <label class="col-md-4 control-label">Exam link</label>
    <div class="col-md-8">
        <a ng-click="openRcoExamInfoModal()" class="clickable">{{rcoExam.Name}}</a>
    </div>
</div>

<div class="row" ng-if="activity.CaseAttachment">
    <label class="col-md-4 control-label">Connection to exam</label>
    <div class="col-md-8">
        <i class="fa fa-file"></i> <a ng-href="{{activity.CaseAttachment | attachmentPath}}" title="{{activity.CaseAttachment.Title}}" target="_blank">{{activity.CaseAttachment.Title}}</a>
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Title</label>
    <div class="col-md-8">
        {{activity.Name}}
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Timezone</label>
    <div class="col-md-8">
        {{activity.MomentTimezoneName | momentTimezoneDisplay}}
    </div>
</div>

<div class="row" ng-repeat="activityPeriod in activity.ActivityPeriods">
    <label ng-if="$index === 0" class="col-md-4 control-label">
        <span ng-show="isElearning">Availability (start - end)</span>
        <span ng-show="!isElearning">Periods (start - end)</span>
    </label>
    <div class="col-md-8" ng-class="{'col-md-offset-4': $index > 0}">
        {{activityPeriod.Start | localDate:null:activity.MomentTimezoneName}} - {{activityPeriod.End | localDate:null:activity.MomentTimezoneName}}
		<i ng-if="activity.HideActivityDates">(Hide in LearningPortal)</i>
    </div>
</div>

<div class="row" ng-if="activity.Duration">
    <label class="col-md-4 control-label">Duration</label>
    <div class="col-md-8">
        {{activity.Duration | duration}}
    </div>
</div>

<div class="row" ng-if="activity.EndDate">
    <label class="col-md-4 control-label">
        <span ng-show="isElearning">Completion due date</span>
        <span ng-show="!isElearning">End date</span>
    </label>
    <div class="col-md-8">
        {{activity.EndDate | localDate:null:activity.MomentTimezoneName}}
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Earliest invoice date</label>
    <div class="col-md-8">
        {{activity.EarliestInvoiceDate | date:'dd.MM.yyyy'}}
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Min no of participants</label>
    <div class="col-md-8">
        {{activity.MinParticipants}}
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Max no of participants</label>
    <div class="col-md-8">
        {{activity.MaxParticipants}}
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Fixed price per activity</label>
    <div class="col-md-8">
        <span ng-if="!activity.FixedPriceNotBillable">
            {{activity.FixedPrice | currency:currencyCode+' '}}
        </span>
        <span ng-if="activity.FixedPriceNotBillable">
            N/A
        </span>
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Unit price per participant</label>
    <div class="col-md-8">
        <span ng-if="!activity.UnitPriceNotBillable">
            {{activity.UnitPrice | currency:currencyCode+' '}}
        </span>
        <span ng-if="activity.UnitPriceNotBillable">
            N/A
        </span>
    </div>


</div>

<div class="row">
    <label class="col-md-4 control-label">Educational partner:</label>
    <div class="col-md-8">
        <educational-partner readonly="true" selected-educational-partner="selectedEducationalPartner"></educational-partner>
    </div>
</div>

<div class="row">
    <label class="col-md-4 control-label">Part of activity sets</label>
    <div class="col-md-8">
        <span ng-repeat="activitySet in activitySets" ng-if="activitySets.length > 0">
            <a ui-sref="customer.activities.overview.activitysets.item.view({activitySetId: activitySet.Id})">{{activitySet.Name}}</a><span ng-if="activitySets.length > 1 && $index < activitySets.length - 1">, </span>
        </span>
        <span ng-if="activitySets.length === 0">
            <button class="btn btn-default btn-sm" ng-click="createActivitySet()"><i class="fa fa-plus"></i> Create activtity set</button>
        </span>
    </div>
</div>

