﻿<ng-form name="activityCreateInfoForm">
    
    <div ng-class="{'row': splitHorizontal}">
        <div ng-class="{'col-md-6': splitHorizontal}">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': activityCreateInfoForm.name.$error.required}">
                    <label class="col-md-3 control-label">Title</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" ng-model="activity.Name" name="name" placeholder="Title" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Timezone</label>
                    <div class="col-md-9">
                        <moment-timezone-selector selected-zoneset-name="activity.MomentTimezoneName"></moment-timezone-selector>
                    </div>
                </div>
            </div>
            
            <div ng-repeat="activityPeriod in tempActivityPeriods" class="row top-space">
                <ng-form name="activityPeriodForm">
                    <div class="col-md-3 form-horizontal">
                        <label ng-if="$index === 0" class="control-label">
                            <span ng-show="isElearning">Availability (start - end)</span>
                            <span ng-show="!isElearning">Periods (start - end)</span>
                        </label>
                    </div>

                    <div class="col-md-9 form-inline" ng-class="{'col-md-offset-3': $index > 0}">
                        <div class="form-group" ng-class="{'has-error': activityPeriodForm.start.$error.required || activityPeriodForm.start.$error.date}" style="width: 120px;">
                            <input type="text" class="form-control"
                                   name="start"
                                   date-fix="activityPeriod.Start"
                                   ng-model="activityPeriod.Start"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="openActivityStartIndex === $index"
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions"
                                   required>
                        </div>

                        <div class="form-group" ng-class="{'has-error': activityPeriodForm.startTime.$error.required || activityPeriodForm.startTime.$error.mask}">
                            <input type="text" name="startTime" ng-blur="setTime(activityPeriod, 'startTime')" ui-mask="99:99" style="width: 70px; display: inline-block;" ng-model="activityPeriod.startTime" class="form-control" required />
                        </div>
                        -
                        <div class="form-group" ng-class="{'has-error': activityPeriodForm.end.$error.required || activityPeriodForm.end.$error.date}" style="width: 120px;">
                            <input type="text" class="form-control"
                                   name="end"
                                   date-fix="activityPeriod.End"
                                   ng-model="activityPeriod.End"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="openActivityEndIndex === $index"
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions"
                                   ng-required="!isExam && !isElearning && !isSubscription"
                                   ng-disabled="(isElearning) && deadlineType === 'Duration'">
                        </div>
                        <div class="form-group" ng-class="{'has-error': activityPeriodForm.endTime.$error.validator || activityPeriodForm.endTime.$error.mask}">
                            <input type="text" name="endTime"
                                   ng-blur="setTime(activityPeriod, 'endTime')"
                                   ui-validate="'$value || (!isExam && !isElearning && !isSubscription && $value) || ((isExam || isElearning || isSubscription) && !activityPeriod.End && !$value)'"
                                   ui-validate-watch="'activityPeriod.End'"
                                   ui-mask="99:99" style="width: 70px;" ng-model="activityPeriod.endTime" class="form-control"
                                   ng-required="!isExam && !isElearning && !isSubscription"
                                   ng-disabled="(isElearning) && deadlineType === 'Duration'">
                        </div>
                        <div class="form-group">
                            <div class="pull-right" ng-if="supportsMultipleActivityPeriods">
                                <a ng-if="$index === 0" class="btn btn-sm btn-default clickable" ng-click="addPeriod()" title="Add period"><i class="fa fa-plus"></i></a>
                                <a ng-if="$index > 0" class="btn btn-sm btn-default clickable" ng-click="removePeriod($index)" title="Remove period"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
						
                    </div>
                </ng-form>
            </div>
            
            <div class="form-horizontal top-space">
                <div ng-show="endDateEnabled" class="form-group">
                    <div class="col-md-3 col-md-offset-3" ng-show="isExam">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" ng-model="deadlineType" ng-click="activity.EndDate = null" btn-radio="'Duration'">Duration</button>
                            <button type="button" class="btn btn-default btn-sm" ng-model="deadlineType" ng-click="activity.Duration = null" btn-radio="'EndDate'">
                                <span>End date</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-if="isExam || isElearning || isSubscription" ng-class="{'has-error': activityCreateInfoForm.duration.$error.required || activityCreateInfoForm.duration.$error.duration}">
                    <label class="col-md-3 control-label">Duration</label>
                    <div class="col-md-3" ng-if="isExam">
                        <input type="text" class="form-control" name="duration" ng-model="activity.Duration" duration
                               ng-disabled="deadlineType !== 'Duration'" ng-required="deadlineType === 'Duration'" />
                    </div>
                    <div ng-if="isElearning || isSubscription" class="input-group col-md-4">
                        <span class="input-group-addon" ng-click="onToggleDuration()" title="">
                            <i ng-if="deadlineType !== 'Duration'" class="fa fa-toggle-off"></i>
                            <i ng-if="deadlineType === 'Duration'" class="fa fa-toggle-on"></i>
                        </span>

                        <input type="text" class="form-control" name="duration" ng-model="activity.Duration" duration
                               ng-disabled="deadlineType !== 'Duration'" ng-required="deadlineType === 'Duration'" />
                    </div>

                </div>
                <div class="form-group" ng-if="isExam && endDateEnabled" ng-class="{'has-error': activityCreateInfoForm.enddate.$error.required}">
                    <label class="col-md-3 control-label">
                        <span>End date</span>
                    </label>
                    <div>

                        <div class="col-md-3" ng-if="deadlineType !== 'EndDate'">
                            <input type="text" class="form-control" ng-disabled="true" placeholder="dd.mm.yyyy">    <!-- Dummy-control to avoid error related to datepicker-popup. -->
                        </div>

                        <div class="col-md-3" ng-if="deadlineType == 'EndDate'">
                            <input type="text" class="form-control" ng-required="deadlineType === 'EndDate'"
                                   date-fix="activity.EndDate"
                                   ng-model="activity.EndDate"
                                   name="enddate"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="isEndDatepickerOpen === true"
                                   ng-blur="isEndDatepickerOpen = false"
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions">
                        </div>
                        <div>
                            <input type="text" name="endTime" ng-disabled="deadlineType !== 'EndDate'" ng-required="deadlineType === 'EndDate'"
                                   ng-model="activity.endTime"
                                   ng-blur="setActivityEndTime()"
                                   ui-mask="99:99" style="width: 70px;" class="form-control" />

                        </div>
                    </div>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="activity.HideActivityDates"><b> Hide dates from activity in LearningPortal</b>
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Information displayed to enrolled users</label>
                        <text-angular ng-model="activity.EnrolledUserActivityInformation"></text-angular>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <label class="control-label">Information displayed when enrollment is expired</label>
                        <text-angular ng-model="activity.EnrolledUserActivityExpiredInformation"></text-angular>
                    </div>
                </div>

            </div>

        </div>
        <div ng-class="{'col-md-6': splitHorizontal}">
            <div class="form-horizontal">
                <div class="form-group" ng-class="{'has-error': activityCreateInfoForm.earliestInvoiceDate.$error.required || activityCreateInfoForm.earliestInvoiceDate.$error.date}">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Earliest invoice date</label>
                    <div class="col-md-3">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" class="form-control" ng-disabled="activityLockedOnOrder && currentActivityOrder.Status !== 1"
                                   date-fix="activity.EarliestInvoiceDate"
                                   ng-model="activity.EarliestInvoiceDate"
                                   name="earliestInvoiceDate"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="isEarliestInvoiceDatepickerOpen === true"
                                   ng-blur="isEarliestInvoiceDatepickerOpen = false"
                                   required
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions">
                            <a class="input-group-addon btn btn-default" ng-click="isEarliestInvoiceDatepickerOpen = true"><i class="fa fa-calendar"></i></a>
                        </div>
                    </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': activityCreateInfoForm.minParticipants.$error.validator}">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Min no of participants</label>
                    <div class="col-md-5">
                        <input type="number" name="minParticipants" class="form-control" placeholder="Min no of participants"
                               ng-model="activity.MinParticipants"
                               ui-validate="'!activity.MaxParticipants || !$value || $value <= activity.MaxParticipants'"
                               ui-validate-watch="'activity.MaxParticipants'">
                    </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': activityCreateInfoForm.maxParticipants.$error.validator}">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Max no of participants</label>
                    <div class="col-md-5">
                        <input type="number" name="maxParticipants" class="form-control" placeholder="Max no of participants"
                               ng-model="activity.MaxParticipants"
                               ui-validate="'!activity.MinParticipants || !$value || $value >= activity.MinParticipants'"
                               ui-validate-watch="'activity.MinParticipants'">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Fixed price per activity</label>
                            <div class="input-group col-md-5">
                                <span class="input-group-addon" ng-click="onToggleSelection('FixedPrice')" title="Should a fixed price be charged for this activity?">
                                    <i ng-if="activity.FixedPriceNotBillable" class="fa fa-toggle-off"></i>
                                    <i ng-if="!activity.FixedPriceNotBillable" class="fa fa-toggle-on"></i>
                                </span>
                                <div ng-class="{'has-error': activityCreateInfoForm.fixedPrice.$error.required}">
                                    <input type="number" name="fixedPrice" class="form-control" ng-model="activity.FixedPrice" placeholder="Fixed price per participant" ng-disabled="(activityLockedOnOrder && currentActivityOrder.Status !== 1) || activity.FixedPriceNotBillable" ng-required="!activity.FixedPriceNotBillable">
                                </div>
                            </div>
                </div>

                <div class="form-group">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Unit price per participant</label>
                            <div class="input-group col-md-5">
                                <span class="input-group-addon" ng-click="onToggleSelection('UnitPrice')" title="Default setting for billable / not billable on participants">
                                    <i ng-if="activity.UnitPriceNotBillable" class="fa fa-toggle-off"></i>
                                    <i ng-if="!activity.UnitPriceNotBillable" class="fa fa-toggle-on"></i>
                                </span>
                                <div ng-class="{'has-error': activityCreateInfoForm.unitPrice.$error.required}">
                                    <input type="number" name="unitPrice" class="form-control" ng-model="activity.UnitPrice" placeholder="Unit price per participant" ng-disabled="activity.UnitPriceNotBillable" ng-required="!activity.UnitPriceNotBillable">
                                </div>
                            </div>
                </div>

                <div class="form-group" ng-class="{'has-error': activityCreateInfoForm.currency.$error.required}">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Currency</label>
                    <div class="col-md-5">
                        <select class="form-control" ng-required="isCurrencyRequired" ng-disabled="activityLockedOnOrder" name="currency" ng-model="activity.CurrencyCodeId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" ng-class="splitHorizontal ? 'col-md-4': 'col-md-3'">Educational partner</label>
                    <div class="col-md-5">
                        <educational-partner selection-changed="updateEducationalPartner()" selected-educational-partner="selectedEducationalPartner"></educational-partner>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</ng-form>