﻿<div ng-if="isInitialized">
    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label">Level of difficulty:</label>
        </div>
        <div class="col-md-8">
            <div class="form-inline">
                <label class="control-label" style="margin-right: 10px;">Easy:</label>
                <span style="margin-right: 10px;">{{activity.EasyQuestionCount}}</span>

                <label class="control-label" style="margin-right: 10px;">Medium:</label>
                <span style="margin-right: 10px;">{{activity.MediumQuestionCount}}</span>

                <label class="control-label" style="margin-right: 10px;">Hard:</label>
                {{activity.HardQuestionCount}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 form-group">
            <label class="control-label">Customer specific questions:</label>
        </div>
        <div class="col-md-8">
            <div class="form-inline">
                <label class="control-label" style="margin-right: 10px;">Easy:</label>
                <span style="margin-right: 10px;">{{activity.EasyCustomerSpecificCount}}</span>

                <label class="control-label" style="margin-right: 10px;">Medium:</label>
                <span style="margin-right: 10px;">{{activity.MediumCustomerSpecificCount}}</span>

                <label class="control-label" style="margin-right: 10px;">Hard:</label>
                <span style="margin-right: 10px;">{{activity.HardCustomerSpecificCount}}</span>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <label class="control-label col-md-4">Number of Questions:</label>
        <div class="col-md-2">
            {{activity.NumberOfQuestions}}
        </div>
    </div>

    <div class="row form-group">
        <label class="control-label col-md-4">Questions per page:</label>
        <div class="col-md-2">
            {{activity.NumberOfQuestionsPerPage}}
        </div>
    </div>

    <div class="row form-group">
        <label class="control-label col-md-4">ECTS:</label>
        <div class="col-md-2">
            {{activity.ECTS}}
        </div>
    </div>

    <label class="control-label">Course Connections:</label>
    <ul>
        <li ng-repeat="examCourse in activity.ActivityExamCourses" ng-init="rco = getExamRcoCourse(examCourse.CourseRcoId)">
            <a class="clickable" ng-click="openRcoCourseInfoModal(rco)">{{rco.Version}} - {{rco.Name}}</a>
        </li>
    </ul>
</div>