﻿<h4>Automail Configuration</h4>
<div class="form-horizontal">

    <div class="row">
        <div class="col-md-5 well">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="activity.SendEnrollmentConfirmationAutomail"/> Send enrollment confirmation automail
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <fieldset ng-disabled="!activity.SendEnrollmentConfirmationAutomail">
                <div class="col-md-offset-1">

                    <label class="control-label">Postpone enrollment confirmations until:</label>
                    <div class="input-group" style="width: 170px;">
                        <input type="text" class="form-control"
                               date-fix="activity.EnrollmentConfirmationDate"
                               ng-model="activity.EnrollmentConfirmationDate"
                               name="userRegistrationDate"
                               placeholder="dd.mm.yyyy"
                               focus-me="isEnrollmentConfirmationDateOpen === true"
                               ng-blur="isEnrollmentConfirmationDateOpen = false"
                               datepicker-popup="dd.MM.yyyy">
                        <a class="input-group-addon btn btn-default" ng-click="isEnrollmentConfirmationDateOpen = true"><i class="fa fa-calendar"></i></a>
                    </div>
                    <br/>
                    <div ng-if="showElearningCheckbox" title="Defines the mehod for determening the elearning progress schedule due date.">
                        <label class="control-label">How to calculate completion target date:</label>
                        <div class="input-group" style="width: 260px">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" style="width: 100px" ng-model="deadlineType" ng-click="activity.CompletionTargetDate = null" btn-radio="'Duration'">Duration</button>
                                </span>
                            <input type="text" class="form-control" name="duration" duration ng-model="activity.CompletionTargetDuration" ng-disabled="deadlineType === 'EndDate'" ng-required="deadlineType === 'Duration' && activity.SendEnrollmentConfirmationAutomail"/>
                        </div>
                        <div class="input-group" style="width: 260px; margin-top: 5px">
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" style="width: 100px" ng-model="deadlineType" ng-click="activity.CompletionTargetDuration = null" btn-radio="'EndDate'">Due date</button>
                            </span>
                            <input type="text" class="form-control"
                                   ng-required="deadlineType === 'EndDate' && activity.SendEnrollmentConfirmationAutomail"
                                   ng-disabled="deadlineType === 'Duration'"
                                   date-fix="activity.CompletionTargetDate"
                                   ng-model="activity.CompletionTargetDate"
                                   name="completionTargetDate"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="isCompletionTargetDatepickerOpen === true"
                                   ng-blur="isCompletionTargetDatepickerOpen = false"
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions">
                            <a class="input-group-addon btn btn-default" ng-disabled="deadlineType === 'Duration'" ng-click="isCompletionTargetDatepickerOpen = true"><i class="fa fa-calendar"></i></a>
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>
            <br/>
            <div class="form-group" ng-if="showElearningCheckbox">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="activity.SendProgressAutomail"/> Send e-learning progress automail
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="showReminderCheckbox">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="activity.SendReminderAutomail"/> Send reminder automail
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-if="showExamSubmissionCheckbox">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="activity.SendExamSubmissionAutomail"/> Send exam submission automail
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 ">
            <label>Additional info text:</label>
            <text-angular ng-model="activity.ActivityAutomailText.Text"></text-angular>
        </div>
    </div>

    <div ng-if="activity.Id" class="top-space">
        <a ng-click="saveAutomail()" ng-disabled="isSaving" class="btn btn-sm btn-primary">Save automail configuration</a>
    </div>
</div>