﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <strong class="modal-title">Help - {{title}}</strong>
</div>
<div class="modal-body">
    <ng-form name="createHelpTextForm">
        <div class="row">
            <div class="col-md-8">
                <h4>{{title}}</h4>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <a ng-if="!isEditing" class="btn btn-sm btn-default clickable" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</a>
                    <a ng-if="isEditing" class="btn btn-sm btn-default clickable" ng-click="cancel()">Cancel</a>
                    <a ng-if="isEditing" class="btn btn-sm btn-primary clickable" ng-click="save()">Save</a>
                </div>
            </div>
        </div>

        <div ng-if="isEditing">
            <text-angular ng-model="helpTextEdit.Text"></text-angular>
        </div>
        <div ng-if="!isEditing" ng-bind-html="helpText.Text">
        </div>
    </ng-form>
</div>