﻿<select style="width: 100%;" ui-select2="selectOptions" data-placeholder="Select timezone..." ng-model="selectedZonesetName">
    <option value=""></option>
    <optgroup ng-repeat="region in regions" label="{{region[0].region}}">
        <option ng-repeat="zone in region" value="{{zone.name}}">{{zone.place}}</option>
    </optgroup>
</select>