﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Create Activity Set</h4>
</div>
<div class="modal-body">
    <activityset-create></activityset-create>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!activitysetForm.$valid" busy-button is-busy="isSaving" busy-text="Creating...">Create Activity Set</a>
    </div>
</div>