﻿<form name="activtiesSelectForm">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Add Activities</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div ng-class="canSearchAllCustomers ? 'col-md-9' : 'col-md-12'">
                <div class="input-group input-group-sm">
                    <input type="search" class="form-control" placeholder="Search title, article number or content type..." ng-model="model.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                    <span class="input-group-btn">
                        <a class="clickable btn btn-sm btn-primary" ng-disabled="!model.query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                    </span>
                </div>
            </div>
            <div ng-if="canSearchAllCustomers" class="col-md-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.searchAllCustomers" /> Search in all customers
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="activities.Items.length > 0">
            <h4>Activities ({{activities.TotalCount}})</h4>
            <table class="table table-unbordered table-condensed">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Title</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Content type</th>
                        <th>Customer</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="activity in activities.Items" class="selectable" title="Select activity" ng-click="toggleSelect(activity)" ng-class="{'selected': isSelected(activity)}">
                        <td>{{activity.ArticlePath}}</td>
                        <td>{{activity.Name}}</td>
                        <td>{{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}}</td>
                        <td>{{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}}</td>
                        <td>{{activity.ArticleType}}</td>
                        <td>{{activity.CustomerName}}</td>

                        <td>
                            <input ng-checked="isSelected(activity)" type="checkbox" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination on-select-page="navigate(page)"
                        total-items="activities.TotalCount"
                        items-per-page="limit"
                        page="page"
                        max-size="6"
                        boundary-links="true"
                        rotate="false"></pagination>
        </div>

        <div class="col-md-12 top-space" ng-if="activities.Items.length === 0">
            <p>
                Could not find any activities matching '{{lastSearchQuery}}'
            </p>
        </div>
        <div class="col-md-12" ng-if="model.selectedActivities.length > 0">
            <h4>Selected ({{model.selectedActivities.length}})</h4>
            <ul class="selected-list">
                <li ng-repeat="activity in model.selectedActivities">
                    <selected-box on-remove="toggleSelect(activity)">{{activity.Name}} ({{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}} - {{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}})</selected-box>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <div class="pull-right">
            <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
            <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="model.selectedActivities.length === 0">Add Activities</a>
        </div>
    </div>
</form>