﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Enrollment Comments</h4>
</div>

<div class="modal-body">
    <usercomments entity="enrollment" id="{{enrollment.Id}}" show-close-button="true" modal-closed="close()" comments-updated="commentsUpdated(comments)"></usercomments>
</div>