﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">
                Participant:
                {{participant.user.FirstName}} {{participant.user.LastName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <qualification-status status="{{participant.QualificationStatus}}"></qualification-status>
    </h4>

</div>
<div class="modal-body">
    <br/>

    <div ng-repeat="condition in enrollmentConditions">
        <h4>
            <span ng-class='getCssClassForAggregatedStatusCode(condition);'>
                <!--NB: Do not format the html below by breaking up each element on separate lines. This will introduce unwanted spaces in the concatenated text. -->
                {{condition.Product.ProductPath}}{{condition.ArticleType.CharCode}}<span ng-if="condition.Language">-{{condition.Language.Identifier}}</span><span ng-if="condition.Customer">: {{condition.Customer.Name}}</span>
            </span></h4><hr style="height:2px;border:none;background-color:lightgray;margin-top: 10px"/>
        <div ng-if="filteredParticipations(condition).length == 0" class="container-fluid col-md-12">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-11">
                    No matching participations
                </div>
            </div>
        </div>

        <div ng-if="filteredParticipations(condition).length > 0" class="container-fluid col-md-12">
            <div class="row" ng-repeat="p in filteredParticipations(condition)">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <a class="pull-left" ui-sref="customer.activities.overview.activities.item.view({customerId: p.ActivityOwnerCustomerId, activityId: p.ActivityId, selectedTab: null})">{{p.ActivityName}}</a>
                    <br/>
                    <span ng-class='getCssClassForArticlePathLabel(condition, p)'>{{p.ArticlePath}}</span>&nbsp;<span ng-class='getCssClassForParticipantStatusLabel(condition, p)'>{{p.ParticipantStatusCodeValue}}</span>&nbsp;<span ng-class='getCssClassForCustomerLabel(condition, p)'>{{p.ActivityOwnerCustomerName}}</span>
                </div>
                <div class="col-md-2">
                    <select name="status" ng-model="p.ParticipantStatusCodeValue" ng-selected="p.ParticipantStatusCodeValue"
                            ng-options="code.Value as code.Display for code in participantStatusCodes" ng-change="participantStatusChanged(p)"></select>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>

<div class="modal-footer">
    <div class="container-fluid col-md-12">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <a class="btn btn-sm btn-default" ng-click="cancel()">Close</a>
            </div>
        </div>
    </div>   
</div>