﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Move Participant</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Search title, article number, content type and customer..." ng-model="model.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                <span class="input-group-btn">
                    <a class="clickable btn btn-sm btn-primary" ng-disabled="!model.query" ng-click="search()" title="Search" busy-button is-busy="model.isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="model.searchAllCustomers" /> Search in all customers
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-show="model.activities.Items.length > 0">
        <h4>Activities ({{model.activities.TotalCount}})</h4>
        <table class="table table-unbordered table-condensed">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Title</th>
                    <th>Activity set</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Content Type</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in model.activities.Items" class="selectable" title="Select activity" ng-click="model.selectedActivity = activity" ng-class="{'selected': isSelected(activity)}">
                    <td>{{activity.ArticlePath}}</td>
                    <td>{{activity.Name}}</td>
                    <td>{{activity.ActivitySetName}}</td>
                    <td>{{activity.ActivityStart | localDate:null:activity.MomentTimezoneName}}</td>
                    <td>{{activity.ActivityEnd | localDate:null:activity.MomentTimezoneName}}</td>
                    <td>{{activity.ArticleType}}</td>
                    <td>{{activity.CustomerName}}</td>
                </tr>
            </tbody>
        </table>
        <pagination on-select-page="navigate(page)"
                    total-items="model.activities.TotalCount"
                    items-per-page="model.limit"
                    page="page"
                    max-size="6"
                    boundary-links="true"
                    rotate="false"></pagination>
    </div>

    <div class="col-md-12 top-space" ng-show="model.activities.Items.length === 0">
        <p>
            Could not find any activities matching '{{model.lastSearchQuery}}'
        </p>
    </div>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="!model.selectedActivity">Move Participant</a>
    </div>
</div>