﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Edit Participants</h4>
</div>
<div class="modal-body">
    <ng-form name="participantForm" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-4 control-label">Status</label>
            <div class="col-md-8">
                <select class="form-control" name="status" ng-model="values.StatusCodeValue" ng-selected="values.StatusCodeValue"
                        ng-options="code.Value as code.Display for code in participantStatusCodes">
                    <option></option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Result</label>
            <div class="col-md-8">
                <select class="form-control" name="result" ng-model="values.Result" ng-selected="values.Result"
                        ng-options="code.value as code.text for code in participantResultCodes">
                    <option></option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Price</label>
            <div class="col-md-8">
                <input type="number" class="form-control" ng-model="values.UnitPrice" />
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': participantForm.currency.$error.required}">
            <label class="col-md-4 control-label">Currency</label>
            <div class="col-md-8">
                <select class="form-control" ng-required="values.UnitPrice" name="currency" ng-model="values.CurrencyCodeId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                    <option></option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Online payment ref</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="values.OnlinePaymentReference" />
            </div>
        </div>
        
        <div class="form-group" ng-class="{'has-error': participantForm.additionalTime.$error.duration}">
            <label class="col-md-4 control-label">
                <span ng-if="local.isAdditionalTimeIncreasing">Increase</span>
                <span ng-if="!local.isAdditionalTimeIncreasing">Descrease</span> Additional Time
            </label>
            <div class="col-md-8">
                <div class="input-group">
                    <span class="input-group-btn btn-group">
                        <button class="btn btn-default" title="Increase" ng-model="local.isAdditionalTimeIncreasing" btn-radio="true"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-default" title="Decrease" ng-model="local.isAdditionalTimeIncreasing" btn-radio="false"><i class="fa fa-minus"></i></button>
                    </span>
                    <input type="text" class="form-control" name="additionalTime" ng-model="local.AdditiveAdditionalTime" duration />
                </div>

            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4 control-label">
                Increase/decrease total score
            </label>
            <div class="col-md-8">
                <input type="number" class="form-control" name="additiveTotalScore" ng-model="values.AdditiveTotalScore" />
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': participantForm.earliestInvoiceDate.$error.date}">
            <label class="col-md-4 control-label">Earliest invoice date</label>
            <div class="col-md-5">
                <div class="input-group">
                    <input type="text" class="form-control"
                           date-fix="values.EarliestInvoiceDate"
                           ng-model="values.EarliestInvoiceDate"
                           name="earliestInvoiceDate"
                           placeholder="dd.mm.yyyy"
                           focus-me="isEarliestInvoiceDatepickerOpen === true"
                           ng-blur="isEarliestInvoiceDatepickerOpen = false"
                           datepicker-popup="dd.MM.yyyy"
                           datepicker-options="dateOptions">
                    <a class="input-group-addon btn btn-default" ng-click="isEarliestInvoiceDatepickerOpen = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-md-4 control-label">Participant is <span class="underline">not</span> billable</label>
            <div class="col-md-8">
                <select class="form-control" ng-model="values.IsNotBillable" ng-change="participantBillableSelected()">
                    <option></option>
                    <option ng-value="true">Yes</option>
                    <option ng-value="false">No</option>
                </select>
            </div>
        </div>
    </ng-form>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!participantForm.$valid">Save</a>
    </div>
</div>