﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Bulk Enroll Users</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="file" accept=".xlsx" xlsx-file-select="locals.selectedFile" class="pull-left" />
                <span class="pull-left" style="margin-top: 3px;" ng-show="locals.selectedFile" ng-click="locals.selectedFile = null">
                    <a class="clickable" title="Clear selected file" ng-click="locals.selectedFile = null"><i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a class="btn btn-default btn-sm" ng-href="{{'templates/users-bulk-enroll-template.xlsx' | assetRef}}"><i class="fa fa-file-text-o"></i> Download template</a>
                </div>
            </div>
        </div>

        <table class="table table-condensed" ng-if="locals.enrollments.length > 0">
            <thead>
                <tr>
                    <th><input type="checkbox" title="Select All" ng-disabled="locals.canSelectAll || !allEnrollmentsVerified" ng-model="locals.isAllEnrollmentsSelected" ng-change="toggleSelectAllEnrollments()" /></th>
                    <th>E-mail</th>
                    <th ng-repeat="leadingText in locals.leadingTexts" ng-init="customLeadingText = getCustomLeadingText(leadingText)">{{customLeadingText.Text}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="enrollment in locals.enrollments">

                    <td><input type="checkbox" title="Select" ng-model="enrollment.isSelected" ng-disabled="!enrollment.isValid || enrollment.isEnrolled || !allEnrollmentsVerified" ng-change="onEnrollmentSelected()" /></td>

                    <td>
                        <toggle-edit ng-model="enrollment.Email" hide-cancel-button="true" text-changed="verifyEnrollment(enrollment)">
                            <span class="text-danger" ng-show="!enrollment.Email && enrollment.emailValidationText" tooltip="{{enrollment.emailValidationText}}">(No email)</span>
                            <span class="text-danger" ng-show="enrollment.Email && enrollment.emailValidationText" tooltip="{{enrollment.emailValidationText}}">{{enrollment.Email}}</span>
                            <span ng-show="enrollment.Email && !enrollment.emailValidationText">{{enrollment.Email}}</span>
                        </toggle-edit>
                    </td>
                    <td ng-repeat="leadingText in locals.leadingTexts">
                        <toggle-edit ng-model="enrollment[leadingText.Text]" hide-cancel-button="true">
                            <span ng-show="enrollment[leadingText.Text]">{{enrollment[leadingText.Text]}}</span>
                            <span ng-show="!enrollment[leadingText.Text]">(No value)</span>
                        </toggle-edit>
                    </td>
                    <td>
                        <i ng-if="enrollment.isBusyVerifying" class="fa fa-spin fa-spinner" title="Verifying user..."></i>
                        <i ng-if="enrollment.isBusyEnrolling" class="fa fa-spin fa-spinner" title="Enrolling user..."></i>
                        <i ng-if="!enrollment.isBusyVerifying && !enrollment.isValid" class="fa fa-warning text-danger" tooltip="Invalid user!"></i>
                        <i ng-if="!enrollment.isBusyEnrolling && enrollment.isEnrolled" class="fa fa-check" tooltip="User enrolled!"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="close()">Close</a>
        <a class="btn btn-sm btn-primary" ng-disabled="locals.selectedEnrollments.length === 0 || isBusyEnrolling || !allEnrollmentsVerified" ng-click="enroll()">
            <span ng-if="allEnrollmentsVerified">Enroll Selected Users <span ng-show="locals.selectedEnrollments.length > 0">({{locals.selectedEnrollments.length}})</span></span>
            <span ng-if="!allEnrollmentsVerified"><i class="fa fa-spinner fa-spin"></i> Verifying enrollments</span>
        </a>
    </div>
</div>