﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Edit Participant</h4>
</div>

<div class="modal-body">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': selectedTab === 'participant'}">
            <a class="clickable" ng-click="selectedTab = 'participant'">
                Participant
            </a>
        </li>
        <li ng-show="isProgressVisible" ng-class="{'active': selectedTab === 'progress'}">
            <a class="clickable" ng-click="selectedTab = 'progress'">
                Progress <span ng-show="!isPerformancesLoaded" class="fa fa-spinner fa-spin"></span>
            </a>
        </li>
        <li ng-show="isCaseExam || isMultipleChoiceExam" ng-class="{'active': selectedTab === 'exam'}">
            <a class="clickable" ng-click="selectedTab = 'exam'">
                Exam
            </a>
        </li>
        <li class="clickable" ng-class="{'active': selectedTab === 'changeLog'}">
            <a ng-click="selectedTab = 'changeLog'">
                Change Log
            </a>
        </li>
        <li class="clickable" ng-class="{'active': selectedTab === 'comments'}">
            <a ng-click="selectedTab = 'comments'">
                Comments <span ng-show="isCommentsLoaded">({{commentCount}})</span> <span ng-show="!isCommentsLoaded" class="fa fa-spinner fa-spin"></span>
            </a>
        </li>
    </ul>
    <div class="top-space"></div>
    <div ng-show="selectedTab === 'participant'">
        <ng-form name="participantForm" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">Status</label>
                <div class="col-md-8">
                    <select class="form-control" name="status" ng-model="participant.StatusCodeValue" ng-selected="participant.StatusCodeValue"
                            ng-options="code.Value as code.Display for code in participantStatusCodes"></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Price</label>
                <div class="input-group col-md-4">
                    <span class="input-group-addon" ng-disabled="participantLockedOnOrder" ng-click="onToggleIsNotBillable()" title="Is the participant billable or not?">
                        <i ng-if="participant.IsNotBillable" class="fa fa-toggle-off"></i>
                        <i ng-if="!participant.IsNotBillable" class="fa fa-toggle-on"></i>
                    </span>
                    <div ng-class="{'has-error': participantForm.price.$error.required}">
                        <input type="number" class="form-control" name="price" ng-disabled="participant.IsNotBillable || (participantLockedOnOrder && currentOrder.Status !== 1)" ng-model="participant.UnitPrice" ng-required="!participant.IsNotBillable" />
                    </div>
                </div>
                <div class="col-md-4" ng-class="{'has-error': participantForm.currency.$error.required}">
                    <select class="form-control" ng-disabled="participantLockedOnOrder || participant.IsNotBillable" ng-required="!participant.IsNotBillable" name="currency" ng-model="participant.CurrencyCodeId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                        <option></option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label">Customer</label>
                <div class="col-md-4 control-label">{{customer.Name}}</div>
                <div class="col-md-4">
                    <a class="btn btn-sm btn-default pull-right" ng-disabled="participantLockedOnOrder" ng-click="searchCustomer()">Change customer</a>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label">Distributor</label>
                <div class="col-md-8 control-label">{{distributor.Name}}</div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Online payment ref</label>
                <div class="col-md-8">
                    <input type="text" disabled class="form-control" ng-model="participant.OnlinePaymentReference"/>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': participantForm.additionalTime.$error.duration}">
                <label class="col-md-4 control-label">Additional Time</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="additionalTime" ng-model="participant.AdditionalTime" duration />
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error': participantForm.earliestInvoiceDate.$error.date}">
                <label class="col-md-4 control-label">Earliest invoice date</label>
                <div class="col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-disabled="participantLockedOnOrder"
                               date-fix="participant.EarliestInvoiceDate"
                               ng-model="participant.EarliestInvoiceDate"
                               name="earliestInvoiceDate"
                               placeholder="dd.mm.yyyy"
                               focus-me="isEarliestInvoiceDatepickerOpen === true"
                               ng-blur="isEarliestInvoiceDatepickerOpen = false"
                               datepicker-popup="dd.MM.yyyy"
                               datepicker-options="dateOptions">
                        <a class="input-group-addon btn btn-default" ng-click="isEarliestInvoiceDatepickerOpen = true"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4>Additional Info</h4>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="showAllInfoElements"> Show all fields
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="showAllInfoElements || customLeadingText.IsVisible" ng-init="infoElement = getParticipantInfoElement(customLeadingText)" ng-repeat="customLeadingText in customLeadingTexts">
                <label class="control-label col-md-4">{{customLeadingText.Text}}</label>
                <div class="col-md-4">
                    <input class="form-control" ng-disabled="participantLockedOnOrder && currentOrder.Status !== 1" type="text" ng-model="infoElement.InfoText" />
                </div>
                <div class="col-md-4">({{customLeadingText.LeadingText.Text}})</div>
            </div>

        </ng-form>
    </div>
    <div ng-show="isProgressVisible && selectedTab === 'progress'">
        <div ng-if="!isPerformancesLoaded && performances.length === 0">
            <h4>Loading...</h4>
        </div>
        <table class="table table-condensed" ng-if="performances.length > 0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Completed Date</th>
                    <th>Status</th>
                    <th>Score</th>
                    <th>Time</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="performance in performances" ng-init="rco = getRco(performance.RcoId)">
                    <td ng-style="{'padding-left': ((course && rco.Id !== course.Id) || (examContainer && rco.Id !== examContainer.Id)) ? '20px' : '0px'}">
                        {{rco.Name}}
                    </td>
                    <td>
                        <div class="input-group input-group-sm" style="width: 140px;">
                            <input type="text" class="form-control" ng-disabled="performance.isUpdating"
                                   date-fix="performance.CompletedDate"
                                   ng-model="performance.CompletedDate"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="performance.isCompletedDatepickerOpen === true"
                                   ng-blur="performance.isCompletedDatepickerOpen = false"
                                   datepicker-popup="dd.MM.yyyy"
                                   datepicker-options="dateOptions">
                            <a class="input-group-addon btn btn-default" ng-disabled="performance.isUpdating" ng-click="performance.isCompletedDatepickerOpen = true"><i class="fa fa-calendar"></i></a>
                        </div>
                    </td>
                    <td>
                        <select ng-disabled="performance.isUpdating" ng-model="performance.Status" class="form-control input-sm" ng-options="status.value as status.text for status in lessonStatuses"></select>
                    </td>
                    <td>
                        <input style="width: 70px;" min="0" max="100" ng-disabled="performance.isUpdating" type="number" class="form-control input-sm" ng-model="performance.Score" />
                    </td>
                    <td>
                        <input style="width: 120px;" type="text" class="form-control input-sm" ng-model="performance.TimeUsedInMilliseconds" duration ng-disabled="performance.isUpdating" />
                    </td>
                    <td>
                        <button ng-click="updatePerformance(performance)" class="btn btn-default btn-sm">
                            <span ng-show="!performance.isUpdating">Save</span>
                            <span ng-show="performance.isUpdating" class="fa fa-spin fa-spinner" title="Saving..."></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="isCaseExam && selectedTab === 'exam'">
        <div class="row">
            <div class="col-md-6 col-border-right">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Result</h4>
                    </div>
                    <label class="control-label col-md-4">Set grade:</label>
                    <div class="col-md-7">
                        <select class="form-control"
                                ng-selected="participant.ExamGrade"
                                ng-model="participant.ExamGrade"
                                ng-disabled="isSettingGrade"
                                ng-change="setGrade()"
                                ng-options="grade for grade in grades"></select>
                    </div>
                    <div class="col-md-1">
                        <span class="fa fa-spin fa-spinner" ng-if="isSettingGrade"></span>
                    </div>
                    <label class="control-label col-md-4 top-space">Result:</label>
                    <div class="col-md-7 form-control-static top-space">
                        {{participant.Result | participantResult}}
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="top-space" ng-if="participant.ExamGradeDate">
                    <em>Grade set {{participant.ExamGradeDate | localDate}}</em>
                </div>
                <div class="top-space" ng-if="participant.GradingListDate">
                    <em>Candidate survey sent {{participant.GradingListDate | localDate}}</em>
                </div>

            </div>
            <div class="col-md-6 col-border-left">
                <h4>Upload exam</h4>
                <div>
                    <attachment-upload edit-description="false" file-uploaded="onDocumentUploaded(attachment)"></attachment-upload>
                </div>
            </div>
        </div>
        
        <hr />

        <h4>Submitted exams</h4>
        <p ng-if="participant.Attachments.length === 0">
            There are no exam submissions
        </p>
        <table class="table table-condensed" ng-if="participant.Attachments.length > 0">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Submitted</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="attachment in participant.Attachments | orderBy:'Created':true">
                    <td><a ng-href="{{attachment | attachmentPath}}" title="Download file" target="_blank">{{attachment.Title}}</a></td>
                    <td>{{attachment.Created | localDate}}</td>
                </tr>
            </tbody>
        </table>
        
        <hr />

        <div ng-if="participantGradingComments.length > 0">
            <h4>Examiner's Evaluation</h4>
            <div ng-repeat="comment in participantGradingComments">
                <p ng-bind-html="comment.CommentText"></p>
                <em>{{comment.LastModified | localDate}} - {{comment.User.FirstName}} {{comment.User.LastName}}</em>
                <hr ng-if="$index < participantGradingComments.length - 1" />
            </div>
        </div>
    </div>
    <div ng-show="isMultipleChoiceExam && selectedTab === 'exam'">
        <div class="panel panel-default">
            <div class="panel-heading">
                Exam Results
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>Submitted:</label>
                            <div>{{exam.IsSubmitted ? 'Yes' : 'No' }}</div>
                        </div>
                        <div class="col-md-2">
                            <label>Date:</label>
                            <div>{{exam.Created | localDate:'DD.MM.YYYY'}}</div>
                        </div>
                        <div class="col-md-2">
                            <div ng-if="exam.IsSubmitted">
                                <label>Score (out of {{maximumScore}}):</label>
                                <div>
                                    <input class="form-control input-sm" type="number" ng-model="exam.TotalScore" ng-disabled="isSettingGrade || isUnsubmittingExam || isSavingExam" min="0"/>
                                </div>
                            </div>
                            <div ng-if="!exam.IsSubmitted">
                                <label>Score:</label><br/>
                                <span>N/A</span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Set grade:</label>
                            <select class="form-control input-sm"
                                    ng-selected="participant.ExamGrade"
                                    ng-model="participant.ExamGrade"
                                    ng-disabled="isSettingGrade || isUnsubmittingExam || isSavingExam"
                                    ng-change="setGrade()"
                                    ng-options="grade for grade in grades"></select>
                        </div>
                        <div class="col-md-1">
                            <label>&nbsp;</label>
                            <div>
                                <span style="margin-top: 7px;"class="fa fa-spin fa-spinner" ng-if="isSettingGrade"></span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Result:</label>
                            <div>{{participant.Result | participantResult}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <div ng-if="exam.ModifiedById">
                                <label>Modified by:</label>
                                <div>{{exam.ModifiedBy.FirstName}} {{exam.ModifiedBy.LastName}}</div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div ng-if="exam.Modified">
                                <label>Modified:</label>
                                <div>{{exam.Modified | localDate}}</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-5" ng-if="participant.GradingListDate">
                            <label>Candidate survey:</label>
                            <div>{{participant.GradingListDate | localDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right" ng-if="exam.IsSubmitted">
                <a class="btn btn-primary btn-sm" ng-disabled="isUnsubmittingExam || isSavingExam || isSettingGrade" ng-click="unsubmitExam()">
                    <span ng-if="!isUnsubmittingExam">Unsubmit exam</span>
                    <span ng-if="isUnsubmittingExam">
                        <i class="fa fa-spin fa-spinner"></i> Unsubmitting exam...
                    </span>
                </a>
                <a class="btn btn-primary btn-sm" ng-disabled="isSavingExam || isUnsubmittingExam || isSettingGrade" ng-click="saveExam()">
                    <span ng-if="!isSavingExam">Save results</span>
                    <span ng-if="isSavingExam">
                        <i class="fa fa-spin fa-spinner"></i> Saving results...
                    </span>
                </a>
            </div>
        </div>
        <h4>Answers</h4>
        <accordion>
            <accordion-group ng-repeat="question in exam.Questions">
                <accordion-heading>
                    <span style="cursor: pointer">{{question.Text | characters:100}}</span>
                    <span class="pull-right">
                        <i class="fa fa-check" ng-show="question.answer.isCorrect" style="color: green;"></i>
                        <i class="fa fa-ban" ng-show="!question.answer.isCorrect" style="color: red;"></i>
                    </span>
                </accordion-heading>
                <div>
                    <label>Points:</label>
                    <span>{{question.Points}}</span>
                    <p>{{question.Text}}</p>

                    <div class="row">
                        <div class="col-md-12">
                            <div ng-if="question.Type === 'TF'">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Correct:</label>
                                        <span ng-if="question.CorrectBoolAnswer" style="color: green;">True</span>
                                        <span ng-if="!question.CorrectBoolAnswer" style="color: green;">False</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Answered:</label>
                                        <span ng-if="question.CorrectBoolAnswer === question.answer.BoolAnswer" style="color: green;">{{question.answer.BoolAnswer | capitalize}}</span>
                                        <span ng-if="question.CorrectBoolAnswer !== question.answer.BoolAnswer" style="color: red;">{{question.answer.BoolAnswer | capitalize}}</span>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="question.Type === 'M' || question.Type === 'S'">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Correct</th>
                                            <th>Answered</th>
                                            <th style="width: 100%;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="option in question.QuestionOptions" ng-init="isOptionSelected = isOptionSelected(question.answer, option)">
                                            <td><i ng-if="option.IsCorrect" class="fa fa-check" style="color: green;"></i></td>
                                            <td>
                                                <i ng-if="option.IsCorrect && isOptionSelected" class="fa fa-check" style="color: green;"></i>
                                                <i ng-if="!option.IsCorrect && isOptionSelected" class="fa fa-check" style="color: red;"></i>
                                            </td>
                                            <td>{{option.Text}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    
    <!-- Should be ng-if to force reload of change log when clicking on tab -->
    <div ng-if="selectedTab === 'changeLog'">
        <h4>Change Log</h4>
        <change-log entity-type="1" entity-id="{{participant.Id}}"></change-log>
    </div>    

    <div ng-show="selectedTab === 'comments'">
        <userComments entity="participant" id="{{participant.Id}}" comments-updated="commentsUpdated(comments)"></userComments>
    </div>    
</div>
<div class="modal-footer" ng-if="selectedTab === 'participant'">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!participantForm.$valid" busy-button is-busy="isSaving" busy-text="Saving...">Save</a>
    </div>
</div>

<div class="modal-footer" ng-if="selectedTab === 'progress'">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Close</a>
    </div>
</div>

<div class="modal-footer" ng-if="selectedTab !== 'participant' && selectedTab !== 'progress'">
    <div class="pull-right">
        <button class="btn btn-sm btn-default" ng-click="cancel()">Close</button>
    </div>
</div>