﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Add Participants</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-9">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Search participant..." ng-model="model.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                <span class="input-group-btn">
                    <a class="clickable btn btn-sm btn-primary" ng-disabled="!model.query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div class="col-md-12" ng-if="participants.Items.length > 0">
        <h4>Participants ({{participants.TotalCount}})</h4>
        <table class="table table-unbordered table-condensed">
            <thead>
                <tr>
                    <th>Activity Set</th>
                    <th>Article Code</th>
                    <th>Activity</th>
                    <th>Participant</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participant in participants.Items" class="selectable" title="Select participant" ng-click="toggleSelect(participant)" ng-class="{'selected': isSelected(participant)}">
                    <td>{{participant.ActivitySetName}}</td>
                    <td>{{participant.ArticlePath}}</td>
                    <td>{{participant.ActivityName}}</td>
                    <td>{{participant.FirstName}} {{participant.LastName}}</td>
                    <td>
                        <span ng-if="participant.CurrencyCode">{{participant.UnitPrice | currency:participant.CurrencyCode+' '}}</span>
                    </td>
                    <td>
                        <input ng-checked="isSelected(participant)" type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination on-select-page="navigate(page)"
                    total-items="participants.TotalCount"
                    items-per-page="limit"
                    page="page"
                    max-size="6"
                    boundary-links="true"
                    rotate="false"></pagination>
    </div>

    <div class="col-md-12 top-space" ng-if="participants.Items.length === 0">
        <p>
            Could not find any participants matching '{{lastSearchQuery}}'
        </p>
    </div>
    <div class="col-md-12" ng-if="model.selectedParticipants.length > 0">
        <h4>Selected ({{model.selectedParticipants.length}})</h4>
        <ul class="selected-list">
            <li ng-repeat="participant in model.selectedParticipants">
                <selected-box on-remove="toggleSelect(participant)">{{participant.FirstName}} {{participant.LastName}}</selected-box>
            </li>
        </ul>
    </div>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="model.selectedParticipants.length === 0">Add Participants</a>
    </div>
</div>