﻿<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">Bulk grade participants</h4>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <input type="file" accept=".xlsx" xlsx-file-select="locals.selectedFile" class="pull-left" />
                <span class="pull-left" style="margin-top: 3px;" ng-show="locals.selectedFile" ng-click="locals.selectedFile = null">
                    <a class="clickable" title="Clear selected file" ng-click="locals.selectedFile = null"><i class="fa fa-times"></i></a>
                </span>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a class="btn btn-default btn-sm" ng-href="{{'templates/participants-bulk-grade-template.xlsx' | assetRef}}"><i class="fa fa-file-text-o"></i> Download template</a>
                </div>
            </div>
        </div>
        <table class="table table-condensed" ng-if="locals.participants.length > 0">
            <thead>
                <tr>
                    <th><input type="checkbox" title="Select All" ng-disabled="locals.canSelectAll" ng-model="locals.isAllParticipantsSelected" ng-change="toggleSelectAllParticipants()" /></th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participant in locals.participants">

                    <td><input type="checkbox" title="Select" ng-model="participant.isSelected" ng-disabled="!participant.isValid" ng-change="onParticipantSelected()" /></td>
                    <td>
                        <toggle-edit ng-model="participant.Email" hide-cancel-button="true" text-changed="verifyParticipant(participant)">
                            <span class="text-danger" ng-show="!participant.Email && participant.emailValidationText" tooltip="{{participant.emailValidationText}}">(No email)</span>
                            <span class="text-danger" ng-show="participant.Email && participant.emailValidationText" tooltip="{{participant.emailValidationText}}">{{participant.Email}}</span>
                            <span ng-show="participant.Email && !participant.emailValidationText">{{participant.Email}}</span>
                        </toggle-edit>
                    </td>
                    <td>{{participant.participant.FirstName}} {{participant.participant.LastName}}</td>
                    <td>
                        <div ng-class="{'has-error': participant.gradeValidationText}" tooltip="{{participant.gradeValidationText}}">
                            <select class="form-control input-sm"
                                    ng-selected="participant.Grade"
                                    ng-model="participant.Grade"
                                    ng-change="verifyParticipant(participant)"
                                    ng-options="grade for grade in grades"></select>
                        </div>
                    </td>
                    <td>
                        <i ng-if="participant.isBusyVerifying" class="fa fa-spin fa-spinner" title="Verifying participant..."></i>
                        <i ng-if="participant.isBusyUpdating" class="fa fa-spin fa-spinner" title="Updating participant..."></i>
                        <i ng-if="!participant.isBusyVerifying && !participant.isValid" class="fa fa-warning text-danger" tooltip="Invalid participant!"></i>
                        <i ng-if="participant.isUpdated" class="fa fa-check" tooltip="Participant updated!"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="close()">Close</a>
        <a class="btn btn-sm btn-primary" ng-disabled="locals.selectedParticipants.length === 0 || isBusyUpdating" ng-click="setExamGrades()">Grade Selected Participants <span ng-show="locals.selectedParticipants.length > 0">({{locals.selectedParticipants.length}})</span></a>
    </div>
</div>