﻿<table ng-if="products.length > 0" class="table table-responsive table-bordered table-striped table-condensed" style="width: 100%;">
    <thead>
        <tr>
            <th>Product Number</th>
            <th style="width: 100%;">Title</th>
            <th>Type</th>
            <th>Status</th>
            <th>Descriptions</th>
            <th>Articles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td style="white-space: nowrap"><a href="javascript:void(0)" ng-click="editProduct(product)">{{product.ProductPath}}</a></td>
            <td>{{product.Title}}</td>
            <td style="white-space: nowrap">{{product.ProductType.Name}}</td>
            <td style="white-space: nowrap">{{{true: 'Active', false: 'Inactive'}[product.IsActive]}}</td>
            <td style="white-space: nowrap">
                <a ui-sref="products.item.descriptions({productId: product.Id})" ng-if="product.NumberOfProductDescriptions === 0">New</a>
                <a ui-sref="products.item.descriptions({productId: product.Id})" ng-if="product.NumberOfProductDescriptions > 0">View</a>
                <span ng-if="product.NumberOfProductDescriptions > 0">({{product.NumberOfProductDescriptions}})</span>
                <i ng-if="product.NumberOfProductDescriptions === 0" title="The product doesn't have any descriptions" class="fa fa-flag"></i>
            </td>
            <td style="white-space: nowrap">
                <a ui-sref="products.item.articles({productId: product.Id})" ng-if="product.NumberOfArticles === 0">New</a>
                <a ui-sref="products.item.articles({productId: product.Id})" ng-if="product.NumberOfArticles > 0">View</a>
                <span ng-if="product.NumberOfArticles > 0">({{product.NumberOfArticles}})</span>
                <i ng-if="product.NumberOfArticles === 0" title="The product doesn't have any articles" class="fa fa-flag"></i>
            </td>
            <td style="white-space: nowrap"><a ng-click="editProduct(product)" class="btn btn-default btn-sm btn-table"><i class="fa fa-pencil"></i> Edit</a></td>
        </tr>
    </tbody>
</table>