﻿<div class="row">
    <div class="col-md-12">
        <h1>Products ({{allProducts.length}})</h1>
    </div>
</div>

<a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="createProduct()"><i class="fa fa-plus"></i> Create New Product</a>

<ul class="nav nav-tabs top-space">
    <li ui-sref-active="active"><a ui-sref="productlist.active">Active products ({{activeProducts.length}})</a></li>
    <li ui-sref-active="active"><a ui-sref="productlist.inactive">Inactive products ({{inactiveProducts.length}})</a></li>
</ul>

<div class="top-space" ui-view></div>
