<h2>{{title}}</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <product-article article-id="articleId" product-id="productId" customer-id="customerId" title="title"></product-article>
                
                <div ng-if="customerArticles.length > 0">
                    <h2>Customer articles that are based on this article</h2>
                    <h4>(filtered by currently selected distributor)</h4>

                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Customer article name</th>
                                <th ng-if="!isMockexam">Course link</th>
                                <th ng-if="isMockexam">Exam link</th>
                                <th>Status</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customerArticle in customerArticles">
                                <td><a ui-sref="customer.overview.details({ customerId: customerArticle.CustomerId })">{{customerArticle.CustomerName}}</a></td>
                                <td><a ui-sref="customer.articles.item.view({ customerId: customerArticle.CustomerId, customerArticleId: customerArticle.Id })">{{customerArticle.Title}}</a></td>
                                <td>
                                    <a ng-if="!isMockexam && customerArticle.RcoCourseId" ng-click="openRcoCourseInfoModal(customerArticle.RcoCourseId)" class="clickable">{{customerArticle.CourseVersion}} - {{customerArticle.CourseName}}</a>
                                    <a ng-if="isMockexam && customerArticle.RcoExamContainerId" ng-click="openRcoExamInfoModal(customerArticle.RcoExamContainerId)" class="clickable">{{customerArticle.RcoExamContainerName}}</a>
                                </td>
                                <td>{{customerArticle.Status}}</td>
                                <td>{{customerArticle.Created | localDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>