﻿<div class="row">
    <div class="col-md-8">
        <h1>{{product.ProductPath}} {{product.Title}}</h1>        
    </div>
    <div class="col-md-4">
        <div class="pull-right sub-nav">
            <ul class="nav nav-pills">
                <li ng-class="{'active': isActive('products.item.descriptions')}">
                    <a ui-sref="products.item.descriptions({ productId: product.Id })">Descriptions</a>
                </li>
                <li ng-class="{'active': isActive('products.item.article')}">
                    <a ui-sref="products.item.articles({ productId: product.Id })">Articles</a>
                </li>
            </ul>
        </div>    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div ui-view>
        </div>        
    </div>
</div>

