﻿<h2>Create New {{articleTypeId | articleTypeName}} Article</h2>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <product-article-create article="article" product-id="productId" is-new="true" on-save="onSave(articleId)" on-cancel="onCancel(articleId)" />            
            </div>
        </div>
    </div>
    
</div>
