﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="customer in customers" ng-class="{'active': isSelectedCustomer(customer.customerId)}">
                                <a href="javascript:void(0)" ng-click="selectCustomer(customer.customerId)">{{{true: 'Generic', false: customer.customerName}[!customer.customerName]}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10" ng-repeat="customer in customers">
                        <div ng-if="isSelectedCustomer(customer.customerId)">
                            <product-descriptions product-id="{{product.Id}}"
                                                  product-type-name="{{product.ProductType.Name}}"
                                                  customer-id="{{customer.customerId}}"
                                                  language-id="customer.selectedLanguage"
                                                  on-customer-copy-created="onCustomerCopyCreated"
                                                  on-language-selected="onLanguageSelected" />
                        </div>

                    </div>
                </div>

            </div>
        </div>  
    </div>
</div>
