﻿<div class="row" ng-if="articles.Items.length === 0">
    <div class="col-md-12">
        <p>
            The product doesn't have any articles.    
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a ng-if="product.ProductType.Name === 'Other'" ng-click="createArticle(7)" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create New Article</a>
        <a ng-if="product.ProductType.Name === 'Mock Exam'" ng-click="createArticle(8)" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create New Article</a>
        <a ng-if="product.ProductType.Name === 'Subscription'" ng-click="createArticle(12)" class="btn btn-sm btn-default"><i class="fa fa-plus"></i> Create New Article</a>
        <div ng-if="product.ProductType.Name !== 'Other' && product.ProductType.Name !== 'Mock Exam' && product.ProductType.Name !== 'Subscription'" class="btn-group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle">
                <span class="fa fa-plus"></span> Create New Article <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-if="product.ProductType.Name === 'Course'">
                <li><a class="clickable" ng-click="createArticle(1)">{{1 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(2)">{{2 | articleTypeName}}</a></li>
            </ul>
            <ul class="dropdown-menu" role="menu" ng-if="product.ProductType.Name === 'Exam'">
                <li><a class="clickable" ng-click="createArticle(3)">{{3 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(6)">{{6 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(9)">{{9 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(5)">{{5 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(4)">{{4 | articleTypeName}}</a></li>
            </ul>
            <ul class="dropdown-menu" role="menu" ng-if="product.ProductType.Name === 'Event'">
                <li><a class="clickable" ng-click="createArticle(10)">{{10 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(11)">{{11 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(1)">{{1 | articleTypeName}}</a></li>
                <li><a class="clickable" ng-click="createArticle(2)">{{2 | articleTypeName}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row top-space" ng-if="articles.Items.length > 0">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>
                        <sortable-header title="Article no." order-by="path" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Title" order-by="title" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Content Type" order-by="type" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Language" order-by="language" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                    <th>
                        <sortable-header title="Status" order-by="status" current-order-by="orderBy" current-order-direction="orderDirection"></sortable-header>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles.Items">
                    <td><a ui-sref="products.item.article({productId: product.Id, articleId: article.Id})">{{article.Path}}</a></td>
                    <td>{{article.Title}}</td>
                    <td>{{article.ArticleType}}</td>
                    <td>{{article.Language}}</td>
                    <td>{{article.StatusCode}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="articles.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>

</div>