﻿<h2>Forgotten password</h2>
<p>
    Someone requested a password reset for your Metier account. If this wasn't you, simply ignore this e-mail.
    To set a new password, click the link below:
</p>
<p>{{passwordResetUrl}}</p>