﻿<div ng-if="selectedProductDescriptionInfo">
    <ul class="nav nav-tabs" ng-if="productDescriptionsInfo.length > 0">
        <li ng-class="{'active': isSelected(info)}" ng-repeat="info in productDescriptionsInfo">
            <a href="javascript:void(0)" ng-click="select(info)">
                {{{true: 'Select language', false: info.productDescription.Language.Name}[!info.productDescription.Language]}}
                <i class="fa fa-times link clickable" ng-click="deleteProductDescription(info)" title="Delete product description"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" title="Add new language" ng-click="addNewLanguage()"><i class="fa fa-plus"></i> Add language</a>
        </li>
    </ul>
    <div class="row">

        <div ng-repeat="info in productDescriptionsInfo">
            <div ng-if="isSelected(info)">
                <div class="col-md-10">
                    <div ng-show="info.isEditing">
                        <product-description-create product-description-id="info.productDescription.Id" product-id="productId" customer-id="info.productDescription.CustomerId" on-save="saved(productDescriptionId)" on-cancel="cancelled()" />
                    </div>
                    <div ng-show="!info.isEditing">
                        <product-description-view product-description="info.productDescription" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="margin-top: 5px;">
                        <a href="javascript:void(0)" ng-disabled="info.isEditing"
                           class="btn btn-sm btn-default" ng-click="edit(info)"
                           title="Edit product description">
                            <i class="fa fa-pencil"></i> Edit
                        </a>
                        <a href="javascript:void(0)" ng-click="copy(info)" class="btn btn-sm btn-default">
                            <i class="fa fa-copy" /> Copy
                        </a>
                    </div>

                    <div style="margin-top: 5px;">
                        <strong>Product Type:</strong>
                        <div>
                            {{productTypeName}}
                        </div>

                        <div ng-show="info.productDescription.Created">
                            <strong>Created:</strong>
                            <div>
                                {{info.productDescription.Created | localDate}}
                            </div>
                        </div>
                        
                        <div ng-show="info.productDescription.CreatedBy">
                            <strong>Created By:</strong>
                            <div>
                                {{info.productDescription.CreatedBy.FirstName}} {{info.productDescription.CreatedBy.LastName}}
                            </div>
                        </div>

                        <div ng-show="info.productDescription.LastModified">
                            <strong>Last Modified:</strong>
                            <div>
                                {{info.productDescription.LastModified | localDate}}
                            </div>
                        </div>
                        
                        <div ng-show="info.productDescription.ModifiedBy">
                            <strong>Last Modified By:</strong>
                            <div>
                                {{info.productDescription.ModifiedBy.FirstName}} {{info.productDescription.ModifiedBy.LastName}}
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12" ng-if="productDescriptionsInfo.length === 0">
            <p>
                The product doesn't have any product descriptions.
            </p>
            <a href="javascript:void(0)" title="Add new language" ng-click="addNewLanguage()" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Create New Product Descripton</a>
        </div>
    </div>

</div>