﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Create Customer Tailored Copy</h4>
</div>
<div class="modal-body">
    <customer-search selected-customer-id="locals.selectedCustomer.Id" search-all-distributors is-required></customer-search>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
    <a type="button" class="btn btn-sm btn-primary" ng-click="ok(locals.selectedCustomer)" ng-disabled="!locals.selectedCustomer.Id">Create Copy</a>
</div>