﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancelled()">&times;</button>
    <h4 class="modal-title">Edit Product Description</h4>
</div>
<div class="modal-body">
    <product-description-create product-description-id="productDescriptionId" product-id="productId" on-save="saved()" on-cancel="cancelled()" say-hello="test" />        
</div>