﻿<div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <a ng-if="isChangeable" class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="selectProductDescription()">
                    <span ng-show="productDescription">Change Product Description</span>
                    <span ng-show="!productDescription">Select Product Description</span>
                </a>
                <!--<a ng-if="isEditable" class="btn btn-sm btn-default" href="javascript:void(0)" ng-disabled="!productDescriptionId" ng-click="edit(productDescriptionId, productId)"><i class="fa fa-pencil"></i> Edit Product Description</a>-->    
            </div>    
        </div>    
    </div>
    <div class="row">
        <div class="col-md-12">
            <product-description-view product-description="productDescription" short-description-only="true" can-toggle-details="true" />    
        </div>    
    </div>
    
    
</div>
