﻿<div ng-show="isInitialized">
    <style>
        .ta-editor {
            min-height: 100px;
        }
    </style>
    <ng-form name="productDescriptionForm">
        
        <div class="row">
            <div class="col-md-12">
                <h2>{{productDescription.Title}}</h2>    
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Language</label>
                    <select class="form-control" name="language"
                            ng-model="productDescription.LanguageId" ng-selected="productDescription.LanguageId"
                            ng-options="language.Id as language.Name for language in languages" ng-change="languageChanged()"></select>
                </div>    

                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input type="text" class="form-control" ng-model="productDescription.Title" />    
                </div>
                
                <div class="form-group" ng-repeat="descriptionText in productDescription.ProductDescriptionTexts | orderBy:'ProductTemplatePart.Order'">
                    <div>
                        <label class="control-label">{{descriptionText.ProductTemplatePart.Title}}</label>
                        <text-angular class="ta-editor-product-description" ng-model="descriptionText.Text"></text-angular>
                    </div>

                </div>
            </div>
        
            <div class="col-md-6">
                
                <attachment-upload file-uploaded="onFileUploaded(attachment, fileUrl)" edit-title="false" edit-description="false" accept="image/*"></attachment-upload>

                
                <div ng-if="productDescription.Attachment">
                    <div class="form-group">
                        <img  ng-src="{{productDescription.Attachment | attachmentPath}}" class="img-thumbnail"/>
                    </div>
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-sm btn-danger" ng-click="deleteImage()"><i class="fa fa-trash-o"></i> Delete Image</a>    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row col-md-12">
            <hr/>
            <div class="pull-right">
                <a class="btn btn-sm btn-default" href="javascript:void(0)" ng-click="cancel()">Cancel</a>
                <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!productDescriptionForm.$valid" busy-button is-busy="isBusy" busy-text="Saving...">Save</a>
            </div>
        </div>
          
    </ng-form>
</div>