﻿<style>
    img.floatRightClear {
        float: right;
        clear: right;
        margin: 4px;
    }
</style>

<div>

    <div class="row" ng-if="productDescription.IsDeleted">
        <div class="alert alert-danger col-md-7">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            This product description is deleted. Please select another description!
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>{{productDescription.Title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="shortDescriptionOnly">
                <img ng-if="showImage && productDescription.Attachment" ng-src="{{productDescription.Attachment | attachmentPath}}" class="img-thumbnail floatRightClear"/>
                <p ng-bind-html="shortDescription.Text"></p>
            </div>

            <div ng-if="!shortDescriptionOnly">
                <img ng-if="productDescription.Attachment" ng-src="{{productDescription.Attachment | attachmentPath}}" class="img-thumbnail img-responsive floatRightClear"/>
                <div ng-repeat="descriptionText in productDescription.ProductDescriptionTexts | orderBy:'ProductTemplatePart.Order'">
                    <h4>{{descriptionText.ProductTemplatePart.Title}}</h4>
                    <p ng-bind-html="descriptionText.Text"></p>
                </div>
            </div>

            <div ng-if="canToggleDetails">
                <a ng-show="shortDescriptionOnly" class="btn btn-sm btn-default clickable" ng-click="showDetails()"><i class="fa fa-chevron-down"></i> View more details</a>
                <a ng-show="!shortDescriptionOnly" class="btn btn-sm btn-default clickable" ng-click="hideDetails()"><i class="fa fa-chevron-up"></i> Hide details</a>
            </div>

        </div>
    </div>

</div>  