﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Select Product Description</h4>
</div>
<div class="modal-body">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Language</th>
                <th ng-if="isCustomerContext">Customer<br />Specific</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="productDescription in productDescriptions">
                <td>{{productDescription.Title}}</td>
                <td>{{productDescription.Language.Name}}</td>
                <td ng-if="isCustomerContext"><i ng-show="productDescription.isGeneric" class="fa fa-check"></i></td>
                <td><a href="javascript:void(0)" class="btn btn-sm btn-default" ng-click="ok(productDescription.Id)">Select</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a type="button" class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
</div>