﻿<label>{{label}}: <i class="fa fa-spin fa-spinner" title="Searching..." ng-show="isSearching"></i></label>
<div class="row">
    <div class="col-md-12">
        <exam-singleselect-filter label="" label-type="success" selected-item="selectedFilter" options="filterOptions"></exam-singleselect-filter>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input class="form-control" type="text" placeholder="Search customer..."
               ng-model="customer" style="width: 100%;"
               ng-disabled="isCustomerControlDisabled()"
               typeahead="customer as customer.Name for customer in searchCustomers($viewValue)"
               typeahead-wait-ms="400"
               typeahead-on-select="onCustomerSelected(customer)"
               typeahead-loading="isSearching"
               typeahead-template-url="{{customerSearchTemplateUrl}}" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <span ng-repeat="item in selectedCustomers" class="label label-default label-tag">{{item.Name}} 
            <a style="color: white;" href="javascript:void(0)" ng-click="remove(item)">
                <i class="fa fa-times" title="Remove"></i>
            </a>
        </span>
    </div>
</div>