﻿<h1><i class="fa fa-trophy"></i> Grading</h1>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="includeGraded" ng-change="includeGradedChecked()"/> Show graded submission(s)
    </label>
</div>
<p ng-if="examSubmissions.TotalCount === 0">
    You have no exam submission(s) to grade
</p>
<accordion>
    <accordion-group ng-repeat="examSubmission in examSubmissions.Items">
        <accordion-heading>
            <span style="cursor: pointer">{{examSubmission.FirstName}} {{examSubmission.LastName}} - <em>{{examSubmission.ActivityTitle}}</em></span>
            <span class="pull-right">
                <span class="label label-success" ng-show="isGraded(examSubmission)">Graded</span>
            </span>
        </accordion-heading>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend><i class="fa fa-files-o"></i> Submissions</legend>
                    <p>Click on the links below to download the submitted exam.</p>
                    <ul class="list-unstyled">
                        <li ng-repeat="attachment in examSubmission.Attachments | orderBy:'Created':true">
                            <a ng-href="{{attachment | attachmentPath}}" title="Click to download" target="_blank">
                                <span><i class="fa fa-file"></i></span>
                                {{attachment.Created | localDate}} -
                                <em>
                                    {{attachment.Title}}
                                </em>
                            </a>
                        </li>
                    </ul>    
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend><i class="fa fa-trophy"></i> Grading</legend>
                    <div class="row">
                        <label class="control-label col-md-2">Set grade:</label>
                        <div class="col-md-3">
                            <select class="form-control input-sm"
                                    ng-selected="examSubmission.ExamGrade"
                                    ng-model="examSubmission.ExamGrade"
                                    ng-disabled="examSubmission.isSettingGrade"
                                    ng-change="setGrade(examSubmission)"
                                    ng-options="grade for grade in grades"></select>
                        </div>
                        <div class="col-md-1">
                            <span class="fa fa-spin fa-spinner" ng-show="examSubmission.isSettingGrade"></span>
                        </div>
                        
                    </div>
                    <div class="top-space" ng-if="examSubmission.ExamGradeDate">
                        <em>Grade set {{examSubmission.ExamGradeDate | localDate}}</em>
                    </div>
                    
                </fieldset>
            </div>
        </div>
        <fieldset>
            <legend><i class="fa fa-comments"></i> Evaluation</legend>
            <comments entity="participantGrading" id="{{examSubmission.ParticipantId}}" exclude-header="true"></comments>
        </fieldset>
            
    </accordion-group>
</accordion>

<div ng-if="examSubmissions.TotalCount > 0">
    <span class="pagination" style="float: left; margin-right: 15px;">
        <page-limit-selector />
    </span>
    <span>
        <pagination on-select-page="navigate(page)"
                    total-items="examSubmissions.TotalCount"
                    items-per-page="limit"
                    page="page"
                    max-size="10"
                    boundary-links="true"
                    rotate="false"></pagination>
    </span>
</div>