﻿<ng-form name="EnrollmentConditionsForm">

    <div class="col-md-12" ng-if="isInitialized">
        <div ng-if="!isEditMode">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th title="If selected, the participant must have completed the course in order to fulfill the enrollment condition" style="width: 4%">Strict</th>
                    <th style="width: 36%">Title</th>
                    <th style="width: 15%">Article</th>
                    <th style="width: 20%">Language</th>
                    <th style="width: 25%">Customer</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="condition in enrollmentConditions">
                    <td title="If selected, the participant must have completed the course in order to fulfill the enrollment condition" style="text-align: center; vertical-align: middle;">
                        <i ng-if="condition.IsStrictRequirement" class="fa fa-check-square-o" aria-hidden="true"></i>
                        <i ng-if="!condition.IsStrictRequirement" class="fa fa-square-o" aria-hidden="true"></i>
                    </td>
                    <td>{{condition.Title}}</td>
                    <td>
                        {{condition.Product.ProductPath}}{{condition.ArticleType.CharCode}}
                    </td>
                    <td>{{condition.Language.Name}}</td>
                    <td>{{condition.Customer.Name}}</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div ng-if="isEditMode">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th title="If selected, the participant must have completed the course in order to fulfill the enrollment condition" style="width: 5%">Strict</th>
                    <th style="width: 25%">Title</th>
                    <th style="width: 15%">Product</th>
                    <th style="width: 20%">Type</th>
                    <th style="width: 15%">Language</th>
                    <th style="width: 20%">Customer</th>
                    <th style="width: 5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="condition in enrollmentConditions">
                    <td title="If selected, the participant must have completed the course in order to fulfill the enrollment condition" style="text-align: center; vertical-align: middle;"><input type="checkbox" ng-model="condition.IsStrictRequirement"/></td>
                    <td><input type="text" class="form-control" ng-model="condition.Title" /></td>
                    <td>
                        <product-selector selected-product-id="condition.ProductId"></product-selector>
                    </td>
                    <td><articletype-selector selected-articletype-id="condition.ArticleTypeId"></articletype-selector></td>
                    <td><language-selector selected-language-id="condition.LanguageId"></language-selector></td>
                    <td><customer-search selected-customer-id="condition.CustomerId"></customer-search></td>
                    <td><a class="btn btn-sm btn-default" ng-click="deleteRow(condition.Id)" ng-disabled="isBusy"><i class="fa fa-remove"></i></a></td>
                </tr>
                <tr>
                    <td style="text-align: center; vertical-align: middle;"><input type="checkbox" ng-disabled="true"/></td>
                    <td><input type="text" class="form-control" ng-disabled="true"/></td>
                    <td><input type="text" class="form-control" ng-disabled="true"/></td>
                    <td><input type="text" class="form-control" ng-disabled="true"/></td>
                    <td><input type="text" class="form-control" ng-disabled="true"/></td>
                    <td><input type="text" class="form-control" ng-disabled="true"/></td>
                    <td><a class="btn btn-sm btn-default" ng-click="addRow()" ng-disabled="isBusy"><i class="fa fa-plus"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="top-space col-md-offset-9">
            <a class="btn btn-sm btn-default" ng-click="setEditMode(true)" ng-disabled="isEditMode"> Edit</a>
            <a class="btn btn-sm btn-default" ng-click="cancel()" ng-disabled="isBusy || !isEditMode"> Cancel</a>
            <a class="btn btn-sm btn-default" ng-click="save()" ng-disabled="isBusy || !isEditMode"> Save</a>
        </div>

    </div>

    <div class="col-md-12" ng-if="!isInitialized">
        <i class="fa fa-spinner fa-spin" title="Loading..."></i> Loading...
    </div>
</ng-form>