﻿<label>{{label}}: <i class="fa fa-spin fa-spinner" title="Searching..." ng-show="isSearching"></i></label>
<div class="row">
    <div class="col-md-12">
        <input class="form-control" type="text" placeholder="Search tags.."
               ng-model="tag"
               style="width: 100%;"
               typeahead="tagItem as tagItem.Text for tagItem in searchTags($viewValue)"
               typeahead-wait-ms="400"
               typeahead-on-select="onTagSelected(tag)"
               typeahead-loading="isSearching"
               ui-keypress="{13: 'createNewFromQuery()'}" />
    </div>
</div>
<div ng-if="isCreateEnabled && isEmptySearchResult">
    <a href="javascript:void(0)" ng-click="createNewFromQuery()">
        Create new (press enter)?
    </a>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <span ng-repeat="item in selectedItems" class="label label-warning label-tag">{{item.Text}} <a style="color: white;" href="javascript:void(0)" ng-click="remove(item)"><i class="fa fa-times" title="Remove"></i></a></span>
    </div>
</div>