﻿<div ng-if="isInitialized">
    <p ng-if="!entries || entries.length === 0">
        No entries
    </p>

    <div ng-repeat="entry in entries">
        <strong>
            <a ng-if="entry.UserId" ui-sref="user.overview.details({ userId: entry.UserId })" target="_blank">{{entry.FirstName}} {{entry.LastName}}</a>
            <span ng-if="!entry.UserId">{{entry.FirstName}} {{entry.LastName}}</span>
        </strong> - {{entry.Created | localDate}}<br />
        {{entry.Text}}
        <hr ng-if="$index < entries.length - 1" style="margin-top: 2px; margin-bottom: 2px;" />
    </div>
    <a class="btn btn-default btn-sm top-space" ng-if="hasMoreEntries" ng-disabled="isLoadingNextEntries" ng-click="loadMoreEntries()">
        <span ng-if="!isLoadingNextEntries"><i class="fa fa-refresh"></i> Load more entries</span>
        <span ng-if="isLoadingNextEntries"><i class="fa fa-refresh fa-spin"></i> Loading...</span>
        
    </a>
</div>

<div ng-if="!isInitialized">
    <i class="fa fa-spinner fa-spin" title="Loading..."></i> Loading...
</div>