﻿<div class="row">
    <div class="col-md-12">
        <form action="{{filesUploadUrl}}" ng-upload role="form">
            <input type="file" name="file" ui-event="{change: 'onImageSelected($event.target.value)'}" accept="{{accept}}" />

            <div ng-if="editTitle">
                <label class="control-label">Title</label>
                <input class="form-control" type="text" name="title" ng-model="model.title" />
            </div>

            <div ng-if="editDescription">
                <label class="control-label">Description</label>
                <textarea class="form-control" type="text" name="description" ng-model="model.description" />
            </div>

            <a href="javascript:void(0)" class="btn btn-sm btn-success top-space" ng-disabled="!selectedImagePath" upload-submit="onfileUpload(content, completed)"><i class="fa fa-upload"></i> Upload</a>
        </form>    
    </div>
</div>