﻿<h2>{{examInfo.Name}}</h2>
<p>
    {{'QUESTIONS_INFO' | translate}}
</p>

<div ng-repeat="question in questions" class="panel panel-default" ng-init="answer = getAnswer(question)">
    <div class="panel-body">
        <question exam="exam" question="question" answer="answer"></question>
    </div>
</div>
