﻿<div class="well well-lg">
    <h1><i class="fa fa-graduation-cap"></i> {{'RESULT_EXAM_COMPLETED' | translate}}</h1>
    <h3>{{examInfo.Name}}</h3>
    <p ng-if="examInfo.Result.ScorePercentage !== null">
        {{'RESULT_PERCENTAGE' | translate:percentageVariables}}
    </p>
    <p>
        {{examInfo.Result.Feedback}}
    </p>
</div>