﻿<div class="jumbotron">
    <h2><i class="fa fa-graduation-cap"></i> {{examInfo.Name}}</h2>
    
    <h4 style="margin-top: 30px;">
        {{'HOME_AVAILABLE' | translate}}
    </h4>
    {{examInfo.StartStartTime | date:'short'}}
    <span ng-if="examInfo.StartEndTime">
        <i class="fa fa-arrows-h"></i> {{examInfo.StartEndTime | date:'short'}}
    </span>

    <h4>{{'HOME_DURATION' | translate}}</h4>
    {{durationInMinutes}} {{'HOME_MINUTES' | translate}}

    <h4>{{'HOME_NUMBER_OF_QUESTIONS' | translate}}</h4>
    {{examInfo.NumberOfQuestions}}
    <div style="margin-top: 30px;">
        <a class="btn btn-lg btn-success" ng-if="!exam" ng-click="start()" ng-disabled="!isExamAvailable || isStartingExam" role="button">
            <span ng-if="!isStartingExam">{{'HOME_START_EXAM' | translate}}</span>
            <span ng-if="isStartingExam"><i class="fa fa-spin fa-spinner"></i> {{'HOME_STARTING_EXAM' | translate}}...</span>
            <span ng-if="showTimer"> - {{timerText}}</span>
        </a>
        <a class="btn btn-lg btn-success" ng-if="exam" ng-click="continueExam()" role="button">{{'HOME_CONTINUE_EXAM' | translate}}</a>
    </div>
    <alert ng-show="showErrorMsg" type="danger" style="margin-top: 30px;" close="closeErrorMsg()">
        <i class="fa fa-exclamation-triangle"></i> 
        <span ng-if="!errorCode">
            {{'HOME_START_EXAM_ERROR_MSG' | translate}}
        </span>
        <span ng-if="errorCode === 2002">
            {{'HOME_START_EXAM_NOT_QUALIFIED_ERROR_MSG' | translate}}
        </span>
        <span ng-if="errorCode === 2003">
            {{'HOME_START_EXAM_NOT_ENOUGH_COMPLETED_COURSES_ERROR_MSG' | translate}}
        </span>
    </alert>
</div>