﻿<div class="navbar navbar-default navbar-fixed-top no-selection" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-if="isHomeLinkVisible" class="navbar-brand" ui-sref="exam.home"><i class="fa fa-graduation-cap" title="{{examInfo.Name}}"></i></a>
        </div>


        <div class="navbar-collapse" style="height: 1px;" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li>
                    <button class="btn btn-default navbar-btn" ng-if="isContinueButtonVisible" ui-sref="exam.questions({page: continueToPage})" role="button">
                        <i class="fa fa-chevron-left"></i> {{'MENU_CONTINUE_EXAM' | translate}}
                    </button>


                    <button ng-if="isNavigationVisible" ng-disabled="isFirstPage" ng-click="navigateBack()" class="btn btn-default navbar-btn" style="min-width: 90px;">
                        <i class="fa fa-chevron-left"></i> {{'MENU_PREVIOUS' | translate}}
                    </button>
                    <span ng-if="isNavigationVisible">
                        {{currentPage}} / {{numberOfPages}}
                    </span>


                    <button ng-if="isNavigationVisible" ng-disabled="isLastPage" ng-click="navigateForward()" class="btn btn-default navbar-btn" style="min-width: 90px;">
                        {{'MENU_NEXT' | translate}} <i class="fa fa-chevron-right"></i>
                    </button>

                    <button ng-if="isSummaryButtonVisible" ng-click="summary()" class="btn btn-info navbar-btn" style="min-width: 90px;">
                        <i class="fa fa-check-square-o"></i> {{'MENU_SUMMARY' | translate}}
                    </button>

                    <button ng-if="isSubmitButtonVisible" ng-click="submit()" class="btn btn-success navbar-btn" style="min-width: 90px;">
                        <i class="fa fa-send-o"></i> {{'MENU_FINISH_EXAM' | translate}}...
                    </button>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-if="isLanguagesVisible">
                    <a href="#" class="dropdown-toggle"><i class="fa fa-flag"></i> {{currentLanguage.display}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="language in languages">
                            <a href="javascript:void(0)" ng-click="setLanguage(language.locale)">
                                <i class="fa fa-check" ng-if="currentLanguage.locale === language.locale"> </i>
                                {{language.display}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-if="isTimerVisible">
                    <p class="navbar-text">
                        <span ng-class="{'timer-danger': isTimerDanger}">
                            <i class="fa fa-clock-o"></i> <strong>{{timerText}}</strong>
                        </span>
                    </p>
                </li>
            </ul>
        </div>


    </div>
</div>

<div class="exam-container" style="margin-top: 70px;" ui-view></div>