﻿<h2>{{'SUMMARY' | translate}}</h2>
<p>
    {{'SUMMARY_INFO' | translate}}
</p>
<div class="row">
    <div class="col-md-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="filterMarkedForReview" ng-change="filterQuestions()" />
                {{'SUMMARY_MARKED_FOR_REVIEW' | translate}} ({{numberOfQuestionsMarkedForReview}})
            </label>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="filterNotAnswered" ng-change="filterQuestions()" />
                {{'SUMMARY_NOT_ANSWERED' | translate}} ({{numberOfQuestionsNotAnswered}})
            </label>
        </div>        
    </div>
    <div class="col-md-6">
        <button class="pull-right btn btn-lg btn-success" ng-click="submit()">
            <i class="fa fa-send-o"></i> {{'SUMMARY_SUBMIT_EXAM' | translate}}...
        </button>
    </div>
</div>


<accordion>
    <accordion-group ng-repeat="question in questions"
                     ng-init="answer = getAnswer(question)">
        <accordion-heading>
            <span style="cursor: pointer">{{question.Order}}. {{question.Text | characters:100}}</span>
            <span class="pull-right">
                <span class="label label-warning" ng-show="answer.IsMarkedForReview">{{'SUMMARY_MARKED_FOR_REVIEW' | translate}}</span> 
                <span class="label label-danger" ng-show="answer.isAnswered()">{{'SUMMARY_NOT_ANSWERED' | translate}}</span>
            </span>
        </accordion-heading>
        <question question="question" exam="examInfo.Exam" answer="answer" on-answer-saved="questionsSaved()">

        </question>
    </accordion-group>
</accordion>