﻿<h2>A password change was requested for your account</h2>
<p>
    Someone requested a password change for your Metier account. This can be due to an account creation, or from a password reset.
    To set a new password, click the link below:
</p>
<p><a href="{{passwordResetUrl}}">{{passwordResetUrl}}</a></p>