﻿@import "../bower_components/bootstrap/less/bootstrap.less";
@import "content-bootstrap.less";
@import "../phoenix/styles/phoenix.less";
@import "../phoenix.exam/styles/phoenix.exam.less";

.label-tag {
    padding: 5px 10px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
    float: left;
    font-size: 10pt;
    border: 1px solid @gray-lighter;
}