﻿<label ng-show="{{label.length > 0}}">{{label}}:</label>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" ng-class="{open: isOpen}">
            <button class="btn btn-default" ng-class="{'dropdown-toggle':true}" ng-click="isOpen = !isOpen">{{selectedItem.text}} <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li ng-repeat="option in options">
                    <a ng-click="dropdownItemClicked(option)" href="javascript:void(0)">
                        <span>
                            <i ng-show="option.isSelected" class=" fa fa-check"></i> 
                            <span ng-show="!option.isSelected">&nbsp;&nbsp;&nbsp;</span> 
                            {{option.text}}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
</div>