﻿@using Metier.Phoenix.Web.Admin.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/app/phoenixcss")
    @*Select 2 not part of bundle. select2.png not found after minification*@
    <link href="@Url.Content("~/app/bower_components/select2/select2.css")" rel="stylesheet" />
    @RenderSection("AppCss")
    
    @Styles.Render("~/app/bower_components/font-awesome/css/font-awesome.min.css")
    @Scripts.Render("~/app/bower/lib/js")
    @Scripts.Render("~/app/lib/js")
    <script src="@Url.Content("~/app/bower_components/jszip/jszip.min.js")"></script>
    <script src="@Url.Content("~/app/lib/xlsx/xlsx.min.js")"></script>
    @Scripts.Render("~/app/bower_components/textAngular/textAngular.min.js")

    <script type="text/javascript">
            angular.module('phoenix.config', []).constant('phoenix.config', {
                basePath: '@Url.Content("~/")',
                apiPath: '@PhoenixConfiguration.GetPhoenixApiUrl()',
                filesPath: '@PhoenixConfiguration.GetPhoenixApiUrl()' + 'files/',
                defaultUrl: '@ViewBag.DefaultUrl',
                defaultState: '@ViewBag.DefaultState'
            });
    </script>
    @Scripts.Render("~/app/phoenix/js")
    @Scripts.Render("~/app/assets/data/js")
</head>
    <body>
        @RenderBody()
    </body>
</html>