﻿.ta-editor-product-description {
    min-height: 200px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}

.articletype-button-list {  
    .center-block;
    a {
        .center-block;
        margin-top: 10px;
        width: 200px;
    }
    
}