﻿<div class="modal-header">
    <button type="button" class="close" ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title">{{'register.dialog_users' | t}}  ({{vm.users.TotalCount}})</h4>
</div>

<div class="modal-body">    
    <user-list select="vm.saveAndClose" on-query-complete="vm.queryComplete(data)" />
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="vm.cancel()" i18ng="'register.dialog_cancel'">Cancel</a>
    </div>
</div>
