﻿    <p>{{question.Order}}. {{question.Text}} <i ng-show="answer.isSaving" class="fa fa-spinner fa-spin" title="Saving..."></i></p>
<div class="row">
    <div class="col-md-9">
        <div ng-if="question.Type === 'TF'">
            <p>{{'QUESTIONS_TF_INFO' | translate}}</p>
            <div class="radio">
                <label>
                    <input type="radio" name="{{'truefalse'+question.Id}}" ng-model="answer.BoolAnswer" ng-value="true" ng-change="saveAnswer(answer)">
                    {{'TRUE' | translate}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="{{'truefalse'+question.Id}}" ng-model="answer.BoolAnswer" ng-value="false" ng-change="saveAnswer(answer)">
                    {{'FALSE' | translate}}
                </label>
            </div>
        </div>

        <div ng-if="question.Type === 'M'">
            <p>{{'QUESTIONS_M_INFO' | translate}}</p>
            <div class="checkbox" ng-repeat="option in question.Options">
                <label>
                    <input type="checkbox" name="{{'multiple'+question.Id + 'option' + option.Id}}"
                           ng-model="answer.BindableMultipleChoiceAnswers[$index]"
                           ng-true-value="{{option.Id}}"
                           ng-false-value="null"
                           ng-change="saveAnswer(answer)">
                    {{option.Text}}
                </label>
            </div>
        </div>

        <div ng-if="question.Type === 'S'">
            <p>{{'QUESTIONS_S_INFO' | translate}}</p>
            <div class="radio" ng-repeat="option in question.Options">
                <label>
                    <input type="radio" name="{{'single'+question.Id}}" ng-model="answer.SingleChoiceAnswer" ng-value="option.Id" ng-change="saveAnswer(answer)">
                    {{option.Text}}
                </label>
            </div>
        </div>

    </div>
    <div class="col-md-3">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{question.Id + 'marked_for_review'}}"
                       ng-model="answer.IsMarkedForReview"
                       ng-change="saveAnswer(answer)">
                {{'SUMMARY_MARK_FOR_REVIEW' | translate}}
            </label>
        </div>
            
    </div>
</div>