﻿.btn-default {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(#fcfcfd),to(#e0e0e5));
  background-image: -webkit-linear-gradient(top,#fcfcfd 0,#e0e0e5 100%);
  background-image: -moz-linear-gradient(top,#fcfcfd 0,#e0e0e5 100%);
  background-image: linear-gradient(to bottom,#fcfcfd 0,#e0e0e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcfcfd', endColorstr='#ffe0e0e5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.modal-wider .modal-dialog{
    width:900px;
}
.modal-very-wide .modal-dialog{
    width:1100px;
}
.clickable{
    cursor:pointer;
}
.circle_green, .circle_red, .circle_yellow, .circle_gray{
    border: 2px solid #a1a1a1;
    padding: 7px;
    background-color: green;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;    
    float: left;
}
.circle_red{
    background-color: red;
}
.circle_yellow{
    background-color: yellow;
}
.circle_gray{
    background-color: silver;
}
button[disabled]{
    color: #999;
}
.modal-body .grid-container{
    overflow:scroll;height:600px;
}
.ng-invalid-date{
    border-color:red;
}
/*
input.ng-invalid.ng-touched {
background-color: #FA787E;
}

input.ng-valid.ng-touched {
background-color: #78FA89;
}
*/
button.logout{
    float:right;
}
.table-tbody-striped>tbody:nth-child(even)>tr>td, .table-tbody-striped>tbody:nth-child(even)>tr>th, .table-tbody-striped .message{
    background-color:white;
}
.nested-table{
    border: 1px solid gray;
    margin-bottom:0;
}
.nested-table th{
    color:#666;
}
.nested-table.table-bordered>thead>tr>th:first-child, .nested-table.table-bordered>tbody>tr>td:first-child{
    border-left: 4px solid gray;
}
.nested-table.table-bordered>thead>tr>th:last-child, .nested-table.table-bordered>tbody>tr>td:last-child{
    border-right: 1px solid gray;
}
.nested-table.table-bordered>tbody>tr:last-child>td{
    border-bottom: 1px solid gray;
}

@media screen {
    #printSection {
        display: none;
    }
    #participantTable h1{display:none}
}

@media print {
    body * {
        visibility:hidden;
        font-size:92%;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
    .checkboxCol, .buttonsCol{
        display:none;
    }

    .circle_green, .circle_red, .circle_yellow, .circle_gray{
      padding:0;      
      border:5px solid silver;
    }
    .circle_green{
      border:5px solid green;
    }
    .circle_red{
      border:5px solid red;
    }
    .circle_yellow{
      border:5px solid yellow;
    }
}