﻿<div class="row">
    <div class="col-md-12">
        <button class="btn btn-default btn-sm" ng-click="resetFilters()">Reset Filters</button>
        <a ng-if="getExcelSrc()" ng-href="{{getExcelSrc()}}" class="btn btn-primary btn-sm" ng-disabled="reportForm && reportForm.$invalid"><i class="fa fa-download"></i> Export Excel</a>
        <a ng-if="getCsvSrc()" ng-href="{{getCsvSrc()}}" class="btn btn-primary btn-sm" ng-disabled="reportForm && reportForm.$invalid"><i class="fa fa-download"></i> Export Csv</a>
    </div>
</div>