﻿<fieldset>
    <legend>Activity Set</legend>
    <div class="row">
        <label class="control-label col-md-2">Name:</label>
        <div class="col-md-10">
            <a ui-sref="customer.activities.overview.activitysets.item.view({activitySetId: activitySet.Id})">{{activitySet.Name}}</a>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2">Publish:</label>
        <div class="col-md-10" >
            <span ng-if="activitySet.IsPublished">{{activitySet.PublishFrom | date:'dd.MM.yyyy'}} - {{activitySet.PublishTo | date:'dd.MM.yyyy'}}</span>
            <span ng-if="!activitySet.IsPublished">Activity set not published</span>
        </div>
    </div>
    <div class="row">
        <label class="control-label col-md-2">Enrollment:</label>
        <div class="col-md-10">{{activitySet.EnrollmentFrom | date:'dd.MM.yyyy'}} - {{activitySet.EnrollmentTo | date:'dd.MM.yyyy'}}</div>
    </div>
    
    <h4>Activities</h4>
    <p ng-if="activities.length === 0">There are no activities in the activity set</p>
    <div class="list-group" ng-if="activities.length > 0">
        <div class="list-group-item" ng-repeat="activity in activities">
            <span><a class="px-link" ui-sref="customer.activities.overview.activities.item.view({activityId: activity.ActivityId})">{{activity.Name}}</a><br /> {{activity.ArticleType}} - {{activity.ActivityStart | localDate:'DD.MM.YYYY':activity.MomentTimezoneName}} - {{activity.ActivityEnd | localDate:'DD.MM.YYYY':activity.MomentTimezoneName}}</span>
        </div>
    </div>
</fieldset>