﻿<h2 style="margin-top: 0;">{{customerArticle.ArticlePath}}: {{originalActivity.Name}}</h2>
<div>
    <div>
        <div class="row">
            <div class="col-md-12" ng-show="isEditing">
                <div class="row" ng-if="isEditing">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a class="clickable btn btn-sm btn-default" ng-href="{{reportUrl}}"><i class="fa fa-download"></i> Export to Excel</a>
                            <a class="clickable btn btn-sm btn-default" ng-disabled="true"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>

                <div class="top-space">
                    <ng-form name="activityEditForm">
                        <activity-create-info></activity-create-info>
                        <hr />
                        <div class="pull-right">
                            <a ng-click="cancel()" class="btn btn-sm btn-default">Cancel</a>
                            <a ng-click="save()" ng-disabled="!activityEditForm.$valid || !activityExamEditForm.$valid" class="btn btn-sm btn-primary" busy-button is-busy="isBusySaving" busy-text="Saving...">Save</a>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ng-show="!isEditing">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a class="clickable btn btn-sm btn-default" ng-href="{{reportUrl}}"><i class="fa fa-download"></i> Export to Excel</a>
                            <a class="clickable btn btn-sm btn-default" ng-click="edit()"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <activity-info-view></activity-info-view>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="clickable" ng-class="{'active': isParticipantsTabSelected}">
                            <a ng-click="selectTab('participants')">
                                Participants <span ng-show="!isSavingParticipants">({{activity.Participants.length}})</span> <span ng-show="isSavingParticipants" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li ng-if="isMultipleChoice() || isInternalCertification()" class="clickable" ng-class="{'active': isExamsTabSelected}">
                            <a ng-click="selectTab('exams')">
                                Exams <span ng-show="isSavingExams" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-if="isExamPlayerArticle" ng-class="{'active': isEnrollmentConditionsTabSelected}">
                            <a ng-click="selectTab('enrollmentconditions')">
                                Enrollment Conditions <span ng-show="!isSavingResources">({{activity.EnrollmentConditions.length}})</span> <span ng-show="isSavingResources" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-class="{'active': isResourcesTabSelected}">
                            <a ng-click="selectTab('resources')">
                                Resources <span ng-show="!isSavingResources">({{activity.Resources.length}})</span> <span ng-show="isSavingResources" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-class="{'active': isAttachmentsTabSelected}">
                            <a ng-click="selectTab('attachments')">
                                Attachments <span ng-show="!isSavingAttachments">({{activity.Attachments.length}})</span> <span ng-show="isSavingAttachments" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-class="{'active': isAutomailsTabSelected}">
                            <a ng-click="selectTab('automails')">
                                Automails <span ng-show="isSavingAutomail" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-show="isEditMode" ng-class="{'active': isCommentsTabSelected}">
                            <a ng-click="selectTab('comments')">
                                Comments <span ng-show="isCommentsLoaded">({{commentCount}})</span> <span ng-show="!isCommentsLoaded" class="fa fa-spinner fa-spin"></span>
                            </a>
                        </li>
                        <li class="clickable" ng-class="{'active': isCustomInformationTabSelected}">
                            <a ng-click="selectTab('customInformation')">
                                Custom information
                            </a>
                        </li>
                    </ul>
                    <div class="top-space"></div>
                    <div ng-show="isParticipantsTabSelected">
                        <div class="row">

                            <div class="col-md-4">
                                <h4>Participants</h4>
                            </div>
                            <div class="col-md-8">
                                
                                <div class="pull-right">
                                    <div class="input-group input-group-sm" style="width: 300px;">
                                        <input type="text" ng-model="participantFilter" class="form-control" placeholder="Filter list..." ng-change="filterParticipants()" />
                                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                                    </div>
                                </div>

                                <div class="pull-right" style="margin-right: 5px;"ng-show="activity.Participants.length > 0">
                                    <a class="btn btn-sm btn-default" ng-click="bulkSetGrades()" ng-if="isExamArticle || isExamPlayerArticle">
                                        <i class="fa fa-file-text"></i> Bulk grade
                                    </a>
                                    
                                    <a class="btn btn-sm btn-default" ng-show="isSavingParticipants" ng-disabled="true">
                                        <i class="fa fa-pencil"></i> Saving participants ({{selectedParticipants.length}})...
                                    </a>
                                    <a class="btn btn-sm btn-default" ng-click="editSelectedParticipants()" ng-disabled="selectedParticipants.length === 0" ng-show="!isSavingParticipants">
                                        <i class="fa fa-pencil"></i> Edit selected <span ng-show="selectedParticipants.length > 0">({{selectedParticipants.length}})</span>
                                    </a>
                                </div>
                                
                            </div>
                        </div>

                        <p ng-show="activity.Participants.length === 0">
                            The activity has no participants
                        </p>

                        <div ng-show="activity.Participants.length > 0">
                            <table class="table table-condensed">
                                <thead>
									<tr>
										<th><input type="checkbox" title="Select All" ng-model="isAllParticipantsSelected" ng-change="toggleSelectAllParticipants()" /></th>
										<th>First Name</th>
										<th>Last Name</th>
										<th>E-mail</th>
										<th>Type</th>
										<th>Price</th>
										<th>Order Status</th>
										<th>Comments</th>
										<th>Status</th>
										<th ng-if="isExamPlayerArticle">Qualified</th>
										<th ng-if="isExamPlayerArticle || isExamArticle">Result</th>
										<th ng-if="isExamPlayerArticle">Time Remaining</th>
										<th></th>
									</tr>
                                </thead>
                                <tbody>
									<tr ng-init="examStatus = getExamStatus(participant.Id)" ng-repeat="participant in filteredParticipants">
										<td><input type="checkbox" title="Select" ng-model="participant.isSelected" ng-change="participantSelected()" /></td>
										<td>{{participant.user.FirstName}}</td>
										<td>{{participant.user.LastName}}</td>
										<td>{{participant.user.Email}}</td>
										<td>{{(participant.user.CustomerIsArbitrary ? "Arbitrary" : "Corporate")}}</td>
										<td>
											<span ng-if="participant.IsNotBillable">
												Not billable
											</span>
											<span ng-if="!participant.IsNotBillable && !participant.UnitPrice">
												Free
											</span>
											<span ng-if="!participant.IsNotBillable && participant.UnitPrice">
												{{participant.UnitPrice | currency:getCurrencyCode(participant.CurrencyCodeId)+' '}}
											</span>
										</td>
										<td>
											<a ng-if="participant.CurrentOrder" ui-sref="order.view({ orderId: participant.CurrentOrder.Id })">
												<span style="font-weight: normal;" ng-style="{'color' : participant.CurrentOrder.IsCreditNote === true ? 'red' : 'green'}">{{getParticipantOrderStatus(participant)}}</span>
											</a>
											<span style="font-weight: normal;" ng-if="!participant.CurrentOrder">{{getParticipantOrderStatus(participant)}}</span>
										</td>
										<td class="text-center">
											<i ng-if="isParticipantCommentsLoaded === false" class="fa fa-spin fa-spinner" title="Retrieving comments..."></i>
											<span ng-if="isParticipantCommentsLoaded === true && ((participantComments | filter: {EntityId: participant.Id}).length + (participantComments | filter: {EntityId: participant.EnrollmentId}).length + (participantComments | filter: {EntityId: participant.UserId}).length) > 0" class="label label-default">
												<span ng-bind="(participantComments | filter: {EntityId: participant.Id}).length +
                                                      (participantComments | filter: {EntityId: participant.EnrollmentId}).length +
                                                      (participantComments | filter: {EntityId: participant.UserId}).length">

												</span>
											</span>
										</td>
										<td>
											<select name="status" ng-model="participant.StatusCodeValue" ng-selected="participant.StatusCodeValue"
													ng-disabled="participant.isBusyEditing"
													ng-options="code.Value as code.Display for code in participantStatusCodes" ng-change="participantStatusChanged(participant)"></select>
										</td>
										<td ng-if="isExamPlayerArticle" style="text-align: center;">
											<a ng-class="{'clickable' : true}" ng-click="showQualificationPopup(participant)">
												<qualification-status status="{{participant.QualificationStatus}}"></qualification-status>
											</a>
										</td>
										<td ng-if="isExamPlayerArticle || isExamArticle">
											<select name="result" ng-model="participant.Result" ng-selected="participant.Result"
													ng-disabled="participant.isBusyEditing"
													ng-options="code.value as code.text for code in participantResultCodes" ng-change="participantResultChanged(participant)">
												<option></option>
											</select>
										</td>
										<td ng-if="isExamPlayerArticle">
											<span ng-if="examStatus.text">
												{{examStatus.text}}
											</span>
										</td>
										<td>
											<div class="btn-group btn-group-sm">
												<a ng-click="editParticipant(participant)" class="btn btn-sm btn-default btn-sm btn-table" title="Edit Participant" busy-button is-busy="participant.isBusyEditing" busy-text='<i class="fa fa-spinner fa-spin"></i>'><i class="fa fa-pencil"></i></a>
												<a ng-click="moveParticipant(participant)" class="btn btn-sm btn-default btn-sm btn-table" title="Move participant to another activity"><i class="fa fa-truck"></i></a>
											</div>
										</td>
									</tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <ng-form name="activityExamEditForm">
                        <div ng-if="isMultipleChoice() || isInternalCertification()" ng-show="isExamsTabSelected">
                            <activity-create-exam ng-show="isEditing"></activity-create-exam>
                            <activity-exam ng-show="!isEditing"></activity-exam>
                        </div>
                    </ng-form>
                    <div ng-if="isExamPlayerArticle" ng-show="isEnrollmentConditionsTabSelected">
                        <enrollment-conditions activity-id="activity.Id"></enrollment-conditions>
                    </div>
                    <div ng-show="isAutomailsTabSelected">
                        <activity-create-automails activity="activityWithRelatedItems" date-options="dateOptions" customer="customer" article="articleCopy" is-saving="isSavingAutomail"></activity-create-automails>
                    </div>
                    <div ng-show="isResourcesTabSelected">
                        <activity-create-resources activity="activityWithRelatedItems"></activity-create-resources>
                    </div>
                    <div ng-show="isAttachmentsTabSelected">
                        <activity-create-attachments activity="activityWithRelatedItems"></activity-create-attachments>
                    </div>
                    <div ng-show="isCommentsTabSelected">
                        <comments entity="activity" id="{{activity.Id}}" comments-updated="commentsUpdated(comments)"></comments>
                    </div>
                    <div ng-show="isCustomInformationTabSelected">
                        <custom-information entity-id="{{activity.Id}}" entity-type="Activity"></custom-information>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <a ng-click="close()" class="btn btn-sm btn-default">Close</a>
</div>