﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Custom information</h4>
</div>
<div class="modal-body">
    <custom-information entity-id="{{customerArticle.Id}}" on-cancelled-event="cancel()" entity-type="CustomerArticle"></custom-information>
</div>