﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Enrollment Conditions</h4>
</div>
<div class="modal-body">
    <customer-article-enrollment-conditions customer-article-id="customerArticle.Id"></customer-article-enrollment-conditions>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">Close</button>
</div>