﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Edit Customer Article</h4>
</div>
<div class="modal-body">
    <customer-article-create></customer-article-create>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="saveCustomerArticle()" ng-disabled="!customerArticleForm.$valid">Save</a>
    </div>
</div>