﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Create Customer Article</h4>
</div>
<div class="modal-body">
    <h2 class="modal-title" style="margin-top: -10px" ng-show="state === 0">Step 1 of 2 - Connect to article</h2>
    <h2 class="modal-title" style="margin-top: -10px" ng-show="state === 1">Step 2 of 2 - Customer customizations</h2>
    <div ng-show="state === 0" class="top-space">
        <product-article-search article-selected="onArticleSelected(articleId)"></product-article-search>
    </div>
    <div ng-show="state === 1" class="top-space">
        <customer-article-create></customer-article-create>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>


        <span ng-if="state === 0">
            <a class="btn btn-sm btn-primary" ng-disabled="!selectedArticleId" ng-click="next()">Next <i class="fa fa-arrow-right"></i></a>
        </span>
        <span ng-if="state === 1">
            <a class="btn btn-sm btn-default" ng-click="previous()"><i class="fa fa-arrow-left"></i> Previous</a>
            <a class="btn btn-sm btn-primary" ng-click="createCustomerArticle()" ng-disabled="!customerArticleForm.$valid">Create Customer Article</a>
        </span>
    </div>
</div>