<div class="row">
    <div class="col-md-12" ng-class="{'has-error': reportForm && reportForm.customerSearch.$error.validator}">
        <customer-search selected-customer-id="customerId" search-all-distributors clear-on-select></customer-search>
    </div>
</div>

<div class="row top-space">
    <div class="col-md-12" ng-if="customerFilter.length > 0">
        <ul class="selected-list">
            <li ng-repeat="customer in customerFilter">
                <selected-box on-remove="removeCustomerFromFilter(customer)">{{customer.Name}}</selected-box>
            </li>
        </ul>
    </div>
</div>