﻿.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
}
.clickable {
    cursor: pointer;
}
.underline {
    text-decoration: underline;
}
.table-unbordered {
    tbody {
        tr {
            td {
                border: 0;
            }
        }
    }
}
.top-space {
    margin-top: 10px;
}

.pagination {
    li {
        cursor: pointer;
    }
}
.dropdown-menu {
    li {
        cursor: pointer;
    }
}

.nav-tabs {
    li {
        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }   
}

.nav-pills {
    li {
        a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }   
}

.sub-nav {
    .top-space;
    li {
        a {
            padding-top: 6px;
            padding-bottom: 6px;
        }
    }   
}

.selectable {
    .clickable;

    &.selected {
        &,
        &:hover,
        &:focus {
            background-color: @gray-light;
        }
    }

    &:hover {
        background-color: @gray-lighter;
    }
}

@media screen and (min-width: @screen-sm-min) {
    .modal-wide {
        .modal-dialog {
            width: 750px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media screen and (min-width: @screen-sm-min) {
    .modal-wider {
        .modal-dialog {
            width: 950px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media screen and (min-width: @screen-sm-min) {
    .modal-widest {
        .modal-dialog {
            width: 1150px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

@media screen and (min-width: @screen-sm-min) {
    .modal-huge {
        .modal-dialog {
            width: 1450px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

// Vertical separators for columns larger than md
@media screen and (min-width: @screen-md-min) {
    .col-border-right {
        padding-right: 20px; 
        border-right: 1px solid @panel-default-border; 
        margin-right: -1px;
    }
    .col-border-left {
        padding-left: 20px; 
        border-left: 1px solid @panel-default-border;
    }
}

// Fix to prevent buttons from wrapping when in tight spaces (e.g., the table on the tests page)
.btn-group {
    white-space: nowrap;
    > .btn {
        float: inherit;
    }
    > .btn + .btn {
        margin-left: -5px;
    }
}
.btn-table {
    margin-top: -5px; 
    margin-bottom: -4px;
}

.subtle {
    color: @gray;
}

// Drag-and-Drop sortable list styling
.movable {
    cursor: move;
}

.drop-zone {
    border-color: darken(@table-border-color, 10%);
    border-style: dashed;
    border-width: 1px;
}

ul.selected-list {
    padding: 0px;
    li {
        display: inline-block;
    }
}

.center-box {
    margin-left: auto;
    margin-right: auto;
}

.login-box {
    .center-box;
    max-width: 300px;
}

.read-only-form {
    label{
        cursor: default;
    }
    .checkbox{
        cursor: default;
    }
    input[disabled] {
        cursor: default;
    }
}

.text-brand {
    color: @brand-success;
}

.circular-img img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}