﻿<div class="jumbotron">
    <h1>
        <span>
            <i class="fa fa-graduation-cap"></i> Not registered for exam
        </span>
    </h1>
    <p>
        You are not signed up for this exam
    </p>
</div>