﻿<div class="container" style="margin-top: 20px;">
    <div class="jumbotron">
        <h1>
            <span class="text-danger">
                <i class="fa fa-unlink"></i> Four-O-Four
            </span>
        </h1>
        <p>
            The page you are looking for does not exist
        </p>
        <p>
            <a class="btn btn-default btn-lg" href="javascript:window.history.back()">Take me back to where I came from</a>
        </p>
    </div>
</div>