﻿<label>{{label}}:</label>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" ng-class="{open: isOpen}">
            <button class="btn btn-default" ng-class="{'dropdown-toggle':true}" ng-click="isOpen = !isOpen">{{placeholder}} <i class="fa fa-caret-down"></i></button>
            <ul class="dropdown-menu">
                <li ng-repeat="option in options">
                    <a ng-click="dropdownItemClicked(option)" href="javascript:void(0)">
                        <span ng-show="option.isSelected"><i class="fa fa-check"></i> {{option.text}}</span>
                        <span ng-show="!option.isSelected">{{option.text}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <span ng-repeat="option in options | filter:{isSelected:true}" ng-class="getLabelType()" class="label label-tag">{{option.labelText || option.text}} <a style="color: white;" href="javascript:void(0)" ng-click="remove(option)"><i class="fa fa-times" title="Remove"></i></a></span>
    </div>
</div>