﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Add Users</h4>
</div>
<div class="modal-body" ng-if="isInitialized">
    <div class="row">
        <div class="col-md-9">
            <div class="input-group input-group-sm">
                <input type="search" class="form-control" placeholder="Search customer..." ng-model="model.query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
                <span class="input-group-btn">
                    <a class="clickable btn btn-sm btn-primary" ng-disabled="!model.query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="model.searchAllDistributors" /> All distributors
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-12" ng-if="customers.Items.length > 0">
        <h4>Customers ({{customers.TotalCount}})</h4>
        <table class="table table-unbordered table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Accounting ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers.Items" class="selectable" title="Select customer" ng-click="select(customer)" ng-class="{'selected': isSelected(customer)}">
                    <td>{{customer.Name}}</td>
                    <td>{{customer.IsArbitrary ? 'Arbitrary' : 'Corporate'}}</td>
                    <td>{{customer.ExternalCustomerId}}</td>
                </tr>
            </tbody>
        </table>
        <pagination on-select-page="navigate(page)"
                    total-items="customers.TotalCount"
                    items-per-page="limit"
                    page="page"
                    max-size="6"
                    boundary-links="true"
                    rotate="false"></pagination>
    </div>

    <div class="col-md-12 top-space" ng-if="customers.Items.length === 0">
        <p>
            Could not find any customers matching '{{lastSearchQuery}}'
        </p>
    </div>
</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="!model.selectedCustomer">Select customer</a>
    </div>
</div>