﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Select {{customer.Name}} Sub-organizations</h4>
</div>
<div class="modal-body">
    <div class="col-md-12" ng-if="subOrganizations.length > 0">
        <table class="table table-unbordered table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <input type="checkbox" ng-model="model.isAllSelected" ng-change="toggleSelectAll()" title="Select all"/>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subOrganization in subOrganizations" class="selectable" title="Select sub-organization" ng-click="toggleSelect(subOrganization)" ng-class="{'selected': isSelected(subOrganization)}">
                    <td>{{subOrganization.Name}}</td>
                    <td>
                        <input ng-checked="isSelected(subOrganization)" type="checkbox" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 top-space" ng-if="subOrganizations.length === 0">
        <p>
            {{customer.Name}} does not have any sub-organizations
        </p>
    </div>
    <div class="col-md-12" ng-if="model.selectedSubOrganizations.length > 0">
        <h4>Selected ({{model.selectedSubOrganizations.length}})</h4>
        <ul class="selected-list">
            <li ng-repeat="subOrganizations in model.selectedSubOrganizations">
                <selected-box on-remove="toggleSelect(subOrganizations)">{{subOrganizations.Name}}</selected-box>
            </li>
        </ul>
    </div>
</div>

<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="ok()" ng-disabled="model.selectedSubOrganizations.length === 0">Add sub-organizations</a>
    </div>
</div>