<div style="position: relative;">
    <i class="fa fa-spinner fa-spin" ng-show="isSearching" style="position: absolute; right: 10px; top: 10px;"></i>
    <input name="articletypeSelector" class="form-control" ng-required="isRequired" type="text" placeholder="Search articletype..."
           ng-model="articletype" ui-event="{blur: 'setValidSelectedArticletype()' }"
           style="max-width: 400px; padding-right: 30px;"
           typeahead="articletype as articletype.Name + ' (' + articletype.CharCode + ')' for articletype in searchArticletype($viewValue)"
           typeahead-on-select="onArticletypeSelected(articletype)"
           typeahead-wait-ms="400" typeahead-template-url="{{ articletypeSelectorTemplateUrl }}"/>
</div>