﻿/* Prevent ngAnimate from interacting with font awesome's spin animation */
.fa-spin.ng-enter,
.fa-spin.ng-leave {
  -webkit-transition: none;
  transition: none;
} 
.fa-spin.ng-animate {
  -webkit-transition: none;
  transition: none;
}
.fa-spin.ng-animate {
  -webkit-animation: none 0s;
  animation: none 0s;
}

[ui-view].ng-enter.exam-container {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}