﻿// Original Bootstrap
@import "../bower_components/bootstrap/less/bootstrap.less";

// Animations
@import "animations.less";

.timer-danger {
    color: red;
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}