﻿<ng-form name="activitysetForm" class="form-horizontal">

    <div class="form-group" ng-class="{'has-error': activitysetForm.name.$error.required}">
        <label class="col-md-4 control-label">Name</label>
        <div class="col-md-8">
            <input type="text" name="name" class="form-control" ng-model="activitySet.Name" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activitySet.IsPublished" ng-change="isPublishedChanged()"> Publish
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Publish</label>
        <div class="col-md-4">
            <div class="input-group" ng-class="{'has-error': activitysetForm.publishFrom.$error.required || activitysetForm.publishFrom.$error.date}">
                <input type="text" class="form-control" ng-disabled="!activitySet.IsPublished"
                       name="publishFrom"
                       is-open="isPublishFromDatepickerOpen"
                       date-fix="activitySet.PublishFrom"
                       ng-model="activitySet.PublishFrom"
                       placeholder="From (dd.mm.yyyy)"
                       datepicker-popup="dd.MM.yyyy"
                       datepicker-options="dateOptions"
                       ng-required="activitySet.IsPublished">
                <a class="input-group-addon btn btn-default" ng-disabled="!activitySet.IsPublished" ng-click="openDatepicker($event, 'isPublishFromDatepickerOpen')"><i class="fa fa-calendar"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" ng-class="{'has-error': activitysetForm.publishTo.$error.date}">
                <input type="text" class="form-control" ng-disabled="!activitySet.IsPublished"
                       name="publishTo"
                       is-open="isPublishToDatepickerOpen"
                       date-fix="activitySet.PublishTo"
                       ng-model="activitySet.PublishTo"
                       placeholder="To (dd.mm.yyyy)"
                       datepicker-popup="dd.MM.yyyy"
                       datepicker-options="dateOptions">
                <a class="input-group-addon btn btn-default" ng-disabled="!activitySet.IsPublished" ng-click="openDatepicker($event, 'isPublishToDatepickerOpen')"><i class="fa fa-calendar"></i></a>
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Enrollment</label>
        <div class="col-md-4">
            <div class="input-group" ng-class="{'has-error': activitysetForm.enrollmentFrom.$error.required}">
                <input type="text" class="form-control"
                       name="enrollmentFrom"
                       is-open="isEnrollmentFromDatepickerOpen"
                       date-fix="activitySet.EnrollmentFrom"
                       ng-model="activitySet.EnrollmentFrom"
                       placeholder="From (dd.mm.yyyy)"
                       datepicker-popup="dd.MM.yyyy"
                       datepicker-options="dateOptions"
                       required>
                <a class="input-group-addon btn btn-default" ng-click="openDatepicker($event, 'isEnrollmentFromDatepickerOpen')"><i class="fa fa-calendar"></i></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group" ng-class="{'has-error': activitysetForm.enrollmentTo.$error.date}">
                <input type="text" class="form-control"
                       name="enrollmentTo"
                       is-open="isEnrollmentToDatepickerOpen"
                       date-fix="activitySet.EnrollmentTo"
                       ng-model="activitySet.EnrollmentTo"
                       placeholder="To (dd.mm.yyyy)"
                       datepicker-popup="dd.MM.yyyy"
                       datepicker-options="dateOptions">
                <a class="input-group-addon btn btn-default" ng-click="openDatepicker($event, 'isEnrollmentToDatepickerOpen')"><i class="fa fa-calendar"></i></a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="isUnenrollmentPrevented" ng-change="isUnenrollmentPreventedChanged()"> Prevent Unenrollment
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': activitysetForm.unenrollmentDeadline.$error.date}">
        <label class="col-md-4 control-label">Last day for unenrollment</label>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" ng-disabled="!activitySet.IsUnenrollmentAllowed"
                       name="unenrollmentDeadline"
                       is-open="isUnenrollmentDeadlineDatepickerOpen"
                       date-fix="activitySet.UnenrollmentDeadline"
                       ng-model="activitySet.UnenrollmentDeadline"
                       placeholder="dd.mm.yyyy"
                       datepicker-popup="dd.MM.yyyy"
                       datepicker-options="dateOptions">
                <a class="input-group-addon btn btn-default" ng-disabled="!activitySet.IsUnenrollmentAllowed" ng-click="openDatepicker($event, 'isUnenrollmentDeadlineDatepickerOpen')"><i class="fa fa-calendar"></i></a>
            </div>
        </div>
    </div>

</ng-form>   