﻿<ng-form class="form-horizontal" name="customerArticleForm">
    <div class="panel panel-default" ng-if="productDescription">
        <div class="panel-body">
            <product-description-view product-description="productDescription" short-description-only="true" can-toggle-details="true" show-image="false" />
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error': customerArticleForm.title.$error.required}">
        <label class="col-md-3 control-label">Title</label>
        <div class="col-md-9">
            <input type="text" class="form-control" name="title" ng-model="customerArticle.Title" placeholder="Title" required>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">Fixed Price</label>
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon" ng-click="onToggleSelection('FixedPrice')" title="Default setting for billable / not billable on activities">
                    <i ng-if="customerArticle.FixedPriceNotBillable" class="fa fa-toggle-off"></i>
                    <i ng-if="!customerArticle.FixedPriceNotBillable" class="fa fa-toggle-on"></i>
                </span>
                <div ng-class="{'has-error': customerArticleForm.fixedPrice.$error.required}">
                    <input type="number" name="fixedPrice" class="form-control" ng-model="customerArticle.FixedPrice" placeholder="Fixed price" ng-disabled="customerArticle.FixedPriceNotBillable" ng-required="!customerArticle.FixedPriceNotBillable">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-3 control-label">Price Per Participant</label>
        <div class="col-md-9">
            <div class="input-group">
                <span class="input-group-addon" ng-click="onToggleSelection('UnitPrice')" title="Default setting for billable / not billable on participants">
                    <i ng-if="customerArticle.UnitPriceNotBillable" class="fa fa-toggle-off"></i>
                    <i ng-if="!customerArticle.UnitPriceNotBillable" class="fa fa-toggle-on"></i>
                </span>
                <div ng-class="{'has-error': customerArticleForm.unitPrice.$error.required}">
                    <input type="number" name="unitPrice" class="form-control" ng-model="customerArticle.UnitPrice" placeholder="Price per participant" ng-disabled="customerArticle.UnitPriceNotBillable" ng-required="!customerArticle.UnitPriceNotBillable">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group" ng-class="{'has-error': customerArticleForm.currency.$error.required}">
        <label class="col-md-3 control-label">Currency</label>
        <div class="col-md-9">
            <select class="form-control" ng-required="!customerArticle.FixedPriceNotBillable || !customerArticle.UnitPriceNotBillable " name="currency" ng-model="customerArticle.CurrencyCodeId" ng-options="currency.Id as currency.Display + ' (' + currency.Value + ')' for currency in currencies">
                <option></option>
            </select>
        </div>
    </div>
</ng-form>