﻿.px-link {
    font-weight: bold;
}

table {
    tbody{
        a {
            font-weight: bold;        
        }
    }   
    thead {
        th {
            white-space: nowrap;
        }
    }
}


//
// Boostrap 3 - Angular UI (Bootstrap) fixes
// --------------------------------------------------
.modal {
    display: block;
}


//
// Forms
// --------------------------------------------------
.form-horizontal .control-label{
    text-align:left;
}
.input-group-addon {
    .btn-gradient(@input-group-addon-bg);
}


//
// Navbar
// --------------------------------------------------
.navbar {
    border-top: 2px solid @brand-success;
    margin-bottom: 0px;
}
.navbar {
    .nav {
        text-transform: uppercase;
        
        .dropdown {
            text-transform: none;
        }
    }
}
.nav-tabs { 
    .link {
        color: #FFF;
        &:hover {
            color: @gray-lighter;
        }
    }
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  @shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  .box-shadow(@shadow);

  // Reset the shadow
  &:active,
  &.active {
    .box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

// Mixin for generating new styles
.btn-styles(@btn-color: #555) {
    .btn-gradient(@btn-color);
    &:hover,
    &:focus  {
        background-color: darken(@btn-color, 8%);
        background-position: 0 -15px;
    }

    &:active,
    &.active {
        background-color: darken(@btn-color, 12%);
        border-color: darken(@btn-color, 14%);
    }
}

.btn-gradient(@btn-color: #555) {
    #gradient > .vertical(@start-color: lighten(@btn-color, 5%); @end-color: darken(@btn-color, 5%));
    .reset-filter(); // Disable gradients for IE9 because filter bleeds through rounded corners
    background-repeat: repeat-x;
    border-color: darken(@btn-color, 14%);
}

// Common styles
.btn {
  // Remove the gradient for the pressed/active state
  text-transform: uppercase;
  &:active,
  &.active {
    background-image: none;
  }
}

// Apply the mixin to the buttons
.btn-default { .btn-styles(@btn-default-bg); text-shadow: 0 1px 0 #fff; border-color: #ccc; }
.btn-primary { .btn-styles(@btn-primary-bg); }
.btn-success { .btn-styles(@btn-success-bg); }
.btn-warning { .btn-styles(@btn-warning-bg); }
.btn-danger  { .btn-styles(@btn-danger-bg); }
.btn-info    { .btn-styles(@btn-info-bg); }



//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-hover-bg; @end-color: darken(@dropdown-link-hover-bg, 5%));
  background-color: darken(@dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  #gradient > .vertical(@start-color: @dropdown-link-active-bg; @end-color: darken(@dropdown-link-active-bg, 5%));
  background-color: darken(@dropdown-link-active-bg, 5%);
}


//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  .box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
.panel-heading-styles(@color) {
  #gradient > .vertical(@start-color: @color; @end-color: darken(@color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { .panel-heading-styles(@panel-default-heading-bg); }
.panel-primary > .panel-heading   { .panel-heading-styles(@panel-primary-heading-bg); }
.panel-success > .panel-heading   { .panel-heading-styles(@panel-success-heading-bg); }
.panel-info > .panel-heading      { .panel-heading-styles(@panel-info-heading-bg); }
.panel-warning > .panel-heading   { .panel-heading-styles(@panel-warning-heading-bg); }
.panel-danger > .panel-heading    { .panel-heading-styles(@panel-danger-heading-bg); }

//
// Wells
// --------------------------------------------------

.well {
  #gradient > .vertical(@start-color: darken(@well-bg, 5%); @end-color: @well-bg);
  border-color: darken(@well-bg, 10%);
  @shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);
}
