//
// Variables
// --------------------------------------------------

// Grays
// -------------------------
@gray-darker:            #424242;
@gray-dark:              #6A6A6A;
@gray:                   #A2A4A5;
@gray-light:             #C9CED2;
@gray-lighter:           #EEEEF1;

// Brand colors
// -------------------------
@brand-primary:         #465056;
@brand-success:         #C8520E;
@brand-warning:         #F0AD4E; 
@brand-danger:          #B62F05;
@brand-info:            #465056;    

// Scaffolding
// -------------------------
@body-bg:               #fff;
@text-color:            @brand-primary;

// Links
// -------------------------
@link-color:            @brand-primary;
@link-hover-color:      @gray-darker;

// Typography
// -------------------------

@font-family-sans-serif:  "Calibri", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            floor(@font-size-base * 2.75); // ~36px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.7); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

// Iconography
// -------------------------
@icon-font-path:          "../bower_components/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";


// Components
// -------------------------
@component-active-bg:            @brand-success;

// Tables
// -------------------------
@table-bg-accent:                    @gray-lighter; // for striping
@table-bg-hover:                     #E6E6EB;
@table-border-color:                 #C9CED2; // table and cell border


// Buttons
// -------------------------
@btn-default-color:              @brand-primary;
@btn-default-bg:                 @gray-lighter;
@btn-primary-bg:                 @brand-success;

// Labels
// -------------------------
@label-default-bg:            #999;
@label-success-bg:            #5cb85c;
@label-warning-bg:            #f0ad4e;
@label-info-bg:               #5bc0de;


// Forms
// -------------------------
@input-color:                    @brand-primary;
@input-border:                   #ADB4BA;
@input-color-placeholder:        @gray;

// Dropdowns
// -------------------------
@dropdown-border:                #E1E6EA;
@dropdown-divider-bg:            #C9CED2;

@dropdown-link-color:            @brand-primary;
@dropdown-link-hover-color:      #FFF;
@dropdown-link-hover-bg:         @brand-primary;

@dropdown-link-active-color:     #FFF;
@dropdown-link-active-bg:        @brand-primary;


// Grid system
// --------------------------------------------------
@grid-gutter-width:         20px;

// Navbar
// -------------------------

// Basics of a navbar
@navbar-height:                    66px;    
@navbar-default-color:             #FFF;
@navbar-default-bg:                @brand-primary;

// Navbar links
@navbar-default-link-color:                #FFF;
@navbar-default-link-hover-color:          @gray-light;
@navbar-default-link-active-color:         @brand-success;


// Navs
// -------------------------
@nav-link-padding:                          18px 15px;
@nav-link-hover-bg:                         @gray-light;

@nav-tabs-active-link-hover-bg:             @brand-success;
@nav-tabs-active-link-hover-color:          #FFF;
