﻿
// Media queries breakpoints
// --------------------------------------------------
@screen-xs:                  480px;
@screen-sm:                  1000px;
@screen-md:                  1000px;
@screen-lg:                  1240px;

// Container sizes
// --------------------------------------------------
@container-tablet:             ((1000px + @grid-gutter-width));
@container-desktop:            ((1540px + @grid-gutter-width));
@container-large-desktop:      ((1540px + @grid-gutter-width));


// Make navbar follow scrolling over 1000px
@media (min-width: 1000px) {
    .navbar {
        min-width: 1580px;
    }
}