﻿<h2>{{userAccount.User.FirstName}} {{userAccount.User.LastName}} ({{userAccount.Username}})</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button ng-disabled="isEditMode" ng-click="mergeUsers(userAccount.User.Id)" class="btn btn-sm btn-default"><i class="fa fa-user-plus"></i> Merge</button>
                            <a ng-disabled="isEditMode || getSection() === 'enrollments'" ui-sref="customer.user.overview.edit.section({userId: userAccount.User.Id, section: getSection()})" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> Edit</a>
                        </div>
                    </div>
                </div>
                <div ui-view></div>
            </div>

        </div>
    </div>
</div>