﻿<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            
            <div class="form-group">
                <div class="input-group" style="width: 190px;">
                    <input type="text" class="form-control"
                           name="fromDate"
                           date-fix="report.filters.fromDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="From (dd.MM.yyyy)"
                           focus-me="fromDatePickerOpened"
                           ng-blur="fromDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="report.filters.fromDate" />
                    <a class="input-group-addon btn btn-default" ng-click="fromDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>
            
            <div class="form-group">
                <div class="input-group" style="width: 190px; ">
                    <input type="text" class="form-control"
                           name="toDate"
                           date-fix="report.filters.toDate"
                           datepicker-popup="dd.MM.yyyy"
                           placeholder="To (dd.MM.yyyy)"
                           focus-me="toDatePickerOpened"
                           ng-blur="toDatePickerOpened = false"
                           datepicker-options="dateOptions"
                           ng-model="report.filters.toDate" />
                    <a class="input-group-addon btn btn-default" ng-click="toDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                </div>
            </div>

        </div>
    </div>
</div>