﻿<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">Bulk edit Questions ({{questionCount}}) </h4>
</div>
<div class="modal-body">
    <ng-form name="questionBulkEditForm" class="form-horizontal">
        <fieldset>
            <div class="well">

                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': questionForm.difficulty.$error.required}">
                            <label class="col-md-4 control-label" style="text-align: left;">Difficulty level:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="difficulty" ng-model="values.DifficultyId" required ng-options="difficulty.value as difficulty.text for difficulty in difficulties"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': questionForm.status.$error.required}">
                            <label class="col-md-4 control-label" style="text-align: left;">Status:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="status" ng-model="values.StatusId" required ng-options="status.value as status.text for status in statusLevels"></select>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error': questionForm.language.$error.required}">
                            <label class="col-md-4 control-label" style="text-align: left;">Language:</label>
                            <div class="col-md-8">
                                <select class="form-control" name="language" ng-model="values.LanguageId" ng-options="language.Id as language.Name for language in languages"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error': questionForm.points.$error.required}">
                            <label class="col-md-4 control-label" style="text-align: left;">Points:</label>
                            <div class="col-md-8">
                                <input type="number" name="points" class="form-control" ng-model="values.Points" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="text-align: left;">Author:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="values.Author" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><i class="fa fa-cogs"></i>Customer tailored</legend>
            <div class="well">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="text-align: left;">Change setting:</label>
                            <div class="col-md-8">
                                <div class="btn-group col-md-8">
                                    <button type="button" class="btn btn-default" ng-model="values.isChangeCustomerTailoredSetting" btn-radio="true">Yes</button>
                                    <button type="button" class="btn btn-default" ng-model="values.isChangeCustomerTailoredSetting" btn-radio="false">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-4 control-label" style="text-align: left;">Tailored for:</label>
                            <div class="col-md-8">
                                <input ui-event="{blur: 'setValidSelectedCustomer()' }" class="form-control" type="text"
                                       placeholder="Search customer or leave blank to remove existing..."
                                       ng-model="selectedCustomer"
                                       ng-disabled="values.isChangeCustomerTailoredSetting == false"
                                       typeahead="customer as customer.Name for customer in searchCustomer($viewValue)"
                                       typeahead-wait-ms="400"
                                       typeahead-on-select="onCustomerSelected(selectedCustomer)"
                                       typeahead-template-url="{{customerSearchTemplateUrl}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

<fieldset>
    <legend><i class="fa fa-tags"></i> Associations to add</legend>
    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <exam-multiselect-filter label="Products" placeholder="Select products" selected-items="values.selectedProductsToAdd" options="productsToAdd"></exam-multiselect-filter>
            </div>
            <div class="col-md-4">
                <exam-version-filter label="Versions" selected-items="selectedVersionsToAdd"></exam-version-filter>
            </div>
            <div class="col-md-4">
                <exam-tags-filter label="Tags" can-create="true" selected-items="selectedTagsToAdd"></exam-tags-filter>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend><i class="fa fa-tags"></i> Associations to remove</legend>

    <div class="well">
        <div class="row">
            <div class="col-md-4">
                <exam-multiselect-filter label="Products" placeholder="Select products" selected-items="values.selectedProductsToRemove" options="productsToRemove"></exam-multiselect-filter>
            </div>
            <div class="col-md-4">
                <exam-version-filter label="Versions" selected-items="selectedVersionsToRemove"></exam-version-filter>
            </div>
            <div class="col-md-4">
                <exam-tags-filter label="Tags" can-create="true" selected-items="selectedTagsToRemove"></exam-tags-filter>
            </div>
        </div>
    </div>
</fieldset>

    </ng-form>

</div>
<div class="modal-footer">
    <div class="pull-right">
        <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
        <a class="btn btn-sm btn-primary" ng-click="save()">Save</a>
        <!--<a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="$scope.values == {}">Save</a>-->
    </div>
</div>