﻿<div class="well" ng-if="!isInitialized">
    <div>
        <span class="fa fa-spin fa-spinner"></span> Loading...
    </div>
</div>
<div class="well" ng-if="isInitialized">
    
    <div class="row" ng-if="isElearning()">
        <label class="control-label col-md-2">Course link:</label>
        <div class="col-md-8">
            <a ng-click="openRcoCourseInfoModal(rcoCourse.Id)" class="clickable">{{rcoCourse.Version}} - {{rcoCourse.Name}}</a>
        </div>
    </div>
    
    <div class="row" ng-if="isMockexam()">
        <label class="control-label col-md-2">Exam link:</label>
        <div class="col-md-8">
            <a ng-click="openRcoExamInfoModal()" class="clickable">{{rcoExam.Name}}</a>
        </div>
    </div>
    
    <div class="row" ng-if="isElearning()">
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-6">Unlock test points:</label>
                <div class="col-md-6">
                    {{rcoCourse.UnlockFinalPoints}}
                </div>    
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-6">Gold points:</label>
                <div class="col-md-6">
                    {{rcoCourse.GoldPoints}}
                </div>    
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-6">Silver points:</label>
                <div class="col-md-6">
                    {{rcoCourse.SilverPoints}}
                </div>    
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-6">Status:</label>
                <div class="col-md-6">
                    {{getArticleStatusDisplay(article.StatusCodeId)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" ng-if="isMultipleChoice() || isInternalCertification() || isCaseExam() || isExternalCertification() || isProjectAssignment()">
                <label class="control-label col-md-6">ECTS:</label>
                <div class="col-md-6">
                    {{article.ECTS}}
                </div>
            </div>
            <div class="row" ng-if="isElearning() || isClassroom()">
                <label class="control-label col-md-6">PDU:</label>
                <div class="col-md-6">
                    {{article.PDU}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row" ng-if="isMultipleChoice() || isInternalCertification() || isCaseExam() || isExternalCertification() || isProjectAssignment()">
                <label class="control-label col-md-6">Duration:</label>
                <div class="col-md-6">
                    {{article.Duration | duration}}
                </div>
            </div>
        </div>
    </div>

    <div ng-if="isMultipleChoice() || isInternalCertification()">
        <div class="row">
            <label class="control-label col-md-3">Number of Questions:</label>
            <div class="col-md-2">
                {{article.NumberOfQuestions}}
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-3">Questions per page:</label>
            <div class="col-md-2">
                {{article.NumberOfQuestionsPerPage}}
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="isMultipleChoice() || isInternalCertification()">
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-12">Level of difficulty:</label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label class="control-label">Easy:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.EasyQuestionCount}}</span>

                        <label class="control-label">Medium:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.MediumQuestionCount}}</span>

                        <label class="control-label">Hard:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.HardQuestionCount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="isMultipleChoice() || isInternalCertification()">
        <div class="col-md-4">
            <div class="row">
                <label class="control-label col-md-12">Customer specific questions:</label>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label class="control-label">Easy:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.EasyCustomerSpecificCount}}</span>

                        <label class="control-label">Medium:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.MediumCustomerSpecificCount}}</span>

                        <label class="control-label">Hard:</label>
                        <span style="width: 100px; margin-right: 10px;">{{article.HardCustomerSpecificCount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" ng-if="isElearning()">
        <div class="col-md-4">
            <div class="row">
                <label class="col-md-6">Provider number:</label>
                <div class="col-md-6">
                    {{article.ProviderNumber}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <label class="col-md-3">Provider name:</label>
                <div class="col-md-9">
                    {{article.ProviderName}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div ng-if="isMultipleChoice() || isCaseExam() || isExternalCertification() || isProjectAssignment()">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-disabled="true" ng-model="article.IsUserCompetenceInfoRequired"> Require user competence info
                    </label>
                </div>
            </div>
            <div class="row" ng-if="isElearning()">
                <label class="col-md-6">Activity number:</label>
                <div class="col-md-6">
                    {{article.ActivityNumber}}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row" ng-if="isElearning()">
                <label class="col-md-3">Activity name:</label>
                <div class="col-md-9">
                    {{article.ActivityName}}
                </div>
            </div>
        </div>
    </div>
    <div ng-if="isMultipleChoice() || isInternalCertification()">
        <div ng-show="article.ExamResultResponseType === 0" class="row">
            <div class="col-md-12">
                <label>Response text for all results:</label>
                <p>{{article.NoResultResponse}}</p>
            </div>
        </div>
        <div class="row" ng-show="article.ExamResultResponseType === 1">
            <label class="control-label col-md-2">Pass mark (%):</label>
            <div class="col-md-2">
                {{article.MasteryScore | percentage}}
            </div>
        </div>
        <div ng-show="article.ExamResultResponseType === 1" class="row">
            <div class="col-md-12">
                <label>Response text for result below pass mark:</label>
                <p>{{article.BelowRequiredScoreResponse}}</p>    
            </div>
        </div>
        <div ng-show="article.ExamResultResponseType === 1" class="row">
            <div class="col-md-12">
                <label>Response text for result equal to or above pass mark:</label>
                <p>{{article.AboveRequiredScoreResponse}}</p>
            </div>
        </div>

        <div ng-if="article.ArticleExamCourses.length > 0" class="row">
            <label class="control-label col-md-12">Course Connections:</label>
            <div class="col-md-12">
                <ul>
                    <li ng-repeat="examCourse in article.ArticleExamCourses">
                        <a ng-if="getExamRcoCourse(examCourse.CourseRcoId)" class="clickable" ng-click="openRcoCourseInfoModal(examCourse.CourseRcoId)">
                            {{getExamRcoCourse(examCourse.CourseRcoId).Version}} - {{getExamRcoCourse(examCourse.CourseRcoId).Name}}
                        </a>
                        <span ng-if="!getExamRcoCourse(examCourse.CourseRcoId)">Invalid course link</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>