﻿<ng-form name="productArticleForm" ng-if="isInitialized">
    <div class="row">

		<div class="col-md-9">
			<div class="form-group" ng-class="{'has-error': productArticleForm.language.$error.required}">
				<label ng-if="isEditMode" class="control-label">Language:</label>
				<label ng-if="!isEditMode" class="control-label">Select Language:</label>
				<select class="form-control" name="language" ng-disabled="isEditMode"
						ng-model="article.LanguageId" ng-selected="article.LanguageId" name="language"
						ng-options="language.Id as language.Name for language in languages" required ng-change="languageChanged()"></select>
			</div>
			<div class="form-group">
				<label class="control-label">Title:</label>
				<input type="text" class="form-control" ng-model="article.Title" />
			</div>

			<div class="form-group">
				<label class="control-label">Information displayed to enrolled users:</label>
				<text-angular ng-model="article.EnrolledUserActivityInformation"></text-angular>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					<label class="control-label">Information displayed when enrollment is expired</label>
					<text-angular ng-model="article.EnrolledUserActivityExpiredInformation"></text-angular>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">General:</label>
			</div>
			<div class="well form-horizontal">
				<div class="form-group" ng-if="isElearning()">
					<label class="control-label col-md-2">Course link:</label>
					<div class="col-md-8 control-label" ng-if="article.RcoCourseId">
						<span>
							<a ng-if="article.RcoCourseId" ng-click="removeRcoCourse()" title="Unlink course" class="clickable"><i class="fa fa-unlink"></i></a>
							<a ng-click="openRcoCourseInfoModal(article.RcoCourseId)" class="clickable">{{rcoCourse.Version}} - {{rcoCourse.Name}}</a>
						</span>
					</div>
					<div class="col-md-8 control-label" ng-if="!article.RcoCourseId">
						<a ng-click="openSelectRcoCourseModal()" class="clickable" title="Link course..."><i class="fa fa-link"></i> Link course...</a>
					</div>
				</div>

				<div class="form-group" ng-if="isMockexam()">
					<label class="control-label col-md-2">Exam link:</label>
					<div class="col-md-8 control-label" ng-if="article.RcoExamContainerId">
						<span>
							<a ng-if="article.RcoExamContainerId" ng-click="removeRcoExam()" title="Unlink exam" class="clickable"><i class="fa fa-unlink"></i></a>
							<a ng-click="openRcoExamInfoModal()" class="clickable">{{rcoExam.Name}}</a>
						</span>
					</div>
					<div class="col-md-8 control-label" ng-if="!article.RcoExamContainerId">
						<a ng-click="openSelectRcoExamModal()" class="clickable" title="Link exam..."><i class="fa fa-link"></i> Link exam...</a>
					</div>
				</div>

				<div class="row" ng-if="isElearning()">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-6">Unlock test points:</label>
							<div class="control-label col-md-6">{{rcoCourse.UnlockFinalPoints}}</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-6">Gold points:</label>
							<div class="control-label col-md-6">{{rcoCourse.GoldPoints}}</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-6">Silver points:</label>
							<div class="control-label col-md-6">{{rcoCourse.SilverPoints}}</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error': productArticleForm.status.$error.required}">
							<label class="control-label col-md-6">Status:</label>
							<div class="col-md-6">
								<select class="form-control" name="status" ng-model="article.StatusCodeId" ng-options="code.Id as code.Display for code in articleStatuses" required />
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-if="isElearning() || isClassroom() || isSeminar() || isWebinar()">
							<label class="control-label col-md-6">PDU:</label>
							<div class="col-md-6">
								<input type="text" class="form-control" ng-model="article.PDU" style="width: 80px;" />
							</div>
						</div>
						<div class="form-group" ng-if="isMultipleChoice() || isInternalCertification() || isCaseExam() || isExternalCertification() || isProjectAssignment()">
							<label class="control-label col-md-6">ECTS:</label>
							<div class="col-md-6">
								<select class="form-control" ng-model="article.ECTS" ng-options="option for option in ects">
									<option></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-if="isMultipleChoice() || isInternalCertification() || isCaseExam() || isExternalCertification() || isProjectAssignment()"
							 ng-class="{'has-error': productArticleForm.duration.$error.duration}">
							<label class="control-label col-md-6">Duration:</label>
							<div class="col-md-6">
								<input type="text" ng-model="article.Duration" name="duration" duration class="form-control" />
							</div>
						</div>
					</div>
				</div>

				<div class="row" ng-if="isMultipleChoice() || isInternalCertification()">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-12">Level of difficulty:</label>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-inline">
							<label class="control-label">Easy:</label>
							<input type="number" style="width: 100px; margin-right: 10px;" ng-change="easyQuestionCountChanged()" class="form-control" name="easyQuestionCount" ng-model="article.EasyQuestionCount" />

							<label class="control-label">Medium:</label>
							<input type="number" style="width: 100px; margin-right: 10px;" ng-change="mediumQuestionCountChanged()" class="form-control" ng-model="article.MediumQuestionCount" />

							<label class="control-label">Hard:</label>
							<input type="number" style="width: 100px" class="form-control" ng-change="hardQuestionCountChanged()" ng-model="article.HardQuestionCount" />
						</div>
					</div>
				</div>

				<div class="row" ng-if="isMultipleChoice() || isInternalCertification()">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-12">Customer specific questions:</label>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-inline">
							<span ng-class="{'has-error': productArticleForm.easyCustomerSpecificCount.$error.validator}">
								<label class="control-label">Easy:</label>
								<input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!article.EasyQuestionCount" ui-validate=" '!$value || $value <= article.EasyQuestionCount' " ui-validate-watch=" 'article.EasyQuestionCount' " class="form-control" name="easyCustomerSpecificCount" ng-model="article.EasyCustomerSpecificCount" />
							</span>

							<span ng-class="{'has-error': productArticleForm.mediumCustomerSpecificCount.$error.validator}">
								<label class="control-label">Medium:</label>
								<input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!article.MediumQuestionCount" ui-validate=" '!$value || $value <= article.MediumQuestionCount' " ui-validate-watch=" 'article.MediumQuestionCount' " class="form-control" name="mediumCustomerSpecificCount" ng-model="article.MediumCustomerSpecificCount" />
							</span>

							<span ng-class="{'has-error': productArticleForm.hardCustomerSpecificCount.$error.validator}">
								<label class="control-label">Hard:</label>
								<input type="number" style="width: 100px; margin-right: 10px;" ng-disabled="!article.HardQuestionCount" ui-validate=" '!$value || $value <= article.HardQuestionCount' " ui-validate-watch=" 'article.HardQuestionCount' " class="form-control" name="hardCustomerSpecificCount" ng-model="article.HardCustomerSpecificCount" />
							</span>
						</div>
					</div>
				</div>

				<div ng-if="isMultipleChoice() || isInternalCertification()">
					<div class="form-group">
						<label class="control-label col-md-3">Number of Questions:</label>
						<div class="col-md-2">
							<input type="number" disabled class="form-control" ng-model="article.NumberOfQuestions" />
						</div>
					</div>

					<div class="form-group" ng-class="{'has-error': productArticleForm.numberOfQuestionsPerPage.$error.validator}">
						<label class="control-label col-md-3">Questions per page:</label>
						<div class="col-md-2">
							<input type="number" name="numberOfQuestionsPerPage" class="form-control" ui-validate=" '!$value || $value <= article.NumberOfQuestions' " ui-validate-watch=" 'article.NumberOfQuestions' " ng-model="article.NumberOfQuestionsPerPage" />
						</div>
					</div>
				</div>

				<div class="row" ng-if="isElearning()">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label col-md-6">Provider number:</label>
							<div class="col-md-6">
								<input type="text" class="form-control" ng-model="article.ProviderNumber" style="width: 80px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group" ng-if="isElearning()">
							<label class="control-label col-md-3">Provider name:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="article.ProviderName" />
							</div>
						</div>
					</div>
				</div>

				<div class="row" style="margin-bottom: 10px;">
					<div class="col-md-4">
						<div class="checkbox" ng-if="isMultipleChoice() || isCaseExam() || isExternalCertification() || isProjectAssignment()">
							<label>
								<input type="checkbox" ng-model="article.IsUserCompetenceInfoRequired"> Require user competence info
							</label>
						</div>
						<div class="form-group" ng-if="isElearning()">
							<label class="control-label col-md-6">Activity number:</label>
							<div class="col-md-6">
								<input type="text" class="form-control" ng-model="article.ActivityNumber" style="width: 80px;" />
							</div>
						</div>
					</div>
					<div class="col-md-8" ng-if="isElearning()">
						<div class="form-group">
							<label class="control-label col-md-3">Activity name:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="article.ActivityName" />
							</div>
						</div>
					</div>
				</div>

				<div ng-if="isMultipleChoice() || isInternalCertification()">
					<div class="form-group">
						<label class="control-label col-md-2">Exam feedback:</label>
						<div class="btn-group col-md-10">
							<button type="button" class="btn btn-default btn-sm" ng-model="article.ExamResultResponseType" btn-radio="0">No score</button>
							<button type="button" class="btn btn-default btn-sm" ng-model="article.ExamResultResponseType" btn-radio="1">Required score</button>
						</div>
					</div>
					<div class="form-group" ng-show="article.ExamResultResponseType === 0">
						<label class="control-label col-md-12">Response text for all results:</label>
						<div class="col-md-12">
							<textarea class="form-control vertical-scrollbar" rows="5" ng-model="article.NoResultResponse"></textarea>
						</div>
					</div>
					<div class="form-group" ng-class="{'has-error': productArticleForm.masteryScore.$error.required}" ng-show="article.ExamResultResponseType === 1">
						<label class="control-label col-md-2">Pass mark (%):</label>
						<div class="col-md-2">
							<input type="number" ng-required="article.ExamResultResponseType === 1" name="masteryScore" class="form-control" ng-model="article.MasteryScorePercentage" ng-change="onMasteryScorePercentageChanged()" />
						</div>
						<div class="col-md-8 control-label"></div>
					</div>
					<div class="form-group" ng-show="article.ExamResultResponseType === 1">
						<label class="control-label col-md-12">Response text for result below pass mark:</label>
						<div class="col-md-12">
							<textarea class="form-control vertical-scrollbar" rows="5" ng-model="article.BelowRequiredScoreResponse"></textarea>
						</div>
					</div>
					<div class="form-group" ng-show="article.ExamResultResponseType === 1">
						<label class="control-label col-md-12">Response text for result equal to or above pass mark:</label>
						<div class="col-md-12">
							<textarea class="form-control vertical-scrollbar" rows="5" ng-model="article.AboveRequiredScoreResponse"></textarea>
						</div>
					</div>

					<div>
						<label class="control-label">Course Connections:</label>
						<div style="margin-top: 10px;">
							<button class="btn btn-default btn-sm" ng-click="openSelectExamCourseModal()"><i class="fa fa-plus"></i> Add Course Connection...</button>
						</div>

						<ul class="selected-list" style="margin-top: 10px;">
							<li ng-repeat="examCourse in article.ArticleExamCourses" ng-init="rco = getExamRcoCourse(examCourse.CourseRcoId)">
								<selected-box on-remove="removeArticleExamCourse($index)">
									<a class="clickable" ng-click="openRcoCourseInfoModal(examCourse.CourseRcoId)">{{rco.Version}} - {{rco.Name}}</a>
								</selected-box>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div ng-if="isCaseExam() || isProjectAssignment()" class="panel panel-default">
				<div class="panel-body">
					<label class="control-label">Connection to Exam</label>
					<attachment-upload file-uploaded="onExamDocumentUploaded(attachment)"></attachment-upload>

					<div ng-if="article.CaseAttachment">
						<label class="control-label">Uploaded File:</label>
						<div>
							<span><i class="fa fa-file"></i></span>
							<a ng-if="article.CaseAttachment" ng-href="{{article.CaseAttachment | attachmentPath}}" title="{{article.CaseAttachment.Title}}" target="_blank">{{article.CaseAttachment.Title}}</a>
							<a ng-if="article.CaseAttachment" ng-click="deleteExamDocument(attachment)" title="Delete exam document" class="pull-right clickable"><i class="fa fa-times"></i> </a>
							<div title="{{article.CaseAttachment.Description}}">{{article.CaseAttachment.Description}}</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<product-description-summary product-id="article.ProductId"
												 customer-id="article.CustomerId"
												 product-description-id="article.ProductDescriptionId"
												 is-changeable="true"
												 is-editable="true"
												 on-product-description-changed="onProductDescriptionChanged(productDescription)" />
				</div>
			</div>
		</div>

        <div class="col-md-3">
            <label class="control-label">Attachments:</label>
            <attachment-upload file-uploaded="onFileUploaded(attachment)"></attachment-upload>

            <div ng-repeat="attachment in article.Attachments" style="margin-bottom: 5px;">
                <span><i class="fa fa-file"></i></span>
                <a ng-click="deleteAttachment(attachment)" title="Delete attachment" class="pull-right clickable"><i class="fa fa-times"></i> </a>
                <a ng-href="{{attachment | attachmentPath}}" title="{{attachment.Title}}" target="_blank">{{attachment.Title  | characters:25}}</a>

                <div title="{{attachment.Description}}">{{attachment.Description | characters:50}}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="pull-right">
                <a class="btn btn-sm btn-default" ng-click="cancel()">Cancel</a>
                <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!productArticleForm.$valid || (!canSave && canSave !== undefined)" busy-button is-busy="isBusy || (setBusySave && setBusySave !== undefined)" busy-text="Saving...">Save</a>
            </div>
        </div>
    </div>

</ng-form>
