﻿<div ng-if="isInitialized" class="row">
    <div class="col-md-9">
        <product-article-metadata-view article="article"></product-article-metadata-view>

        <div class="panel panel-default">
            <div class="panel-body">
                <product-description-summary product-id="article.ProductId" product-description-id="article.ProductDescriptionId" is-changeable="false" is-editable="false" />
            </div>
        </div>
    </div>

    <div class="col-md-3">
        
        <div ng-if="isCaseExam() || isProjectAssignment()" style="margin-bottom: 10px;">
            <label class="control-label">Exam:</label>
            <div ng-if="article.CaseAttachment">
                <span><i class="fa fa-file"></i></span>
                <a ng-href="{{article.CaseAttachment | attachmentPath}}" title="{{article.CaseAttachment.Title}}" target="_blank">{{article.CaseAttachment.Title}}</a>
                <div title="{{article.CaseAttachment.Description}}">{{article.CaseAttachment.Description | characters:50}}</div>
            </div>
            <p ng-if="!article.CaseAttachment">
                No exam connected with exam
            </p>
        </div>

        <div ng-if="article.Attachments.length > 0">
            <label class="control-label">Attachments:</label>
            <div ng-repeat="attachment in article.Attachments" style="margin-bottom: 5px;">
                <span><i class="fa fa-file"></i></span>
                <a ng-href="{{attachment | attachmentPath}}" title="{{attachment.Title}}" target="_blank">{{attachment.Title  | characters:25}}</a>
                <div title="{{attachment.Description}}">{{attachment.Description | characters:50}}</div>
            </div>
        </div>

    </div>
</div>