﻿<div class="row col-md-12">
    <ul class="nav nav-tabs" ng-if="articles.length > 0">
        <li ng-class="{'active': isSelected(article)}" ng-repeat="article in articles">
            <a href="javascript:void(0)" ng-click="select(article)">
                {{true: 'Select language', false: article.Language.Name}[!article.Language]}}
                <i class="fa fa-times link clickable" ng-click="deleteArticle(article)" title="Delete Article"></i>
            </a>
        </li>
        <li ng-show="isInitialized">
            <a href="javascript:void(0)" title="Add new language" ng-click="addNewLanguage()"><i class="fa fa-plus"></i> Add language</a>
        </li>
    </ul>
    <div class="row">
        
        <div ng-repeat="article in articles">
            <div ng-if="isSelected(article)">
                <div class="col-md-10">
                    <product-article article="article" product-id="productId" on-save="onArticleSaved(articleId)" on-cancel="onArticleCancelled(articleId)"/>
                </div>
            </div>
        </div>
                
        <div ng-if="articles.length === 0">
            <div class="container">
                <h2>No Articles</h2>
                <p>
                    The product doesn't have any articles.
                </p>
                <a href="javascript:void(0)" title="Create New Article" ng-click="addNewLanguage()" class="btn btn-sm btn-default">Create New Article</a>
            </div>

        </div>
    </div>   
    
</div>