﻿<div class="row" ng-if="isInitialized">
    <div class="col-md-10">
        <div ng-if="isEditing">
            <product-article-create article="article"
                                    is-new="isNew"
                                    article-type-id="articleTypeId"
                                    product-id="productId"
                                    customer-id="customerId"
                                    on-save="onArticleSaved(articleId)"
                                    on-cancel="onArticleCancelled(articleId)"></product-article-create>
        </div>
        <div ng-if="!isEditing">
            <product-article-view article="article"></product-article-view>
        </div>

    </div>

    <div class="col-md-2">
        <div>
            <a href="javascript:void(0)" ng-disabled="isEditing"
               class="btn btn-sm btn-default" ng-click="edit()"
               title="Edit product description">
                <i class="fa fa-pencil"></i> Edit
            </a>
        </div>

        <div style="margin-top: 5px;">
            <div ng-show="article.ArticleTypeId" class="form-group">
                <strong>Content Type:</strong>
                <div>{{article.ArticleTypeId | articleTypeName}}</div>
            </div>

            <div ng-show="article.Created" class="form-group">
                <strong>Created:</strong>
                <div>
                    {{article.Created | localDate}}
                </div>
            </div>
            
            <div ng-show="article.CreatedById" class="form-group">
                <strong>Created By:</strong>
                <div>
                    {{article.CreatedBy.FirstName}} {{article.CreatedBy.LastName}}
                </div>
            </div>

            <div ng-show="article.LastModified" class="form-group">
                <strong>Last Modified:</strong>
                <div>
                    {{article.LastModified | localDate}}
                </div>
            </div>
            
            <div ng-show="article.ModifiedById" class="form-group">
                <strong>Modified By:</strong>
                <div>
                    {{article.ModifiedBy.FirstName}} {{article.ModifiedBy.LastName}}
                </div>
            </div>
        </div>
    </div>
</div>
