﻿<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-sm">
            <input type="search" class="form-control" placeholder="Search number, title or language..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'search()'}" />
            <span class="input-group-btn">
                <a class="clickable btn btn-sm btn-primary" ng-disabled="!query" ng-click="search()" title="Search" busy-button is-busy="isSearching" busy-text="<i class='fa fa-spinner fa-spin'></i>"><i class="fa fa-search"></i></a>
            </span>
        </div>
    </div>
    <div class="col-md-12" ng-if="articles.Items.length > 0">
        <h4>Articles ({{numberOfVisibleArticles()}} of {{articles.TotalCount}})</h4>
        <table class="table table-unbordered table-condensed">
            <tbody>
                <tr ng-repeat="article in articles.Items" title="Click to select article" class="selectable" ng-click="select(article.Id)" ng-class="{'selected': selectedArticleId === article.Id}">
                    <td>{{article.Path}}</td>
                    <td>{{article.Title}}</td>
                    <td>{{article.Language}}</td>
                    <td>{{article.ArticleType}}</td>
                    <td>{{article.CourseVersion}}</td>
                </tr>
            </tbody>
        </table>
        <pagination on-select-page="navigate(page)"
                    total-items="articles.TotalCount"
                    items-per-page="limit"
                    page="page"
                    max-size="6"
                    boundary-links="true"
                    rotate="false"></pagination>
    </div>
    <div class="col-md-12 top-space" ng-if="articles.Items.length === 0">
        <p>
            Could not find any articles matching '{{lastSearchQuery}}'
        </p>
    </div>
</div>