@using System.Web.Http.Controllers
@using Metier.Phoenix.Api.Areas.HelpPage
@using Metier.Phoenix.Api.Areas.HelpPage.Models

@model IGrouping<HttpControllerDescriptor, HelpItemApiModel>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ? 
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) : 
        null;
}

<h2 id="@Model.Key">@Model.Key.ControllerName</h2>
@if (!String.IsNullOrEmpty(controllerDocumentation))
{
    <p>@Html.Raw(controllerDocumentation)</p>
}
<table class="help-page-table">
    <thead>
        <tr>
            <th>API</th>
            <th>Description</th>
            <th>Authorized Roles</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var api in Model)
    {
        <tr>
            <td class="api-name"><a href="@Url.Action("Api", "Help", new { apiId = api.ApiDescription.GetFriendlyId() })">@api.ApiDescription.HttpMethod.Method @api.ApiDescription.RelativePath</a></td>
            <td class="api-documentation">
                @if (api.ApiDescription.Documentation != null)
                {
                    <p>@Html.Raw(api.ApiDescription.Documentation)</p>
                }
                else
                {
                    <p>No documentation available.</p>
                }
            </td>
            <td class="api-roles">
                @api.AuthorizedRoles
            </td>
        </tr>
    }
    </tbody>
</table>