﻿<span>
    <span ng-if="isOrderedDescending()">
        <i class="fa fa-sort-up"></i>
        <a class="clickable" ng-click="orderAscending()">{{title}}</a>
    </span>

    <span ng-if="isOrderedAscending()">
        <i class="fa fa-sort-down"></i>
        <a class="clickable" ng-click="orderDescending()">{{title}}</a>
    </span>

    <span ng-if="isNotOrdered()">
        <!--<i class="fa fa-sort"></i>-->
        <a class="clickable" ng-click="orderAscending()" style="white-space:nowrap">{{title}}</a>
    </span>    
</span>