﻿<div class="btn-group" ng-class="{open: isOpen}">
    <button class="btn btn-default btn-sm" ng-class="{'dropdown-toggle':true}" ng-click="isOpen = !isOpen">{{text}} <i class="fa fa-caret-down"></i></button>
    <ul class="dropdown-menu">
        <li ng-repeat="option in options">
            <a ng-click="dropdownItemClicked(option)">
                <span ng-show="option.isSelected"><i class="fa fa-check"></i> {{option.text}}</span>
                <span ng-show="!option.isSelected" style="margin-left: 20px;">{{option.text}}</span>
            </a>
        </li>
    </ul>
</div>

<div class="row top-space">
    <div class="col-md-12">
        <ul class="selected-list">
            <li ng-repeat="option in options | filter:{isSelected:true}">
                <selected-box on-remove="selectBoxRemoved(option)">{{option.text}}</selected-box>
            </li>
        </ul>
    </div>
</div>