﻿.comment-area {
    .comment-box {
        hr {
            margin-top: 5px;
            margin-bottom: 15px;
        }

        .comment-actions {
            .clickable;
            color: @gray-light;

            &:hover {
                color: @link-hover-color;
            }
        }
    }
}

textarea.vertical-scrollbar {
    overflow: auto;
}

.selected-box {
    margin: 2px 4px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 4px 8px;
    border-radius: @panel-border-radius;
    .box-shadow(0 1px 1px rgba(0,0,0,.05));
}