﻿<label ng-if="label">{{label}}</label>
<select ng-model="selectedEducationalPartner.Id" ng-show="!readonly" class="form-control" ng-change="educationalPartnerChanged()"
        ng-options="educationalPartner.Id as educationalPartner.Name for educationalPartner in educationalPartners">
    <option></option>
</select>
<span ng-if="readonly">{{selectedEducationalPartner.Name}}</span>
