﻿<div class="row">
    <div class="col-md-12">
        <h2>Questions ({{questions.TotalCount}}) <i class="fa fa-spin fa-spinner" ng-if="isLoading"></i></h2>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <a ui-sref="exam.questions.create" class="btn btn-success"><i class="fa fa-plus"></i> Create New Question</a>
                <a ui-sref="exam.questions.import" class="btn btn-default"><i class="fa fa-file-text"></i> Import Questions</a>
                <a ng-click="exportQuestions()" class="btn btn-default"><i class="fa fa-download"></i> Export Excel</a>
                <a ng-click="bulkEditQuestions()" class="btn btn-default"><i class="fa fa-file-text"></i> Bulk Edit ({{questions.TotalCount}})</a>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search question text..." ng-model="query" ng-change="onQueryChanged()" ui-keypress="{13: 'searchQuestions()'}" />
                    <span class="input-group-btn">
                        <a class="clickable btn btn-primary" ng-disabled="!query || isSearchingQuestions" ng-click="searchQuestions()">
                            <i ng-if="!isSearchingQuestions" class="fa fa-search" title="Search"></i>
                            <i ng-if="isSearchingQuestions" class="fa fa-spin fa-spinner" title="Searching..."></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-9" ng-class="{'fade-me-out': isLoading}">
                <ng-include src="'app/phoenix.exam/views/templates/question-card.html'" ng-repeat="question in questions.Items"></ng-include>
            </div>
            <div class="col-md-3">
                <h3 style="margin-top: 0;"><i class="fa fa-filter"></i> Filter</h3>
                <exam-multiselect-filter label="Products" label-type="success" placeholder="Select products" selected-items="selectedProducts" options="products"></exam-multiselect-filter>
                <exam-multiselect-filter label="Languages" placeholder="Select languages" selected-items="selectedLanguages" options="languages"></exam-multiselect-filter>
                <exam-multiselect-filter label="Difficulties" placeholder="Select difficulties" selected-items="selectedDifficulties" options="difficulties"></exam-multiselect-filter>
                <exam-multiselect-filter label="Statuses" placeholder="Select statuses" selected-items="selectedStatuses" options="questionStatuses"></exam-multiselect-filter>
                <exam-version-filter label="Versions" selected-items="selectedVersions"></exam-version-filter>
                <exam-tags-filter label="Tags" selected-items="selectedTags"></exam-tags-filter>
                <exam-customers-filter label="Customer specific" selected-customers="selectedCustomers" selected-filter="selectedFilter" filter-options="customerSpecificFilter"></exam-customers-filter>

                <label>Used (from - to):</label>
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control"
                               date-fix="lastUsedFromDate"
                               ng-model="lastUsedFromDate"
                               placeholder="dd.mm.yyyy"
                               ng-change="searchQuestions()"
                               datepicker-popup="dd.MM.yyyy"
                               style="width: 120px;">
                    </div>
                    <div class="form-group">
                        <span> - </span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"
                               date-fix="lastUsedToDate"
                               ng-model="lastUsedToDate"
                               placeholder="dd.mm.yyyy"
                               ng-change="searchQuestions()"
                               datepicker-popup="dd.MM.yyyy"
                               style="width: 120px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="pagination" style="float: left; margin-right: 15px;">
                    <page-limit-selector />
                </span>
                <span>
                    <pagination on-select-page="navigate(page)"
                                total-items="questions.TotalCount"
                                items-per-page="limit"
                                page="page"
                                max-size="10"
                                boundary-links="true"
                                rotate="false"></pagination>
                </span>
            </div>
        </div>
    </div>
</div>