﻿<div class="panel panel-default">
    <div class="panel-body">
        <div ng-if="isEditMode && newestVersion" class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> There is a newer version of this question</h4>
            <a ui-sref="exam.questions.edit({ questionId: newestVersion.Id })"><i class="fa fa-pencil"></i> Edit Newest Version</a>
        </div>

        <ng-form name="questionCreateForm" class="form-horizontal">
            <fieldset>
                <legend><i class="fa fa-question-circle"></i> <span ng-if="!isEditMode">Create New Question</span><span ng-if="isEditMode">Edit Question</span></legend>    
                <question-create question="question" languages="languages" products="products" is-edit-mode="isEditMode"></question-create>
            </fieldset>
            
            <fieldset ng-if="isEditMode">
                <legend><i class="fa fa-comment"></i> Comments</legend>
                <comments entity="question" exclude-header="true" id="{{question.Id}}"></comments>
            </fieldset>
            
            <fieldset ng-if="isEditMode">
                <legend><i class="fa fa-clock-o"></i> Earlier Versions</legend>
                <p ng-if="earlierVersions.length === 0">
                    This questions does not have any earlier versions
                </p>
                <ul ng-repeat="earlierVersion in earlierVersions">
                    <li>
                        <a ui-sref="exam.questions.edit({ questionId: earlierVersion.Id })">{{earlierVersion.Id}} - {{earlierVersion.Text | characters:100}}</a>
                    </li>
                </ul>
            </fieldset>
            
            <div class="row top-space">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                        <a class="btn btn-success" ng-if="!isEditMode" ng-disabled="!questionCreateForm.$valid || isSaving || isCreating || isCreatingAddNew" ng-click="create()">
                            <span ng-if="isCreating"><i class="fa fa-spin fa-spinner"></i> Creating New Question...</span>
                            <span ng-if="!isCreating">Create New Question</span>
                        </a>
                        <a class="btn btn-success" ng-if="!isEditMode" ng-disabled="!questionCreateForm.$valid || isSaving || isCreating || isCreatingAddNew" ng-click="createAndAddNew()">
                            <span ng-if="isCreatingAddNew"><i class="fa fa-spin fa-spinner"></i> Creating New Question...</span>
                            <span ng-if="!isCreatingAddNew">Create And Add Another</span>
                        </a>
                        <a class="btn btn-success" ng-if="isEditMode" ng-disabled="!questionCreateForm.$valid || isSaving || isCreating || isCreatingAddNew" ng-click="update()">
                            <span ng-if="isSaving"><i class="fa fa-spin fa-spinner"></i> Saving Question...</span>
                            <span ng-if="!isSaving">Save Question</span>
                        </a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>