﻿<div class="panel panel-default">
    <div class="panel-body">
        <ng-form name="questionsImportForm" class="form-horizontal">
            
            <fieldset>
                <legend><i class="fa fa-file-text"></i> Import Questions</legend>

                <div class="form-group">
                    <div class="col-md-6">
                        <input type="file" accept=".xlsx" xlsx-file-select="fileSelectModel.selectedFile" class="pull-left" />
                        <span class="pull-left" style="margin-top: 1px;" ng-show="fileSelectModel.selectedFile" ng-click="fileSelectModel.selectedFile = null">
                            <a class="clickable" title="Clear selected file" ng-click="fileSelectModel.selectedFile = null"><i class="fa fa-times"></i></a>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <a class="btn btn-default" ng-href="{{'templates/questions-bulk-import.xlsx' | assetRef}}"><i class="fa fa-file-text-o"></i> Download template</a>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" ng-if="model.parseErrorMsg">
                    <button type="button" class="close" ng-click="model.parseErrorMsg = null;fileSelectModel.selectedFile = null">&times;</button>
                    <h4><i class="fa fa-warning"></i> Error parsing Excel</h4>
                    <p>
                        <em>{{model.parseErrorMsg}}</em>    
                    </p>
                    <p>
                        Please correct your Excel sheet and try again.
                    </p>
                </div>
                
                <div class="alert alert-success" ng-if="model.showImportSuccessMsg">
                    <button type="button" class="close" ng-click="model.showImportSuccessMsg = false">&times;</button>
                    <h4><i class="fa fa-thumbs-up"></i> Questions imported!</h4>
                    <p>
                        Your questions were successfully imported!
                    </p>
                    <p>
                        <button ng-click="cancel()" class="btn btn-default"><i class="fa fa-chevron-left"></i> Back to list</button>
                    </p>
                </div>                
                
                <div class="alert alert-danger" ng-if="model.showImportErrorMsg">
                    <button type="button" class="close" ng-click="model.showImportErrorMsg = false">&times;</button>
                    <h4><i class="fa fa-warning"></i> Error importing Questions</h4>
                    <p>
                        An error occured while trying to import your questions.<br/>
                        Please verify that all questions are correctly filled out and try again.
                    </p>
                </div>

                <div ng-if="model.isParsing">
                    <h2><i class="fa fa-spin fa-spinner"></i> Parsing...</h2>
                </div>
                <accordion ng-if="!model.isParsing">
                    <accordion-group ng-repeat="question in questions" is-open="question.open" style="overflow: initial">
                        <accordion-heading>
                            <i class="fa fa-warning" style="color: #CC0000" ng-if="!accordionQuestionForm.$valid" tooltip="Validation errors"></i>

                            <span class="clickable">
                                {{question.Text | characters:100}}
                            </span>
                            <i class="pull-right fa clickable" ng-class="{'fa-chevron-down': question.open, 'fa-chevron-right': !question.open}"></i>
                        </accordion-heading>
                        <ng-form name="accordionQuestionForm">
                            <question-create question="question" languages="languages" products="products" is-edit-mode="false"></question-create>
                        </ng-form>
                    </accordion-group>
                </accordion>
            </fieldset>
            
            <div class="row top-space">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                        <a class="btn btn-success" ng-if="!isEditMode" ng-disabled="questions.length === 0 || !questionsImportForm.$valid || isImporting" ng-click="import()">
                            <span ng-if="isImporting"><i class="fa fa-spin fa-spinner"></i> Importing Questions...</span>
                            <span ng-if="!isImporting">Import Questions</span>
                        </a>
                    </div>
                </div>
            </div>
        </ng-form>
    </div>
</div>