﻿<ng-form name="advancedUserForm">
    <fieldset>
        <legend>Advanced Info</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="row col-md-12">
                    <h4>User Account Validity</h4>
                </div>
                
                <div class="form-group row" ng-class="{'has-error': advancedUserForm.expiryDate.$error.date}">
                    <label class="control-label col-md-4" for="expiryDate">Expiry Date:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="expiryDate"
                                   date-fix="userAccount.User.ExpiryDate"
                                   datepicker-popup="dd.MM.yyyy"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="expiryDatePickerOpened"
                                   ng-blur="expiryDatePickerOpened = false"
                                   datepicker-options="dateOptions"
                                   ng-model="userAccount.User.ExpiryDate" />
                            <a class="input-group-addon btn btn-default" ng-click="expiryDatePickerOpened = true"><i class="fa fa-calendar"></i></a>
                        </div>



                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="checkbox">
                            <label>
                                <input name="selfEnrollCourses" type="checkbox" ng-model="userAccount.User.ParticipantNotBillable"> Participant is <span class="underline">not</span> billable
                            </label>    
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Communication With User</h4>    
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="control-label">Send automails</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="notificationRadios" ng-model="userAccount.User.UserNotificationType" value="0">
                                Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="notificationRadios" ng-model="userAccount.User.UserNotificationType" value="1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4">Registration notification:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   name="userRegistrationNotificationDate"
                                   date-fix="userAccount.User.UserRegistrationNotificationDate"
                                   datepicker-popup="dd.MM.yyyy"
                                   placeholder="dd.mm.yyyy"
                                   focus-me="userRegistrationNotificationOpened"
                                   ng-blur="userRegistrationNotificationOpened = false"
                                   ng-model="userAccount.User.UserRegistrationNotificationDate" />
                            <a class="input-group-addon btn btn-default" ng-click="userRegistrationNotificationOpened = true"><i class="fa fa-calendar"></i></a>
                        </div>



                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>User Roles</h4>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRolePhoenixUser" ng-change="roleChanged('PhoenixUser', hasRolePhoenixUser)" ng-disabled="isEditingLoggedInUser"> Phoenix user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleLearningPortalUser" ng-change="roleChanged('LearningPortalUser', hasRoleLearningPortalUser)"> Learning portal user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleLearningPortalSuperUser" ng-change="roleChanged('LearningPortalSuperUser', hasRoleLearningPortalSuperUser)"> Learning portal super user
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindAdmin" ng-change="roleChanged('BehindAdmin', hasRoleBehindAdmin)"> Behind admin
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindContentAdmin" ng-change="roleChanged('BehindContentAdmin', hasRoleBehindContentAdmin)"> Behind content admin
                            </label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleBehindSuperAdmin" ng-change="roleChanged('BehindSuperAdmin', hasRoleBehindSuperAdmin)"> Behind super admin
                            </label>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="hasRoleExaminer" ng-change="roleChanged('Examiner', hasRoleExaminer)"> Examiner
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>User Terms and Conditions</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox">
                            <label>
                                <input name="allowEcts" type="checkbox" ng-model="userAccount.User.IsAllowUserEcts"> Allow user ECTS (University Credits)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row top-space" ng-show="!userAccount.User.IsAllowUserEcts">
                    <label class="control-label col-md-12" for="noEctsReason">Reason for not given any ECTS to user</label>
                    <div class="col-md-12">
                        <textarea rows="5" name="noEctsReason" class="form-control" ng-model="userAccount.User.NoEctsReason"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</ng-form>