﻿<ng-form name="userCreateForm" class="form-horizontal">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="template in templates" ng-class="{active: isActiveTemplate(template)}" ng-if="!(isCreateContext && template.queryParam === 'enrollments')">
                    <a class="clickable" ng-show="template.queryParam !== 'enrollments'" ng-click="setActiveTemplate(template)">{{template.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ng-repeat="template in templates" ng-include="template.url" ng-show="isActiveTemplate(template)"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr />
            <div class="text-right">
                <a class="btn btn-sm btn-default clickable" ng-click="cancel()">Cancel</a>
                <a class="btn btn-sm btn-primary clickable" ng-disabled="!userCreateForm.$valid" ng-click="save()" busy-button is-busy="isBusySaving" busy-text="Saving...">Save</a>
                <a ng-if="isCreateContext" class="btn btn-sm btn-primary clickable" ng-disabled="!userCreateForm.$valid" ng-click="createAndAddNew()" busy-button is-busy="isBusySaving" busy-text="Creating User...">Save And Add New</a>
            </div>
        </div>
    </div>
</ng-form>
