﻿<ng-form name="userBasicForm">
    <fieldset>
        <legend>Basic Info</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Name</h4>                        
                    </div>
                </div>
                <div class="form-group" ng-if="!locals.arbitraryCustomer" ng-class="{'has-error': userBasicForm.customerSearch.$error.required}">
                    <div>
                        <label class="col-md-4 control-label" for="customerSearch">
                            Company
                        </label>
                        <div class="col-md-8">
                            <customer-search selected-customer-id="userAccount.User.CustomerId" is-required></customer-search>
                        </div>
                    </div>
                </div>
                
                <div class="form-group" ng-if="locals.arbitraryCustomer" ng-class="{'has-error': userBasicForm.companyName.$error.required}">
                    <div>
                        <label class="col-md-4 control-label" for="companyName">
                            Company Name
                        </label>
                        <div class="col-md-8">
                            <input name="companyName" class="form-control" type="text" placeholder="Company name"
                                   ng-model="userAccount.CompanyName" required />
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="isCreateContext && !isCustomerContext" >
                    <div class="col-md-8 col-md-offset-4">
                        <div class="checkbox">
                            <label>
                                <input name="arbitraryCustomer" type="checkbox" ng-model="locals.arbitraryCustomer" ng-disabled="!!userAccount.User.CustomerId"> Arbitrary Customer
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': userBasicForm.email.$error.email || userBasicForm.email.$error.required || hasEmailErrorMsg}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.email.$error.email">
                        <label class="control-label">Invalid email</label>
                    </div>
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.email.$error.required">
                        <label class="control-label">Email is missing</label>
                    </div>
                    <div class="col-md-8 col-md-offset-4" ng-show="hasEmailErrorMsg">
                        <label class="control-label">{{hasEmailErrorMsg}}</label>
                    </div>
                    <div>
                        <label class="control-label col-md-4" for="email">Email</label>
                        <div class="col-md-8">
                            <input name="email" ng-blur="updateUsername()" class="form-control" type="email" ng-model="userAccount.Email" required />
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': userBasicForm.userName.$error.required || usernameErrorMsg}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.userName.$error.required">
                        <label class="control-label">User Name is missing</label>
                    </div>
                    <div class="col-md-8 col-md-offset-4" ng-show="usernameErrorMsg">
                        <label class="control-label">{{usernameErrorMsg}}</label>
                    </div>
                    <div>
                        <label class="control-label col-md-4" for="userName">User Name</label>
                        <div class="col-md-8">
                            <input name="userName" class="form-control" type="text" required ng-model="locals.Username" ng-disabled="isEditingLoggedInUser" />
                        </div>
                        <div class="col-md-offset-4 col-md-8 top-space" ng-if="isEditingLoggedInUser">
                            <div class="alert alert-info">
                                <i class="fa fa-info-circle"></i> Cannot change User Name of logged in user. <br/>
                                Please contact another Phoenix user.    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': userBasicForm.firstName.$error.required}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.firstName.$error.required">
                        <label class="control-label">First name is missing</label>
                    </div>
                    <div>
                        <label class="control-label col-md-4" for="firstName">First Name</label>
                        <div class="col-md-8">
                            <input name="firstName" class="form-control" type="text" required ng-model="userAccount.User.FirstName" />
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': userBasicForm.lastName.$error.required}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.lastName.$error.required">
                        <label class="control-label">Last name is missing</label>
                    </div>
                    <div>
                        <label class="control-label col-md-4" for="lastName">Last Name</label>
                        <div class="col-md-8">
                            <input name="lastName" class="form-control" type="text" ng-model="userAccount.User.LastName" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="phone">Phone Number</label>
                    <div class="col-md-8">
                        <input name="phone" class="form-control" type="text" ng-model="userAccount.User.PhoneNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="externalUserId">External User ID</label>
                    <div class="col-md-8">
                        <input name="externalUserId" class="form-control" type="text" ng-model="userAccount.User.ExternalUserId" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <h4>Mail Address</h4>
                </div>
                <div class="form-group" ng-class="{'has-error': userBasicForm.address.$error.required}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.address.$error.required">
                        <label class="control-label">Address 1 is missing</label>
                    </div>
                    <label class="control-label col-md-4" for="address">Address 1</label>
                    <div class="col-md-8">
                        <input name="address" class="form-control" type="text" ng-required="locals.arbitraryCustomer" ng-model="userAccount.User.StreetAddress" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="address2">Address 2</label>
                    <div class="col-md-8">
                        <input name="address2" class="form-control" type="text" ng-model="userAccount.User.StreetAddress2" />
                    </div>
                </div>
                
                <div class="form-group" >
                    <div class="col-md-offset-4 col-md-3" ng-class="{'has-error': userBasicForm.zipCode.$error.required}">
                        <label class="control-label" ng-show="userBasicForm.zipCode.$error.required">Zip is missing</label>
                    </div>
                    <div class="col-md-5" ng-class="{'has-error': userBasicForm.city.$error.required}">
                        <label class="control-label" ng-show="userBasicForm.city.$error.required">City is missing</label>
                    </div>

                    <label class="control-label col-md-4">Zip / City</label>
                    <div class="col-md-3" ng-class="{'has-error': userBasicForm.zipCode.$error.required}">
                        <input name="zipCode" class="form-control" type="text" ng-required="locals.arbitraryCustomer" ng-model="userAccount.User.ZipCode" />
                    </div>
                    <div class="col-md-5" ng-class="{'has-error': userBasicForm.city.$error.required}">
                        <input name="city" class="form-control" type="text" ng-required="locals.arbitraryCustomer" ng-model="userAccount.User.City" />
                    </div>
                </div>
                
                <div class="form-group" ng-class="{'has-error': userBasicForm.country.$error.required}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.country.$error.required">
                        <label class="control-label">Country is missing</label>
                    </div>
                    <label class="control-label col-md-4" for="country">Country</label>
                    <div class="col-md-8">
                        <select class="form-control" name="country" ng-required="locals.arbitraryCustomer"
                                ng-model="userAccount.User.Country" ng-selected="userAccount.User.Country"
                                ng-options="country.Value as country.Display for country in countries" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4>Additional Info</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="checkbox pull-right">
                            <label>
                                <input type="checkbox" ng-model="locals.showAllInfoElements"> Show all fields
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="locals.showAllInfoElements || customLeadingText.IsVisible || locals.arbitraryCustomer" ng-init="customLeadingText = getCustomLeadingText(leadingText)" ng-repeat="leadingText in leadingTexts">
                    <label class="control-label col-md-4">{{customLeadingText.Text}}</label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" ng-model="getUserInfoElement(leadingText).InfoText" />
                    </div>
                    <div class="col-md-4"><span ng-if="customLeadingText.Text">({{leadingText.Text}})</span></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Profile</h4>    
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-md-4">
                        <div ng-if="!imageSource">
                            <placeholder-image />
                        </div>
                        <div ng-if="imageSource">
                            <img ng-src="{{imageSource}}" class="img-thumbnail" />
                        </div>
                        <a class="clickable btn btn-sm btn-danger" ng-disabled="!userAccount.User.Attachment" ng-click="deleteImage()" style="margin-top: 10px;"><i class="fa fa-trash-o"></i> Delete Image</a>
                    </div>
                    <div class="col-md-8">
                        <attachment-upload file-uploaded="onFileUploaded(attachment, fileUrl)" edit-title="false" edit-description="false" accept="image/*" />
                    </div>
                </div>
                -->
                <div class="form-group" style="margin-top: 10px;" ng-class="{'has-error': userBasicForm.preferredLanguage.$error.required}">
                    <div class="col-md-8 col-md-offset-4" ng-show="userBasicForm.preferredLanguage.$error.required">
                        <label class="control-label">Preferred language is missing</label>
                    </div>
                    <label class="control-label col-md-4">Preferred Language</label>
                    <div class="col-md-8">
                        <select class="form-control" name="preferredLanguage" ng-required="locals.arbitraryCustomer"
                                ng-model="userAccount.User.PreferredLanguageId" ng-selected="userAccount.User.PreferredLanguageId"
                                ng-options="language.Id as language.Name for language in languages" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>Password</h4>
                    </div>
                    <div class="col-md-8" style="margin-left: 0px;" ng-class="{'has-error': userBasicForm.passwordRepeat.$error.password_match_error}">
                        <label ng-if="userBasicForm.passwordRepeat.$error.password_match_error" class="control-label">Passwords doesn't match!</label>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="locals.setPasswordManually" /> Set password manually
                    </label>
                </div>
                <div ng-if="!locals.setPasswordManually && !isCreateContext">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <a class="btn btn-sm btn-default clickable" ng-click="resetPassword()" busy-button is-busy="isBusyResettingPassword" busy-text='<i class=" fa fa-lock"></i> Resetting Password...'><i class="fa fa-lock"></i> Reset password</a>
                        </div>
                    </div>
                </div>
                <div ng-if="locals.setPasswordManually" class="top-space">
                    <div class="form-group" ng-class="{'has-error': userBasicForm.password.$error.required}">
                        <label class="control-label col-md-4">Password</label>
                        <div class="col-md-8">
                            <input name="password" class="form-control" type="password" ng-model="userAccount.password" ng-required="isCreateContext && locals.setPasswordManually" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': userBasicForm.passwordRepeat.$error.required}">
                        <label class="control-label col-md-4">Repeat new password</label>
                        <div class="col-md-8">
                            <input name="passwordRepeat" class="form-control" type="password" ng-model="userAccount.passwordRepeat" ui-validate="{'password_match_error': '$value===userAccount.password'}" ui-validate-watch="'userAccount.password'" ng-required="isCreateContext && setPasswordManually" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-4">
                            <a class="btn btn-sm btn-default clickable" ng-disabled="userBasicForm.passwordRepeat.$error.password_match_error" ng-show="!isCreateContext" ng-click="changePassword()" busy-button is-busy="isBusyChangingPassword" busy-text='<i class=" fa fa-lock"></i> Changing Password...'><i class="fa fa-lock"></i> Change password</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>    
</ng-form>
